.about-page {
  text-align: center;
}

.about-page__header {
  align-items: flex-end;
  padding-bottom: 60px;
  .decoration {
    margin: 0 auto;
  }
}

.about-page__header__title {
  margin: 39px 0;
}

.about-page__history {
  height: 1760px;
  padding: 90px 0 0;
}

.about-page__history__decoration {

}

.about-page__history__icon {
  width: 160px;
  height: 160px;
  margin: 17px auto 0;
}

.about-page__history__title {
  margin-top: 51px;
  font: bold 36px/40px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.about-page__history__description {
  font: 18px/30px 'Georgia', serif;
  margin: 20px auto 0;
}

.about-page__history__photo {
  width: 260px;
  height: 260px;
  margin: 41px auto 0;
  background-size: cover;
}

.about-page__history__stats {
  margin-top: 49px;
  padding: 0 61px;
  display: flex;
  justify-content: space-between;
}

.about-page__history__stat {
  width: 285px;
}

.about-page__history__stat__value {
  font: 200 96px/121px 'Geometria', sans-serif;
  .plus {
    display: inline-block;
    vertical-align: bottom;
    font-size: 60px;
  }
}

.about-page__history__stat__title {
  margin-top: 10px;
  font: 28px/39px 'Geometria', sans-serif;
  text-transform: uppercase;
  &:before {
    content: '';
    display: block;
    width: 180px;
    margin: 0 auto 22px;
    border-bottom: 2px solid #C0C9CD;
  }
  &:after {
    content: '';
    display: block;
    width: 180px;
    margin: 20px auto 0;
    border-bottom: 2px solid #C0C9CD;
  }
}

.about-page__history__house {
  &:before {
    content: '';
    display: block;
    height: 100px;
    width: 2px;
    background: #C0C9CD;
    margin: 50px auto 0;
  }
}

.about-page__history__house__icon {
  width: 154px;
  height: 122px;
  margin: 38px auto 0;
  background-repeat: no-repeat;
}

.about-page__history__house__title {
  margin-top: 50px;
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.about-page__history__house__description {
  width: 440px;
  margin: 19px auto 0;
  font: 18px/30px 'Georgia', sans-serif;
}

.about-page__collections {
  height: 610px;
  background-size: cover;
  background-position: center top;
}

.about-page__collections__content {
  color: white;
  padding: 199px 0 0;
  width: 1080px;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 976px;
  }

}

.about-page__collections__title {
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
  margin: 10px 0 18px;
}

.about-page__collections__list {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
}

.about-page__collections__list__item {
  width: 243px;
}

.about-page__collections__list__item__title {
  color: white;
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
}

.about-page__collections__list__item__description {
  margin-top: 5px;
  font: 14px/20px 'Georgia', serif;
}

.about-page__quality {
  height: 810px;
  background-size: cover;
  background-position: center top;
}

.about-page__quality__content {
  background: white;
  width: 1080px;
  height: 790px;
  top: -50px;
  padding: 100px 0 0;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 976px;
  }
}

.about-page__quality__title {
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.about-page__quality__description {
  width: 280px;
  font: 18px/30px 'Georgia', serif;
  margin: 9px auto 0;
}

.about-page__quality__steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 90px;
  padding: 0 130px;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    padding: 0 80px;
  }
}

.about-page__quality__steps__step {
  margin: 0 10px 144px;
  flex: 0 0 auto;
  position: relative;
}

.about-page__quality__steps__step__image {
  width: 100px;
  height: 100px;
}

.about-page__quality__steps__step__title {
  margin-top: 24px;
  position: absolute;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  font: bold 11px/20px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.about-page__quality__steps__arrow {
  width: 60px;
  height: 10px;
  flex: 0 0 auto;
  margin: 42px 25px 0;
}

.about-page__partner {
  height: 990px;
  background: #CCCCDD;
  padding: 100px 0 0;
}

.about-page__partner__decoration {
}

.about-page__partner__title {
  margin-top: 29px;
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.about-page__partner__description {
  margin: 19px auto 0;
  width: 480px;
  font: 18px/30px 'Georgia', serif;
}

.about-page__partner__list {
  font: 18px/30px 'Georgia', serif;
  &:before {
    content: '';
    display: block;
    width: 20px;
    border-bottom: 2px solid #67798B;
    margin: 20px auto 18px;
  }
}

.about-page__partner__list__item {

}

.about-page__malls {
  top: -480px;
  margin: 0 auto 213px;
  background: white;
  height: 640px;
  position: relative;
  z-index: 2;
}

.about-page__malls__decoration {
  margin-top: 90px;
}

.about-page__malls__description {
  width: 640px;
  margin: 28px auto 0;
  font: 18px/30px 'Georgia', serif;
}

.about-page__malls__types {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  margin-top: 42px;
}

.about-page__malls__type {
  &.offline {
    width: 520px;
  }
  &.online {
    width: 240px;
  }
}

.about-page__malls__type__image {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.about-page__malls__type__stores {
  display: flex;
  text-align: left;
  margin-top: 36px;
}

.about-page__malls__type__stores__title {
  font: bold 11px/20px 'Geometria';
  text-transform: uppercase;
  width: 120px;
  color: #00263A;
}

.about-page__malls__type__stores__list {
  display: flex;
}

.about-page__malls__type__stores__list__column {
  height: 120px;
  border-left: 2px solid #8E9BA6;
  padding-left: 20px;
  & + & {
    margin-left: 45px;
  }
}

.about-page__malls__type__stores__list__item {
  display: block;
  font: bold 11px/20px 'Geometria';
  text-transform: uppercase;
  color: #8E9BA7;
}

.about-page__business {
  margin-top: -853px;
  padding: 260px 0 175px;
  background: #D4E3D9;
}

.about-page__business__title {
  font: bold 18px/30px 'Geometria', sans-serif;
}

.about-page__business__decoration {
  margin-top: 29px;
}

.about-page__business__description {
  margin: 29px auto 0;
  width: 710px;
  font: 18px/30px 'Georgia', serif;
}

.about-page__business__stat {
  width: 300px;
}

.about-page__business__stats {
  margin-top: 94px;
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
}

.about-page__business__stat__value {
  font: 200 98px 'Geometria', sans-serif;
}

.about-page__business__stat__title {
  margin: 7px auto 0;
  font: 28px/39px 'Geometria', sans-serif;
  text-transform: uppercase;
  width: 280px;
}

.about-page__business__stat__subtitle {
  margin: 3px auto 0;
  width: 230px;
  font: 14px/20px 'Georgia', serif;
}

.about-page__contacts {
  padding: 150px 0;
}

.about-page__contacts__title {
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.about-page__contacts__decoration {
  margin-top: 30px;
}

.about-page__contacts__phone {
  margin-top: 23px;
  font: 200 48px 'Geometria', sans-serif;
}

.about-page__contacts__phone-hint {
  margin-top: 24px;
  font: 18px/30px 'Georgia', serif;
}

