.campaign-page {
  margin-bottom: 20px;

  .svg-decoration-3 {
    width: 168px;
    height: 21px;
  }


  .text-with-decorations {
    &.for-campaign {
      padding-top: 50px;

      .suptitle {
        margin-bottom: 35px;
        font-size: 30px;
        font-family: Georgia, sans-serif;
      }
    }
  }

  .collection-header {
    filter: blur(10px);
    transition: filter 2s 0.9s cubic-bezier(0.4, 0, 0.2, 1);


    &.showed {
      filter: blur(0);

      .heading {
        display: block;
      }
    }

    .heading {
      top: 35px;
      color: #00263A;
      bottom: auto;
      text-shadow: none;
      display: none;
    }

    .text {
      margin-bottom: 0;
    }

    .name {
      font-size: 22px;
      line-height: 30px;
    }
  }

  .text-with-decorations {
    .text {
      font-size: 60px;
      font-weight: 300;
      line-height: 1.33;
      margin: 54px 0;
    }
  }

  .diagonal-blocks {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .block {
      width: 610px;
    }

    .image {
      background-size: cover;
      width: 100%;
      height: 610px;
    }

    .images {
      width: 610px;
      height: 610px;
      position: relative;
      overflow: hidden;

      .image {
        position: absolute;
        left: 110%;
        top: 0;

        &.prepared {
          transition: left 1000ms ease;
        }

        &.active {
          left: 0;
        }

        &.hide {
          left: -110%;
        }
      }
    }

    .text {
      text-align: center;
      font-size: 16px;
      line-height: 1.85;
      font-family: Georgia, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;

      p {
        margin-bottom: 25px;
      }

      .comment {
        margin-bottom: 0;
        font-style: italic;
        color: #677D80;
        text-transform: none;
      }
    }
  }

  .no-margin {
    margin-bottom: 0 !important;
  }

  .two-diagonal-blocks {
    margin: 0 -70px 100px;

    .text {
      margin: 110px 0;

      &.big-text {
        margin: 83px 0;
      }
    }
  }

  .three-diagonal-blocks {
    align-items: stretch;
    margin-bottom: 100px;

    .block-left,
    .block-right {
      flex-grow: 1;
      width: auto;

      .image {
        background-size: auto 100%;
        background-position: left 0;
        background-repeat: no-repeat;
        background-color: #f1ddde;
      }
    }

    .block-left {
      align-self: flex-end;

      .image {
        background-position: right 0;
      }
    }

    .text {
      margin: 75px 0;
    }
  }

  .centered-photo {
    position: relative;
    margin-bottom: 140px;
    margin-top: 150px;

    &.small-margin {
      margin-top: 92px;
      margin-bottom: 72px;
    }

    .text {
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;
      z-index: 1;
      position: relative;
      font-family: Georgia, sans-serif;
      padding: 68px 0 63px;
      letter-spacing: 1px;
      margin: 0;

      &.columns {
        font-size: 0;
        padding-right: 265px;
      }

      .column {
        font-size: 16px;
        width: 240px;
        display: inline-block;
        margin: 0 20px;
      }
    }

    .image {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 1082px;
      height: 610px;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      @media only screen and (min-width: 769px) and (max-width: 1239px) {
        width: 944px;
        height: 532px;
      }
    }

    .bg {
      display: block;
      position: absolute;
      z-index: 0;
      width: 50%;
      height: 100%;

      &.bg-wide {
        width: 100%;
        left: 0;
        top: 0;
        height: 610px;
      }

      &.bg-left {
        right: 50%;
        top: 70px;
      }

      &.bg-right {
        left: 50%;
        top: -70px;
      }

      &.bg-padding {
        box-sizing: border-box;
        height: 610px;

        span {
          display: block;
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-size: auto 100%;
        }

        &.bg-left {
          padding-right: 300px;
          bottom: 0px;
          top: auto;

          span {
            background-position: right 0;
          }
        }

        &.bg-right {
          padding-left: 300px;
          top: 0px;

          span {
            background-position: left 0;
          }
        }


      }
    }
  }

  .cta {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    .text {
      font-family: Georgia, sans-serif;
      margin-bottom: 25px;
      letter-spacing: 1px;
    }

    .title {
      font-size: 60px;
      color: #00263A;
      letter-spacing: 2px;
      font-weight: 300;
    }
  }

  .products-block {
    margin-bottom: 100px;

    .text {
      font-size: 16px;
      margin-bottom: 63px;
      text-align: center;
      font-family: Georgia, sans-serif;
      letter-spacing: 1px;

      &.uppercase {
        text-transform: uppercase;
      }

      &.large {
        font-size: 18px;
        margin-bottom: 72px;
      }
    }

    .products {
      font-size: 0;

      .product {
        display: inline-block;
        margin-left: 40px;
        width: 240px;
        height: 240px;
        position: relative;
        overflow: hidden;

        @media only screen and (min-width: 769px) and (max-width: 1239px) {
          margin-left: 20px;
          width: 229px;
          height: 229px;
        }

        span.image,
        a {
          display: block;
          width: 100%;
          height: 100%;
        }

        &:first-child {
          margin-left: 0;
        }

        a,
        span.image {
          position: absolute;
          top: 0;
          left: 110%;

          &.prepared {
            transition: left 1000ms ease;
          }

          &.active {
            left: 0;
          }

          &.hide {
            left: -110%;
          }
        }
      }
    }
  }

  .banner {
    height: 610px;
    margin-bottom: 100px;
    background-size: cover;
    text-align: center;

    .text {
      font-size: 60px;
      line-height: 80px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      padding-top: 202px;
    }

    .b-with-media__content__link {
      margin-top: 45px;
    }
  }

}


.legend-page {
  .text-1 {
    margin: 90px 0 86px;
    .text {
      margin: 36px 0 42px;
    }
    .subtext {
      width: 620px;
      margin: 40px auto 0;
    }
  }
}

.b-video {
  position: relative;
  display: block;
  width: 1080px;
  height: 610px;
  margin: 0 auto;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 1024px;
  }

  video {
    width: 100%;
    height: 100%;
  }
}

.b-shift-block {

}

.b-shift-block__shifter {
  position: relative;
  top: -70px;
}

.b-legend__machine {
}

.b-legend__machine__title {
  text-align: center;
  color: #558080;
}

.b-legend__machine__title__text {
  margin-top: 52px;
  font: 300 60px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.b-legend__machine__videowrapper {
  margin-top: 130px;
  padding-bottom: 178px;
}

.b-legend__machine__texts-header {
  text-align: center;
  color: white;
  .text {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.b-legend__machine__texts {
  margin-top: 41px;

  .collapsed-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}

.b-legend__machine__text {
  color: white;
  font: 17px/30px 'Georgia', serif;
  width: 520px;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 460px;
  }
}

.b-legend__house {
  text-align: center;
  padding: 100px 0 135px;
}

.b-legend__house__icon {
}

.b-legend__house__content {
  width: 520px;
  margin: 75px auto 0;
  font: 18px/30px 'Georgia', serif;
  color: #677D80;
}

.b-legend__end {
  .content {
    color: #00263A;
  }
}
