.catalogue-header-banner {
  height: 325px;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
}

.catalogue {
  overflow: hidden; // clearfix
}

.catalogue-controls {
  margin: 45px 0;
  padding-left: 280px;
  text-align: justify;
  font-size: 0;
  line-height: 1;

  .filters-counter {
    display: none;
  }

  &::after {
    display: inline-block;
    width: 100%;
    content: '';
  }

  .view {
    display: inline-block;
    vertical-align: middle;
  }

  .view-button {
    margin-right: 20px;
    padding: 0;
    transition: color 0.15s;
    vertical-align: middle;
    border: none;
    background: none;
    font-size: 0;

    &.active {
      cursor: default;
      color: #8b98a4;
    }
  }

  .sorting {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;

    .text {
      color: #a8afb7;
      margin-right: 1px;
    }

    .type {
      cursor: pointer;
    }

    .drop-down {
      display: inline-block;
      vertical-align: top;
      position: relative;
      top: 1px;

      span {
        display: block;
      }

      .types {
        display: none;
        position: absolute;
        left: -5px;
        padding: 8px 5px 5px;
        line-height: 24px;
        top: 10px;
        background: #fff;
        width: 150px;

        span:hover {
          color: #808080;
        }

        .active {
          display: none;
        }

        &.showed {
          display: block;
        }

        .svg-icon-filter-check,
        .arrow {
          display: none;
        }
      }

    }

    .arrow {
      margin-left: 5px;
      cursor: pointer;
      vertical-align: middle;

      .svg-sorting-arrow-up {
        display: none;
      }
    }

    .ascending {
      .svg-sorting-arrow-down {
        display: none;
      }

      .svg-sorting-arrow-up {
        display: inline-block;
      }
    }
  }
}

.catalogue-filter {
  float: left;
  width: 240px;

  .confirm {
    display: none;
  }

  .filter-group {
    padding: 20px 0;
    border-bottom: 1px solid #c4c8cc;
  }

  .filter-group-title {
    position: relative;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;

    .text {
      cursor: pointer;
    }
  }

  .reset-filters {
    margin-top: -60px;
    cursor: pointer;

    &.hidden {
      visibility: hidden;
    }

    .svg-icon-plus {
      transform:rotate(45deg);
      color: #cf5550;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -5px;
    }
  }

  .toggle-group-button {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    padding: 0;
    transition: color 0.15s, transform 0.15s;
    border: none;
    background: none;
    font-size: 0;

    .svg-sorting-arrow-up {
      display: none;
    }

    .icon-mobile {
      display: none;
    }
  }

  .filter-item {
    position: relative;
    display: none;
    padding: 5px 0;
    padding-left: 30px;
    transition: color 0.15s;
    color: #677d80;
    font-family: 'Georgia';
    line-height: 20px;

    .text {
      cursor: pointer;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 8px;
      margin-top: -5px;
      transition: opacity 0.15s;
      opacity: 0;
    }

    .icon-mobile {
      display: none;
    }

    .svg-icon-plus {
      display: none;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -5px;
      color: #cf5550;
      transform:rotate(45deg);
      cursor: pointer;
    }

    &.active {
      color: inherit;

      .icon {
        opacity: 1;
      }

      .svg-icon-plus {
        display: block;
      }
    }
  }

  .filter-group.active {
    .filter-group-title {
      margin-bottom: 15px;
    }

    .filter-item {
      display: block;
    }

    .svg-sorting-arrow-down {
      display: none;
    }

    .svg-sorting-arrow-up {
      display: block;
    }
  }
}

.catalogue-view {
  float: right;
  width: 800px;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 700px;
  }
}

.catalogue-grid {
  margin: 0 -20px;
  font-size: 0;

  .slick-slider {
    display: block;
    height: 400px;
    margin: 0 20px 40px;

    .slick-arrow {
      color: #fff;
      opacity: 0;
      -webkit-transition: opacity 150ms linear;
         -moz-transition: opacity 150ms linear;
          -ms-transition: opacity 150ms linear;
              transition: opacity 150ms linear;
    }

    .slick-dots {
      button {
        border-color: #fff;
        background: #fff;
        opacity: 0;
        -webkit-transition: opacity 150ms linear;
           -moz-transition: opacity 150ms linear;
            -ms-transition: opacity 150ms linear;
                transition: opacity 150ms linear;
      }

      .slick-active button {
        background: none;
      }
    }

    &:hover {
      .slick-dots {
        button {
          opacity: 0.75;

          &:hover {
            opacity: 1;
          }
        }
      }

      .slick-arrow {
        opacity: 0.75;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .product-tile {
    margin-bottom: 40px;
  }

  .banner-with-centered-content {
    width: calc(100% - 40px);
    height: 300px;
    margin: 0 20px 40px;

    .text {
      font-size: 24px;
    }
  }
}
