.collection-header {
  position: relative;
  height: 610px;
  margin-bottom: 80px;
  background-position: 50% 25%;
  background-size: cover;

  .heading {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    line-height: 1;
    user-select: none;
    cursor: default;
  }

  .text {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .name {
    font-size: 60px;
    font-weight: 200;
  }
}

.collection-page {
  .philosophy-photos {
    margin-bottom: 40px;
  }

  .two-photos {
    font-size: 0;
    margin-bottom: 40px;

    .photo {
      img {
        width: 520px;
        height: 520px;
      }

      & + .photo {
        margin-left: 40px;
      }
    }
  }

  .text-with-decorations {
    margin-bottom: 90px;
  }

  .colored-background {
    height: 610px;
    margin-top: -285px;
    margin-bottom: -325px;
  }

  .banner-with-gradient {
    width: 100%;
    height: 520px;
  }

  .banner-with-centered-content {
    margin-bottom: 95px;

    .b-with-media__content__link {
      width: 180px;

      &:hover {
        color: #00263a;
      }
    }
  }

  .banner-1 {
    margin-top: -155px;
  }

  .banner {
    height: 610px;
    background-position: 50% 0;
    background-size: cover;
    margin-bottom: 65px;
  }
}
