.collections-2018 {
  color: #422F6E;

  .collections-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;

    &.collections-bg-1 {
      background-color: #D4DEFF;
      height: 1121px;
      top: 100%;
    }

    &.collections-bg-2 {
      background-color: #fee6ff;
      height: 1650px;
      top: 610px;

      @media screen and (min-width: 1239px) {
        height: 1690px;
      }
    }

    &.collections-bg-3 {
      background-color: #C3DAFF;
      height: 1091px;
      top: 100%;
    }

    &.collections-bg-4 {
      background-color: #D9D7FF;
      height: 1650px;
      top: 610px;

      @media screen and (min-width: 1239px) {
        height: 1690px;
      }
    }
  }

  #video {
    width: 100%;
  }


  .full-width {
    @media screen and (max-width: 1024px) {
      margin-right: -24px;
      margin-left: -24px;
    }

    @media screen and (min-width: 1160px) {
      margin-right: calc(-100vw / 2 + 976px / 2);
      margin-left: calc(-100vw / 2 + 976px / 2);
    }

    @media screen and (min-width: 1239px) {
      margin-right: calc(-100vw / 2 + 1080px / 2);
      margin-left: calc(-100vw / 2 + 1080px / 2);
    }
  }

  .collection-header {
    background-position: center center;
    filter: none;
    transition: none;
    margin-bottom: 168px;

    .heading {
      display: block;
      z-index: 2;

      .name {
        font-size: 16px;
        line-height: 30px;
        color: #fff;
        font-family: Georgia, sans-serif;
      }
    }

    .mobile-page-links {
      display: none;
    }

    .page-link {
      position: absolute;
      z-index: 1;
      top: 0;
      width: calc(50% - 50px);
      text-align: center;
      cursor: pointer;

      img {
        width: 560px;
        transform-origin: 50% 50%;
        transition: transform 0.2s;
      }

      .button {
        position: absolute;
        z-index: 2;
        left: 50%;
        margin-left: -83px;
        top: 50%;
        margin-top: -30px;
        font-style: normal;
        border-radius: 3px;
        border: 2px solid #fff;
        letter-spacing: 1px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        padding: 10px 35px 8px;
        transition: all 0.2s;
        color: #fff;
      }

      &:hover {
        .button {
          background-color: #fff;
          color: #00263A;
        }

        img {
          transform: scale(1.1);
        }

      }

      &.left {
        left: 30px;

        span {
          margin-top: -60px;
        }
      }

      &.right {
        right: 30px;
        top: 115px;

        span {
          margin-bottom: -60px;
        }

        .button {
          margin-top: -15px;
        }
      }

      span {
        display: block;
        font-size: 45px;
        line-height: 50px;
        font-family: Georgia, sans-serif;
        text-align: center;
        color: #fff;
        font-style: italic;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
      }
    }
  }

  .centered-photo {
    .flying-image {
      position: absolute;
      z-index: 1;
      background-size: cover;

      &.left {
        top: -60px;
        left: 50px;
        width: 360px;
        height: 360px;
      }

      &.right {
        bottom: -120px;
        right: -70px;
        width: 240px;
        height: 240px;
      }
    }

    .centered-small-image {
      width: 140px;
      height: 140px;
      background-size: cover;
      margin: -80px auto -20px;
      position: relative;
      z-index: 1;
    }

    &.top-padding {
      padding-top: 70px;
    }

    &.no-margin {
      margin-top: 0;

      .text:first-child {
        padding-bottom: 115px;
      }

      .text:last-child {
        padding-bottom: 0px;
      }
    }

    .on-top {
      z-index: 2;
    }

    .bg {
      background-size: cover;
    }

    .bg.bg-wide {
      background-size: cover;

      @media only screen and (max-width: 1239px) and (min-width: 769px) {
        height: 539px;
      }
    }
  }

  .odd-blocks {

    .odd-block {
      .text {
        margin: 48px 0 70px;
      }

      .image {
        width: 240px;
        height: 240px;
        margin: 0 auto;
      }
    }
  }

  .three-diagonal-blocks {
    position: relative;

    .block {
      position: relative;
      z-index: 1;
    }

    .block-left,
    .block-right {
      .image {
        background-size: cover;
      }
    }

    .block-left {
      .image {
        background-position: right bottom;
      }
    }

    .block-right {
      .image {
        background-position: left bottom;
      }
    }
  }

  .collections-buttons__list__item {
    width: auto;
    min-width: 180px;
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 17px;
  }

  .text-with-decorations {
    position: relative;

    .text {
      margin: 30px 0 16px;
    }

    .subtext {
      margin: 0 0 30px;
      font-family: Georgia, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}