.conditions-page {

  .centered-text {
    width: 800px;
    margin: 0 auto;
  }

  h2 {
    text-align: left;
    margin: 34px 0 30px;
  }

  p {
    font-family: 'Georgia';
    margin: 30px 0;
  }

  a {
    font-weight: 700;
    font-style: italic;
    color: inherit;
    text-decoration: underline;
  }

  .header-banner {
    border-top: 1px solid #fff;
    height: 430px;
    background: #022639;
    margin-bottom: 80px;

    .text {
      font-size: 24px;
    }

    .subtext {
      margin-top: 30px;
      text-transform: none;
      font-family: Georgia, sans-serif;
    }
  }

  .form {
    margin-top: 120px;
    margin-bottom: 0;
    padding: 80px 0;
    background: #e9e9e9;

    h2 {
      text-align: center;
    }
  }

  .divider {
    width: 40px;
    margin: 58px 0 52px;
    border-bottom: 1px solid;
  }

  ul {
    margin-left: 4px;
  }

  ol {
    font-size: 18px;
    line-height: 1.66;
    margin: 38px 0;

    ul {
      margin: 24px 0 24px -19px;
    }

    > li {
      margin: 28px 0;

      li {
        margin: 3px 0;
      }
    }
  }
}
