.contest-page {
  display: flex;
  align-items: center;
  background-color: #FAE1E2;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -110px;

  @media only screen and (max-height: 800px) {
    margin-top: -70px;
  }

  .main-button {
    color: #00263A;
    border-color: #00263A;
    cursor: pointer;

    &:hover {
      background-color: #00263A;
      border-color: #00263A;
    }
  }

  .content-wrapper {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }


  &.filter-slide,
  &.success-slide, {
    @media only screen and (max-height: 800px) {
      display: block;

      .content-wrapper {
        height: 685px;
        display: block;
      }
    }
  }

  .navigation {
    position: fixed;
    right: 40px;
    top: 50%;
    z-index: 1;
    margin: 0;
    transform: translateY(-50%);

    a {
      width: 6px;
      height: 6px;
      border-radius: 4px;
      border: 1px solid #00263A;
      margin: 38px 0 0;
      padding: 0;
      cursor: pointer;
      display: block;


      &:first-child {
        margin-top: 0 !important;
      }

      &.active {
        background-color: #00263A;
        cursor: auto;
      }

      &:before {
        display: none;
      }
    }
  }

  .main-button {
    border-color: #00263A;
    cursor: pointer;

    &:hover {
      background-color: #00263A;
    }

    &.disabled {
      opacity: 0.4;
      cursor: auto;

      &:hover {
        color: #00263A;
        background: none;
      }
    }
  }

  .slide {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;

    p {
      margin: 0;
    }


    .title {
      position: absolute;
      z-index: 1;
      top: 140px;
      left: 0;
      text-align: center;
      width: 100%;
      font-weight: 700;
      text-transform: uppercase;
    }

    &.slide-first {
      .title {
        // top: 140px;

        // @media only screen and (max-height: 800px) {
        //   top: 90px;
        // }
      }
    }

    .slide-num {
      font-size: 60px;
      font-weight: 300;
      line-height: 80px;
      margin-bottom: 30px;
    }

    .text {
      text-transform: uppercase;
      font-family: Georgia, sans-serif;
      font-size: 16px;
      line-height: 30px;

      .main-button {
        margin-top: 20px;
      }

      strong {
        letter-spacing: 1px;
      }
    }

    .confirm {
      position: absolute;
      bottom: 60px;
      left: 0;
      width: 100%;
      text-align: center;

      label {
        font-family: Georgia, sans-serif;
        font-style: italic;
        margin-bottom: 30px;
        color: #00263a;
        display: inline-block;
        position: relative;
        line-height: 16px;
        cursor: pointer;

        &:before {
          display: block;
          content: '';
          background: url('/assets/images/contest/unchecked.png') no-repeat;
          width: 16px;
          height: 16px;
          background-size: 100%;
          position: absolute;
          left: -30px;
        }

        &.checked {
          cursor: auto;

          &:before {
            background-image: url('/assets/images/contest/checked.png');
          }
        }
      }
    }
  }

  .contest-success {
    text-align: center;
    font-family: Georgia, sans-serif;

    @media only screen and (max-height: 800px) {
      padding-top: 135px;
    }

    .text {
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;

      p {
        margin-bottom: 25px;
      }

      strong {
        letter-spacing: 1px;
      }
    }

    .sharing {
      margin: 70px 0 90px;

      .share-title {
        font-style: italic;
      }

      ul {
        font-size: 0;
        text-align: center;
        margin: 0;
        padding-top: 10px;
      }

      li {
        display: inline-block;
        width: 41px;
        height: 41px;
        opacity: 0.3;
        transition: opacity 0.15s;
        cursor: pointer;
        margin: 0 11px;
        padding: 0;

        svg {
          color: #00263a;
          width: 41px;
          height: 41px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .contest-main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-height: 800px) {
      padding-top: 135px;
      display: block;

      .container {
        width: 410px;
        margin: 0 auto;
      }
    }

    .hidden {
      display: none;
    }

    #canvas {
      width: 410px;
      height: 410px;
    }

    #largeCanvas {
      width: 1000px;
      height: 1000px;
      position: absolute;
      left: -1000px;
      top: 0;
    }

    .title {
      position: absolute;
      z-index: 1;
      top: 140px;
      left: 0;
      text-align: center;
      width: 100%;
      font-weight: 700;
      text-transform: uppercase;

      @media only screen and (max-height: 800px) {
        top: 90px;
      }
    }

    .svg-arrow-left {
      position: absolute;
      top: 50%;
      left: 40px;
      width: 34px;
      height: 25px;
      cursor: pointer;
    }

    .container {
      width: 410px;
      height: 410px;
      position: relative;

      .photo {
        width: 410px;
        height: 410px;
        overflow: hidden;
        position: relative;
        background-color: #a6a6a6;
      }

      .filters-container {
        position: absolute;
        height: 420px;
        width: 126px;
        top: -5px;
        right: -150px;

        .iScrollVerticalScrollbar {
          width: 5px;
          font-size: 0;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;

          &:before {
            content: '';
            display: block;
            width: 1px;
            left: 3px;
            position: absolute;
            top: 5px;
            bottom: 5px;
            background-color: #fff;
          }

          .iScrollIndicator {
            background: #fff !important;
            width: 5px;
            border-radius: 3px;
            left: 0px;
            z-index: 1;
            position: absolute;
          }
        }

        .filter {
          padding: 5px;
          width: 90px;
          height: 90px;
          margin-top: 20px;
          cursor: pointer;

          &:first-child {
            margin-top: 0;
          }

          img {
            width: 100%;
            height: 100%;
          }

          &.active {
            padding: 0;
            border: 5px solid #fff;
            cursor: auto;
          }
        }
      }

      .buttons {
        text-align: center;
        margin-top: 38px;

        .comment {
          font-size: 10px;
          font-style: italic;
          padding-left: 215px;
          text-align: left;
          line-height: 13px;
        }

        .main-button {
          width: 150px;
          color: #00263A;

          &:not(.disabled):hover {
            color: #fff;
          }
        }
      }
    }
  }

  .contest-intro {
    text-align: center;
    padding-top: 110px;

    .title {
      text-transform: uppercase;
      font-size: 50px;
      line-height: 70px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 85px;
    }

    .text {
      font-size: 24px;
      line-height: 1.4;
      font-weight: normal;
      color: #fff;
      font-family: Georgia, sans-serif;
      width: 400px;
      margin: -70px auto 0;
    }

    .main-button {
      color: #fff;
      border-color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #00263A;
        border-color: #00263A;
      }
    }
  }
}