.contacts-page {
  .header-banner {
    height: 290px;
  }

  .form {
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px 0;
    background: #e9e9e9;
  }

  .support {
    margin: 120px 0;
    text-align: center;

    .title {
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 200;
      line-height: 1;
    }

    .decorations {
      margin: 50px 0 40px;
      font-size: 0;
    }

    .decoration + .decoration {
      margin-left: -1px;
    }

    .text {
      font-family: 'Georgia';
    }
  }

  .mobile-address-title {
    display: none;
  }

  .support-info {
    font-size: 0;

    .retail {
      background: #4382dd;
    }

    .wholesale {
      background: #1b64c8;
    }
  }

  .support-block {
    display: block;
    padding: 60px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.65;

    .title {
      text-transform: uppercase;
      font-weight: 700;
    }

    .divider {
      display: inline-block;
      width: 20px;
      margin: 0px 0 50px;
      border-bottom: 2px solid #fff;
    }

    .phone {
      margin-bottom: 60px;
      font-size: 48px;
      font-weight: 200;
      line-height: 1;
    }

    .info {
      font-family: 'Georgia';
    }
  }

  .map {
    height: 610px;
  }

  .map-frame {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border: none;
  }

  .address {
    margin: 130px 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.65;

    .title {
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1;
    }

    .subtitle {
      text-transform: uppercase;
      font-size: 11px;
    }

    .text {
      margin: 40px 0 50px;
      font-family: 'Georgia';
    }
  }
}
