.not-found-page {
  padding-top: 130px;
  text-align: center;
  line-height: 1;

  .title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 96px;
    font-weight: 200;
  }

  .subtitle {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 18px;
  }
}

.empty-page {
  padding-top: 15px;
  text-align: center;
  line-height: 1;

  .title {
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 18px;
  }
}
