.basket-page {
  padding-bottom: 130px;
}

.order-steps {
  margin-bottom: 80px;
  padding: 50px 0;
  text-align: center;
  color: #9da1a5;
  background: #f2f2f2;
  font-size: 0;

  .payment-step {
    display: inline-block;
  }

  .step {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &.active {
      color: #00263a;

      .text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .text {
    position: absolute;
    top: 100%;
    right: -100px;
    left: -100px;
    visibility: hidden;
    margin-top: 15px;
    text-transform: uppercase;
    opacity: 0;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
  }

  .arrow-order-mobile {
    display: none;
  }

  .arrow {
    display: inline-block;
    margin: 0 25px;
    vertical-align: middle;
  }
}

.payment-type {
  white-space: nowrap;

  .cell {
    padding-top: 80px;
  }
}

.order-info {
  text-align: center;

  .info-heading {
    margin: 40px 0 20px;
  }

  .info-text {
    margin-bottom: 20px;
    font-family: 'Georgia';
  }

  .mobile-link {
    display: none;
  }
}

.order-button-wrapper {
  position: relative;
  width: 800px;
  margin: 80px auto 0;
  text-align: center;

  .back-link {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
  }
}

.payment-form {
  .radio-group {
    position: relative;
    margin-top: 25px;

    &:last-child {
      margin-bottom: 35px;
    }

    .link {
      position: absolute;
      bottom: 2px;
      left: 250px;
      white-space: nowrap;
      text-decoration: underline;
      font-family: 'Georgia';
      font-size: 14px;
      line-height: 1;
    }
  }

  .price {
    margin-top: 25px;
    margin-bottom: 90px;
    padding-left: 30px;
    font-size: 24px;
  }
}

.delivery-price {
  position: relative;
  top: 13px;

  .label {
    display: inline-block;
    width: 185px;
  }

  .price {
    display: inline-block;
  }

  .sum {
    font-size: 24px;
    margin-right: 3px;
  }
}

.pvz-selector {
  margin: 60px 0 20px;

  .mobile-map-label {
    display: none;
  }

  .map {
    display: inline-block;
    width: 520px;
    height: 520px;
    vertical-align: top;
  }
}


.pvz-info {
  display: inline-block;
  width: 520px;
  margin-left: 40px;
  padding-top: 10px;
  vertical-align: top;

  .label {
    padding-left: 0;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
  }

  .address {
    font-size: 24px;
    line-height: 1.1;
    margin: 20px 0;
  }

  .details {
    margin-top: 30px;

    .row + .row {
      margin-top: 15px;
    }

    .label {
      display: inline-block;
      vertical-align: top;
      width: 140px;
      line-height: 26px;
    }

    .value{
      display: inline-block;
      vertical-align: top;
      width: 380px;
    }

    .value:not(.how-to-go)  {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }

    .how-to-go {
      font-family: 'Georgia';
      font-weight: 400;
      font-size: 16px;
      margin-top: -3px;
    }
  }
}
