.philosophy {

}

.philosophy-dna {
  min-height: 1020px;
  background-size: cover;
  background-position: center top;
  padding: 120px 0 0;
}

.philosophy-dna__content {
  margin: 0 auto;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 0;

}

.philosophy-dna__title {
  font: bold 24px/40px 'Geometria', sans-serif;
  text-transform: uppercase;
  margin: 52px 0 17px 0;
}

.philosophy-dna__text {
  font: 18px/30px 'Georgia', sans-serif;
}

.philosophy-dna__decoration2 {
  margin-top: 60px;
}

.philosophy-times {
  min-height: 1670px;
  margin-top: -270px;
}

.philosophy-times__section {
  display: flex;
  flex-direction: row;
}

.philosophy-times__section__side {
  flex: 1;
  height: 540px;
  color: white;
  text-align: center;
  &.darkblue {
    background: #17488B;
  }
  &.blue {
    background: #8BA9CE;
  }
  &.image {
    background-size: cover;
    background-position: center;
  }
}

.philosophy-times__title {
  font: bold 24px/40px 'Geometria', sans-serif;
  text-transform: uppercase;
  width: 250px;
  margin: 133px auto 0;
}

.philosophy-times__decoration {
  margin: 27px 0 0;
}

.philosophy-times__text {
  font: 18px/30px 'Georgia', sans-serif;
  margin: 28px auto 0;
}

.philosophy-times__content {
  text-align: center;

}

.philosophy-times__content__title {
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
  margin: 121px auto 0;
}

.philosophy-times__content__decoration {
  margin-top: 44px;
}

.philosophy-times__content__text {
  font: 18px/30px 'Georgia', sans-serif;
  width: 630px;
  margin: 33px auto 0;
}


.philosophy-nature {
  min-height: 610px;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  padding: 223px 0 0;
}

.philosophy-nature__title {
  font: bold 24px/40px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.philosophy-nature__decoration {
  margin: 28px 0 0;
}

.philosophy-nature__text {
  margin: 20px 0 0;
  font: 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.philosophy-create {
  min-height: 530px;
  text-align: center;
  padding: 131px 0 0;

  .decoration {
    display: none;
  }
}

.philosophy-create__title {
  font: bold 18px/30px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.philosophy-create__text {
  width: 700px;
  margin: 33px auto 0;
  font: 18px/30px 'Georgia', sans-serif;
}

.philosophy-photos {
  position: relative;
  .swiper-container {
    // height: 520px;
    margin-bottom: 72px;
  }
  .swiper-button-prev, .swiper-button-next {
    background-image: url('//media.canoe.ru/images/brand/arrow_white.svg');
  }
  .swiper-button-prev {
    left: 45px;
  }
  .swiper-button-next {
    right: 45px;
    transform: rotate(180deg);
  }
}

.philosophy-photos__item {
  width: 530px;
  height: 530px;
  background-size: cover;
  background-position: center;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 468px;
    height: 468px;
  }
}
