.product-card {
  overflow: hidden; // clearfix
  margin: 60px 0;

  .photos-slider {
    float: left;
    width: 520px;
    height: 650px;
    background: #f2f2f2;
    position: relative;

    .photo {
      max-width: 520px;
    }

    @media only screen and (min-width: 769px) and (max-width: 1239px) {
      width: 430px;
      height: 538px;

      .photo {
        max-width: 430px;
      }
    }

    .slider-position {
      display: none;
    }

    .discount-value {
      position: absolute;
      bottom: 16px;
      left: 18px;
      z-index: 1;
      font-weight: 600;
      color: #fff;
      background-color: #E7544B;
      display: inline-block;
      border-radius: 2px;
      height: 24px;
      padding: 0 5px;
      line-height: 24px;
    }
  }

  .product-info {
    float: right;
    width: 520px;
  }
}

.product-back-link {
  position: absolute;
  top: -35px;
  left: 40px;
  line-height: 1;
}

.product-heading {
  overflow: hidden; // clearfix
  margin: 20px 0 40px;
  line-height: 1;

  .name {
    float: left;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
  }

  .vendor-code {
    float: right;
    margin: 0;
    font-size: 24px;
  }

  .prefix {
    font-family: 'Georgia';
    font-size: 16px;
    font-weight: 400;
  }
}

.product-params {
  font-size: 0;

  .params-row {
    + .params-row {
      margin-top: 20px;
    }

    .params-row + .params-row {
      margin-top: 5px;
    }
  }

  .param-label {
    display: inline-block;
    width: 140px;
    padding-top: 7px;
    padding-right: 30px;
    vertical-align: top;
    text-transform: uppercase;
    color: #a4b1bd;
    font-size: 11px;
    font-weight: 700;
  }

  .param-content {
    display: inline-block;
    width: 380px;
    vertical-align: top;
    font-family: 'Georgia';
    font-size: 1rem;
  }

  .long-text {
    &:not(.show-all) .text {
      display: -webkit-box;
      overflow: hidden;
      max-height: 84px;
      text-overflow: ellipsis;

      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .less-link {
      display: none;
    }

    &.show-all {
      .more-link {
        display: none;
      }

      .less-link {
        display: inline;
      }
    }
  }

  .colors-list {
    margin: -10px;
    padding-top: 7px;
    font-size: 0;
    width: 336px;
    position: relative;

    .color {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 84px;
      padding: 0 12px;
      height: 75px;
      margin: 10px 0;
      transition: opacity 0.15s;

      &:hover {
        opacity: 0.8;
      }
    }

    .slick-prev {
      left: -30px;
    }

    .slick-next {
      right: -30px;
    }

    .slick-arrow {
      margin-top: -7px;

      .arrow {
        width: 18px;
        height: 15px;
      }
    }

  }

  .prices {
    padding-top: 18px;
  }

  .price {
    padding-top: 7px;

    &.retail-price,
    &.wholesale-price {
      padding-top: 7px;
    }

    &.retail-price {
      color: #a4b1bd;
    }

    .sum {
      font-size: 24px;
    }

    .old-sum {
      margin-right: 10px;
      text-decoration: line-through;
      color: #a4b1bd;
      font-size: 18px;
    }

    .currency {
      font-size: 16px;
    }
  }

  .sizes {
    padding-top: 7px;
    font-size: 0;
  }

  .size-selector {
    position: relative;
    display: inline-block;
    width: 50px;
    transition: background 0.15s, color 0.15s;
    text-align: center;
    border: 1px solid #dde1e5;
    border-radius: 4px;
    font-family: 'Geometria';
    font-size: 18px;
    line-height: 38px;

    & + .size-selector {
      margin-left: 20px;
    }

    &.current {
      color: #fff;
      background: #dde1e5;
    }
  }

  .controls {
    font-size: 0;
  }

  .collapsed-block {
    padding-top: 5px;
  }
}

.wholesale-order-block {
  margin: 60px 0;

  .button-wrapper {
    margin-top: 25px;
    margin-left: 540px;
  }

  .basket-info {
    margin-left: 20px;
    font-family: 'Georgia';
    font-size: 14px;
  }

  .link {
    text-decoration: underline;
  }
}

.similar-products {
  position: relative;

  .products-slider-container {
    position: relative;
  }

  .slick-prev {
    left: -20px;
    margin-top: 0;
    top: 136px;

    @media only screen and (min-width: 769px) and (max-width: 1239px) {
      top: 96px;
    }
  }

  .slick-next {
    right: -20px;
    margin-top: 0;
    top: 136px;

    @media only screen and (min-width: 769px) and (max-width: 1239px) {
      top: 96px;
    }
  }

  .similar-heading {
    margin: 60px 0;
    text-align: justify;
    font-size: 0;
    line-height: 1;

    &::after {
      display: inline-block;
      width: 100%;
      content: '';
    }
  }

  .title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }

  .similar-list {
    margin: 0 0px -40px;
    font-size: 0;
    position: relative;
    overflow: hidden;

    .product-tile {
      margin-bottom: 40px;
    }
  }

  .back-link {
    color: #a4b1bd;

    &:hover {
      color: #00263a;
    }
  }
}

.product-page {
  .similar-products {
    margin-bottom: 80px;
  }

  .banner-with-technologies {
    .b-with-media__content__link {
      color: #00263a;
      border-color: #00263a;
      width: 150px;
      margin-top: 40px;

      &:hover {
        color: #677d80;
        border-color: #677d80;
      }

    }
  }
}

.product-tile {
  display: inline-block;
  width: 270px;
  padding: 0 15px;


  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 206px;
  }

  .photo {
    display: block;
    height: 300px;
    transition: opacity 0.15s;
    background: #f2f2f2;
    position: relative;
    @media only screen and (min-width: 769px) and (max-width: 1239px) {
      height: 220px;
    }

    &:hover {
      opacity: 0.8;
    }

    .discount-value {
      position: absolute;
      z-index: 1;
      height: 16px;
      padding: 0 5px;
      line-height: 16px;
      font-size: 10px;
      color: #fff;
      background-color: #E7544B;
      border-radius: 2px;
      left: 8px;
      bottom: 8px;
      font-weight: 700;
    }
  }

  .info {
    margin-top: 20px;
    text-align: justify;
    font-size: 0;
    line-height: 1;

    &::after {
      display: inline-block;
      width: 100%;
      content: '';
    }
  }

  .name,
  .price {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  .price {

    .old-sum {
      color: #677d80;
      text-decoration: line-through;
      margin-right: 5px;
      font-size: 12px;
    }
  }

  .currency {
    text-transform: none;
    font-family: 'Georgia';
    font-size: 12px;
    font-weight: 400;
  }
}

.banner-with-technologies {
  text-align: center;
  background: #f2f2f2;
  font-size: 18px;

  .columns {
    display: table;
    width: 100%;
    height: 710px;
  }

  .column {
    display: table-cell;
    width: 520px;
    padding: 100px 0 50px;
    vertical-align: top;

    & + .column {
      padding-left: 40px;
    }
  }

  .heading {
    margin: 0;
    text-transform: uppercase;
    color: #677d80;
    font-size: 18px;
  }

  .divider {
    width: 20px;
    height: 0;
    margin: 40px auto;
    border-top: 1px solid #677d80;
  }

  .buttons {
    text-align: center;
    font-size: 0;
  }

  .button {
    margin: 0 10px;
    padding: 0;
    transition: opacity 0.15s;
    opacity: 0.3;
    border: none;
    background: none;
    font-size: 0;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .technologie {
    display: none;

    &.active {
      display: block;
    }

    .title {
      margin: 40px 0 30px;
      text-transform: uppercase;
      font-weight: 700;
    }

    .text {
      margin: 30px 0 40px;
      font-family: 'Georgia', sans-serif;
    }
  }

  .image {
    top: 50%;
    left: 50%;
    display: none;
    width: 440px;
    height: 440px;
    border: 20px solid #fff;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;

    &.active {
      display: inline-block;
    }
  }
}

.photos-slider {
  img {
    width: 100%;
  }

  .slick-slider {
    height: 100%;
    background: #f2f2f2;
  }

  .slick-active {
    z-index: 10;
  }

  .photo {
    cursor: zoom-in;
  }

  .zoom-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    transition: color 0.15s;
    color: #a4b1bd;
    border: none;
    background: none;
    font-size: 0;

    &:hover {
      color: #00263a;
    }
  }
}

.zoomed-photo {
  position: fixed;
  z-index: 500;
  top: 110px;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;

  .photo {
    cursor: zoom-out;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: auto 140%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .minimized-header & {
    top: 70px;
  }

  @media screen and (max-height: 800px) {
    top: 70px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    padding: 0;
    padding: 0;
    transition: color 0.15s;
    color: #a4b1bd;
    border: none;
    background: none;
    font-size: 0;
    z-index: 1;

    &:hover {
      color: #00263a;
    }
  }

  .arrow-left {
    left: 50px;
  }

  .arrow-right {
    right: 50px;
  }

  .arrow-icon {
    width: 40px;
    height: 30px;
  }
}

.zoomed-photo-visible {
  overflow: hidden;

  .zoomed-photo {
    visibility: visible;

    .photo {
      opacity: 1;
    }
  }
}
