.sizes {

}

.sizes__header {
  background-color: #022639;
  color: white;
}

.sizes__header__content-wrapper {
  background-position: 288px 70px;
  background-repeat: no-repeat;
  height: 430px;
}

.sizes__header__content {
  padding: 85px 0 0;
}

.sizes__header__title {
  font: bold 18px/40px 'Geometria', sans-serif;
  text-transform: uppercase;
  padding-left: 12px;
}

.sizes__header__list {
  margin-top: 5px;
}

.sizes__header__list__item {
  font: 15px/30px 'Georgia', serif;
}

.sizes__content {
  width: 675px;
  margin: 0 auto;
  padding: 85px 0;
  text-align: center;
}

.sizes__content__title {
  font: bold 18px/40px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.sizes__content__decoration {
  margin-top: 25px;
}

.sizes__content__text {
  margin-top: 18px;
  font: 18px/30px 'Georgia', serif;
  .italic {
    font-style: italic;
  }
}

.sizes__content__table {
  margin: 70px auto 0;
  tr {
    th {
      font: 14px/50px 'Georgia', serif;
      color: #808080;
      border-bottom: 2px solid #C3C7CB;
    }
    td {
      font: bold 18px/88px 'Geometria', sans-serif;
      text-align: left;
      padding-left: 40px;
      text-transform: uppercase;
      border-bottom: 2px solid #C3C7CB;
      &.size-metric {
        padding-left: 50px;
      }
    }
  }
}

.sizes__back {
  display: block;
  margin-top: 89px;
  line-height: 15px;
  left: -40px;
  position: relative;
  img {
    margin-right: 10px;
    vertical-align: middle;
  }
  span {
    letter-spacing: 0.5px;
    vertical-align: middle;
    font: bold 11px 'Geometria', sans-serif;
    text-transform: uppercase;
  }
}
