.b-materials {
  padding-top: 90px;
  padding-bottom: 60px;
  background: #e9e9e9;
}

.b-materials__header {
}

.b-materials__list {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}

.b-materials__item {
  display: flex;
  flex: 0 0 240px;
  margin: 40px 0 0 40px;
  flex-direction: row;
  align-items: center;
}

.b-materials__item__icon {
  flex: 0 0 70px;
  height: 70px;
  display: block;
  background-repeat: no-repeat;
  opacity: .7;
  transition: opacity 0.15s;
  background-size: 100% 100%;
  .b-materials__item:hover & {
    opacity: 1;
  }
}

.b-materials__item__title {
  display: block;
  margin-left: 30px;
  width: 140px;
  font: 16px/20px 'Georgia', serif;
}

@media only screen and (min-width: 769px) and (max-width: 1239px) {
  .b-materials__list {
    margin-left: -24px;
  }

  .b-materials__item {
    flex: 0 0 225px;
    margin: 24px 0 0 24px;
  }

  .b-materials__item__title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.b-material__materials {
  position: relative;
  .swiper-container {
    padding: 0 100px;
    &:before, &:after {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      background: white;
      position: absolute;
      top: 0;
      z-index: 2;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-size: 10px 21px;
    background-image: url('//media.canoe.ru/images/arrow.svg');
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 87px;
    background-color: #fff;
  }
  .swiper-button-prev {
    left: 0;
    background-position: right center;
  }
  .swiper-button-next {
    right: 0;
    transform: rotate(180deg);
    background-position: right center;
  }
}

.b-material-header-banner {
  align-items: initial;
  .subtitle {
    width: 450px;
  }
  .content {
    padding-top: 180px;
  }
}

.b-material__materials__item {
  position: relative;
  margin: 50px 0;
  &:hover,
  &.current {
    .b-material__materials__item__icon {
      opacity: 1;
    }
    .b-material__materials__title {
      display: block;
    }
  }
}

.b-material__materials__item__icon {
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  opacity: .7;
  transition: opacity 0.15s;
}

.b-material__materials__title {
  display: none;
  position: absolute;
  white-space: nowrap;
  width: 200px;
  left: 50%;
  top: 62px;
  margin-left: -100px;
  text-align: center;
  font: bold 11px/20px 'Geometria', sans-serif;
  text-transform: uppercase;
}


.b-material-header {
  margin-top: 70px;
  margin-bottom: 100px;
  .text-with-decorations {
    width: 600px;
    margin: 0 auto;
    .subtext {
      margin-top: 35px;
    }
  }
}

.b-twocols {

}

.b-twocols__sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.b-twocols__side {
  flex: 0 0 520px;
  text-align: center;
}

.b-twocols__side-2 {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 80px;
}

.b-twocols__side__image {
  display: block;
  width: 520px;
  height: 520px;
  background-size: cover;
  background-position: center top;
  .b-twocols__side-1 & {
    margin-bottom: 40px;
  }
  .b-twocols__side-2 & {
    margin-top: 40px;
  }
}

.b-twocols__side__content {
  font-size: 18px;
  line-height: 30px;
}

.b-twocols__side__title {
  font-weight: bold;
  text-transform: uppercase;
}

.b-twocols__side__text {
  margin-top: 40px;
  font-family: 'Georgia', serif;
}

.b-end-banner {
  background-size: cover;
  background-position: center top;
}

.b-end-banner__content {
  background: white;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 610px;
  flex-direction: column;
  .subtext {
    width: 520px;
    margin: 30px auto 0;
  }
}

.b-with-media {
  .content-wrapper {
    height: 720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.b-with-media__media {
  flex: 0 0 560px;
  height: 370px;
  background-size: cover;
  background-position: center top;
  margin-top: -30px;
}

.b-with-media__content {
  margin-left: 40px;
  min-width: 480px;
  text-align: center;
  color: white;
  margin-top: -50px;
}

.b-with-media__content__title {
  margin: 18px auto 21px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  width: 300px;
}

.b-with-media__content__text {
  margin-top: 12px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 30px;
  width: 460px;
}

.b-with-media__content__link {
  margin: 67px auto 0;
  width: 220px;
  height: 40px;
  display: block;
  font: bold 14px/40px 'Geometria', sans-serif;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  &:hover {
    background: white;
  }
}

.technologie-banner {
  overflow: hidden;
  height: 380px;
  font-size: 0;

  .image {
    display: inline-block;
    width: 50%;
    height: 100%;
    transition: transform 3s;
    vertical-align: top;
    background-position: 25% 50%;
    background-size: cover;
  }

  &:hover .image {
    transform: scale(1.15);
  }

  .description {
    position: relative;
    z-index: 1;
    display: inline-table;
    width: 50%;
    height: 100%;
  }

  .content {
    display: table-cell;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
    line-height: 1.65;
  }

  .title {
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .text {
    max-width: 520px;
    margin: 0 auto 45px;
    font-family: 'Georgia';
  }
}

.b-shop-banner {
  margin-top: 133px;
}

.b-shop-banner__content {
  position: relative;
  top: -70px;
  height: 610px;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-shop-banner__title {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: white;
  border-bottom: 4px solid white;
  padding: 10px 25px;
  &:hover {
    color: white;
    border-bottom-color: transparent;
  }
}

.technologie-header {
  position: relative;
  height: 980px;
  margin-bottom: 280px;
  padding-top: 700px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 100%;


  .scroll-link {
    position: absolute;
    top: 600px;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    cursor: pointer;
    transition: opacity 0.15s;

    &:hover {
      opacity: 0.65;
    }
  }

  .scroll-icon {
    width: 100%;
    height: 100%;
  }

  .video {
    position: relative;
    display: block;
    width: 1080px;
    height: 560px;
    margin: 0 auto;

    video {
      width: 100%;
      height: 100%;
    }

    .icons {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
    }

    &.teflon .icons {
      background-image: url('//media.canoe.ru/images/technologies/icons/teflon.svg');
      background-position: 80% 50%;
    }

    &.high-twist .icons {
      background-image: url('//media.canoe.ru/images/technologies/icons/high-twist.svg');
      background-position: 80% 50%;
    }

    &.h2dry .icons {
      background-image: url('//media.canoe.ru/images/technologies/icons/h2dry.svg');
      background-position: 20% 50%;
    }

    &.nano-silver .icons {
      top: 40px;
      bottom: 45px;
      background-image: url('/assets/images/technologies/icons/nano-silver.svg');
      background-position: 11% 50%;
    }
  }


  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    height: 780px;
    padding-top: 600px;

    .scroll-link {
      top: 500px;
    }

    .video {
      width: 976px;
      height: 506px;
    }
  }

}

.technologie-description {
  padding: 110px 0 ;
  text-align: center;
  background-repeat: no-repeat;
  line-height: 1.65;
  position: relative;
  z-index: 1;

  .decoration {
    display: none;
  }

  .mobile-decoration {
    display: none;
  }

  &.last-description {
    padding: 0;
    margin-top: 130px;
  }

  .title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;

    strong {
      font-weight: 700;
    }
  }

  .text {
    max-width: 660px;
    margin: 0 auto;
    font-family: 'Georgia';
    font-size: 18px;
  }

  &.nano-silver {
    .text {
      max-width: 750px;
    }
  }
}

.technologie-photos-grid {
  position: relative;
  z-index: 1;
  width: 1080px;
  height: 1080px;
  font-size: 0;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 976px;
    height: 976px;
  }


  .photo {
    display: inline-block;
    vertical-align: top;
    background-size: cover;
  }

  .w50 {
    width: 50%;
  }

  .w100 {
    width: 100%;
  }

  .h50 {
    height: 50%;
  }

  .h100 {
    height: 100%;
  }
}

.technologie__nano-silver_bg {
  background-image: url('/assets/images/technologies/nano-silver/gradient.jpg');
  background-repeat: no-repeat;
  background-position: 50% top;
}

.technologie-trapezium {
  position: relative;
  margin-top: -540px;
  margin-bottom: -60px;
  padding: 540px 0 60px;
  // background-color: #f3f3f3;

  &.mobile-trapezium {
    display: none;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    bottom: 0;
    left: -200%;
    width: 600%;

    &:before {
      height: 1000px;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      transform: rotate(-18deg);
      transform-origin: 50% 0;
      background: inherit;
    }

  }

  &.bg-3dtube {
    .bg {
      background-color: #f4e0df;
    }
  }

  &.bg-h2dry {
    .bg {
      background-color: #e5f6fd;
    }
  }

  &.bg-hightwist {
    .bg {
      background-color: #f3f3f3;
    }
  }

  &.bg-teflon {
    .bg {
      background-color: #f3f3f3;
    }
  }

  strong {
    font-weight: 700;
  }

  .content {
    position: relative;
    z-index: 1;
    left: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
  }

  .title {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;
  }

  .subtitle {
    padding: 0 80px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .text {
    padding: 0 80px;
    font-family: 'Georgia';
    font-size: 18px;
  }


  &.nano-silver {
    background: none;
    padding-top: 580px;
    margin-bottom: 80px;

    &::before {
      display: none;
      background: none;
    }

    .subtitle {
      margin-bottom: 30px;
    }
  }
}

.technologie-diagrams {
  position: relative;
  z-index: 1;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;

  .mobile-diagram {
    display: none;
  }

  .decoration {
    display: none;
  }

  .row {
    text-align: justify;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 500px auto;
    font-size: 0;

    &::after {
      display: inline-block;
      width: 100%;
      content: '';
    }
  }

  .column {
    display: inline-block;
    width: 280px;
    text-align: left;
    vertical-align: top;
    font-size: 1rem;

    .icon {
      width: 60px;
      height: 60px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 25px;
    }
  }

  .title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.45;
  }

  .text {
    font-family: 'Georgia';
  }


  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 976px;
  }
}

.technologie-style-banner {
  height: 610px;
  background-size: cover;
  margin-top: 110px;
  margin-bottom: 110px;
}

.technologie-diagram-description {
  text-align: center;
  background-repeat: no-repeat;

  strong {
    font-weight: 700;
  }

  .title {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;
  }

  .subtitle {
    padding: 0 80px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .text {
    padding: 0 80px;
    font-family: 'Georgia';
    font-size: 18px;
  }

  .mobile-diagram {
    display: none;
  }
}

.technologie-two-photos {
  margin-top: 260px;
  text-align: center;

  .photos {
    position: relative;
    top: -260px;
    font-size: 0;
    margin-bottom: -260px;
  }

  .photo {
    width: 520px;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;


    & + .photo {
      margin-left: 40px;
    }
  }

  .title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.45;
    margin-top: 60px;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Georgia';
  }

  .text {
    font-size: 18px;
    font-family: 'Georgia';
  }
}

.b-legend__metaphora {
  .text {
    &:before {
      content: '';
      display: block;
      width: 20px;
      border-bottom: 2px solid black;
      margin: 0 auto 33px;
    }
  }
}
