* {
  box-sizing: border-box;
  outline: none;
}

html,
button,
input,
select,
textarea {
  color: #00263a;
}

html {
  font: 400 16px/1.875 'Geometria';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 1160px;
  padding-top: 0px;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    min-width: 0;
  }

}

.app-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 110px;
}

iframe {
  overflow: hidden;
  border: none;
  background: transparent;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  transition: color 0.15s;
  text-decoration: none;
  color: #677d80;

  &:hover {
    color: #00263a;
  }
}

p {
  margin: 5px 0;

  &:first-child {
    margin-top: 0;
  }
}

sup {
  top: -0.75em;
  font-size: 0.5em;
}

h1,
h2 {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  margin: 30px 0;

   & + ul,
   & + ol {
     margin-top: 30px;
   }
}

ol {
  list-style: none;
  padding-left: 0;
  counter-reset: ordered-list;
  font-family: 'Georgia';
  margin: 40px 0;

  & > li {
    counter-increment: ordered-list;
    position: relative;
    padding-left: 25px;
    margin: 40px 0;

    &::before {
      content: counter(ordered-list) '.';
      font-weight: 700;
      position: absolute;
      left: 0;
    }
  }
}

ul {
  list-style: none;
  padding-left: 0;
  font-family: 'Georgia';
  margin: 40px 0;

  li {
    position: relative;
    padding-left: 20px;
    margin: 10px 0;

    &::before {
      content: '•';
      font-size: 120%;
      position: absolute;
      left: 3px;
      top: -2px;
    }
  }
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

:focus {
  &::placeholder {
    color: transparent;
  }
}

svg {
  -webkit-transform: translateZ(0); // Fix for Safari transition bug
}
