.page-content {
  flex: 1 0 0;
  &.technology,
  &.material-page {
    padding-bottom: 130px;
  }
}

  .b-iscroll {
    position: relative;
    z-index: 1;

  .b-iscroll-container {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 5000px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 0;
    display: block;
    text-align: left;
    // height: 304px;
    z-index: 1;

    &.products,
    &.buttons {
      height: auto;
    }
  }
}

.content-wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0 40px;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    width: 1024px;
    padding: 0 24px;
  }

}

.pseudo-link {
  cursor: pointer;
  transition: border-color 0.15s;
  color: #677d80;
  border-bottom: 1px dotted;

  &:hover {
    border-bottom-color: transparent;
  }
}

.collapsed-block {
  .collapsed-title {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #a4b1bd;
    font-size: 12px;
    font-weight: 700;

    &.active {
      margin-bottom: 7px;

      .arrow {
        transform: rotate(180deg);
      }
    }

    &.disabled {
      cursor: auto;

      .arrow {
        display: none;
      }
    }

    .text {
      vertical-align: middle;
    }

    .arrow {
      position: relative;
      top: -1px;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .collapsed-content {
    display: none;
  }

  .collapsed-title.active + .collapsed-content {
    display: block;
  }
}

.huge-title {
  margin-bottom: 84px;
  text-align: center;
  line-height: 1;

  .text {
    display: block;
    margin: 42px 0 46px;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 200;
  }
}

.full-width {
  width: 100vw;
  min-width: 1160px;
  margin-right: -40px;
  margin-left: -40px;

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    min-width: 100%;
    margin-right: calc(-100vw / 2 + 976px / 2);
    margin-left: calc(-100vw / 2 + 976px / 2);
  }


  @media screen and (min-width: 1160px) {
    margin-right: calc(-100vw / 2 + 1080px / 2);
    margin-left: calc(-100vw / 2 + 1080px / 2);
  }
}

.banner-with-centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 610px;
  background-position: 50% top;
  background-size: cover;

  .content {
    text-align: center;
    color: #fff;
  }

  &.darkened {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  &.short {
    height: 340px;
  }

  &.white {
    .content {
      color: black;
    }
  }

  .title {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    font-weight: 200;
  }

  .subtitle {
    margin-top: 19px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
  }

  .decoration {
    display: block;
    margin: 20px auto;
  }

  .text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }

  .subtext {
    // margin-top: 30px;
    // font-family: 'Georgia';
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.65;
  }

  .button-wrapper {
    margin-bottom: -40px;
  }

  .main-button {
    color: #fff;

    &:hover {
      color: #fff;
      background: #022639;
    }
  }

  a {
    color: inherit;
    font-weight: 700;
  }
}

.banner-with-text {
  padding: 110px 0;
  text-align: center;

  &.grey {
    background: #e9e9e9;
  }

  .title {
    margin: 0;
  }

  .text {
    font-family: 'Georgia';
  }

  .decoration {
    margin: 30px;
  }
}

.text-with-decorations {
  margin-bottom: 50px;
  text-align: center;
  line-height: 1;

  .suptitle {
    font: 18px/30px 'Geometria', sans-serif;
    text-transform: uppercase;
  }

  .text {
    display: block;
    margin: 34px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.65;
  }

  .subtext {
    margin-top: 30px;
    font: 18px/30px 'Georgia', serif;
  }
}

.text-highlight {
  font-weight: 700;
  font-style: italic;
}

.search {
  position: relative;
  display: inline-block;
  width: 85px;
  text-align: right;
  color: #a4b1bd;

  .icon {
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #fff;
  }

  .input {
    position: absolute;
    top: -5px;
    right: 0;
    width: 0;
    height: 40px;
    padding: 0;
    transition: width 0.4s;
    border: solid #a4b1bd;
    border-width: 0 0 1px;
    background: none;
    font-family: 'Georgia';
    font-size: 18px;
  }

  .icon:hover + .input,
  .input:hover,
  .input:focus {
    width: 240px;
  }

  .input:not(:placeholder-shown) {
    width: 240px;
  }
}

.back-link {
  display: inline-block;
  width: 85px;
  cursor: pointer;
  transition: color 0.15s;
  white-space: nowrap;
  text-transform: uppercase;
  color: #00263a;
  font-size: 12px;
  font-weight: 700;

  &:hover {
    color: #677d80;
  }

  .arrow {
    position: relative;
    top: -2px;
    margin-right: 5px;
    vertical-align: middle;
  }

  .text {
    vertical-align: middle;
  }
}

.preloader-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);

  & .preloader {
    position: relative;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
  }
}

.price {
  font-family: 'Geometria';
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;

  .currency {
    font-family: 'Georgia';
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
  }
}


.instagram {
  margin-top: 150px;
  margin-bottom: 80px;
}

.instagram__header {
  text-align: center;
  .svg-decoration-2 {
    margin: 36px 0 31px;
  }
}

.instagram__header__title {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 66px;
  margin: 0;
  text-align: center;
  font-weight: 200;
}

.instagram__header__description {
  font: 18px Georgia, serif;
}

.instagram__feed {
  margin-top: 76px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instagram__feed__item {

}

.instagram__feed__item__photo {
  display: block;
  width: 240px;
  height: 240px;
  background-size: cover;
  &:hover {
    opacity: .8;
  }
}

.instagram__feed__item__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: 14px Georgia, serif;
  margin-top: 15px;
}

.instagram__feed__item__caption__name {
  .fa-heart {
    color: #D3554F;
    margin-right: 5px;
  }
}

.instagram__feed__item__caption__timeago {
}

.collections-buttons {
  margin-top: 118px;
  margin-bottom: 80px;
}

.collections-buttons__header {
  text-align: center;
  &:before {
    content: '';
    display: block;
    width: 20px;
    border-bottom: 2px solid black;
    margin: 0 auto 33px;
  }
  &:after {
    content: '';
    display: block;
    width: 20px;
    border-top: 1px solid black;
    margin: 35px auto 0;
  }
}

.collections-buttons__header__title {
  font: bold 18px 'Geometria', sans-serif;
  text-transform: uppercase;
}

.collections-buttons__header__description {
  font: 18px Georgia, serif;
  margin-top: 6px;
}

.collections-buttons__list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.collections-buttons__list__item {
  text-transform: uppercase;
  font-weight: bold;
  width: 180px;
  border-radius: 3px;
  border: 1px solid #022639;
  text-align: center;
  color: #022639;
  height: 40px;
  line-height: 39px;
  font-size: 14px;

  .arrow-order-mobile {
    display: none;
  }

  & + & {
    margin-left: 20px;
  }
  &:hover {
    color: #D3554F;
    border-color: #D3554F;
  }
}
