@font-face {
  font-family: 'Geometria';
  font-weight: 200;
  font-style: normal;
  src: url('/assets/fonts/geometria-light.woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/geometria-regular.woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/geometria-medium.woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/geometria-bold.woff');
}
