.page-footer {
  padding: 70px 0 50px;
  margin-top: 40px;
  color: #a4b1bd;
  background: #f2f2f2;
  font-family: 'Georgia';

  &.hidden {
    display: none;
  }

  .site-nav {
    margin-bottom: 80px;
    font-size: 0;
  }

  .logo-column {
    display: inline-block;
    width: 280px;
    padding-right: 40px;
    text-align: center;
    vertical-align: top;

    @media only screen and (min-width: 769px) and (max-width: 1239px) {
      width: 230px;
    }

  }

  .nav-column {
    display: inline-block;
    width: 140px;
    vertical-align: top;
    font-size: 1rem;
  }

  .column-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #677D80;
    font-family: 'Geometria';
    font-size: 12px;
  }

  .link {
    display: inline-block;
  }

  .copyright {
    float: left;
    font-size: 12px;
    line-height: 40px;
  }

  .social-links {
    margin: 0 250px;
    text-align: center;
    font-size: 0;

    .link {
      margin: 0 10px;
      color: #c4c8cc;

      &:hover {
        color: #677d80;
      }
    }

    .icon {
      width: 40px;
      height: 40px;
    }
  }
}
