.switch-group {
  transition: color 0.15s;
  color: #677d80;

  &:hover {
    color: #00263a;

    & .switch {
      background: #00263a;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 16px;
    transition: background 0.15s;
    vertical-align: middle;
    border-radius: 8px;
    background: #677d80;
  }

  .switch-input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  .switch-circle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 14px;
    height: 14px;
    transition: transform 0.15s;
    border-radius: 50%;
    background: #f2f2f2;
  }

  .switch-input:checked ~ .switch-circle {
    transform: translateX(8px);
  }

  .switch-label {
    margin-left: 10px;
    vertical-align: middle;
    color: inherit;

    .mobile-text {
      display: none;
    }
  }
}

.checkbox-input {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 4px;
  background: #fff;

  .input {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }

  .check {
    position: absolute;
    top: 18px;
    left: 15px;
    visibility: hidden;
    transition: 0.15s visibility, 0.15s opacity;
    opacity: 0;
  }

  .input:checked + .check {
    visibility: visible;
    opacity: 1;
  }
}

.checkbox-label {
  display: inline-block;
  width: calc(100% - 70px);
  margin-left: 20px;
  vertical-align: middle;
  font-family: 'Georgia';
  font-size: 16px;
  line-height: 1.2;
}

.radio-group {
  & + & {
    margin-top: 20px;
  }

  .radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid #9da1a5;
    border-radius: 50%;

    .radio-input {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      cursor: pointer;
      opacity: 0;
    }

    .radio-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      visibility: hidden;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      margin-left: -3px;
      transition: 0.15s visibility, 0.15s opacity;
      opacity: 0;
      border-radius: 50%;
      background: #00263a;
    }

    .radio-input:checked + .radio-circle {
      visibility: visible;
      opacity: 1;
    }
  }

  .radio-label {
    display: inline-block;
    width: calc(100% - 30px);
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Georgia';
    font-size: 16px;
    line-height: 1.25;
  }
}

.number-input {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
  font-size: 0;

  .input-box {
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #dde1e5;
    border-radius: 4px 0 0 4px;
    font-family: 'Geometria';
    font-size: 18px;
  }

  .input-arrows {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 40px;
    vertical-align: top;
    border: solid #dde1e5;
    border-width: 1px 1px 1px 0;
    border-radius: 0 4px 4px 0;
  }

  .input-arrow {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    cursor: pointer;
    transition: color 0.15s;
    color: #677d80;
    border: none;
    background: none;

    &:hover {
      color: #000;
    }
  }

  .input-arrow-up {
    top: 0;
  }

  .input-arrow-down {
    bottom: 0;
  }

  & + .main-button {
    margin-left: 20px;
  }
}

.main-button {
  display: inline-block;
  padding: 0 20px;
  transition: color 0.15s, background 0.15s;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #dde1e5;
  border-radius: 4px;
  background: none;
  font-family: 'Geometria';
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  white-space: nowrap;

  &:hover:not(:disabled),
  &.clicked {
    color: #fff;
    background: #dde1e5;
  }

  &.clicked {
    cursor: default;
  }

  .text {
    vertical-align: middle;
  }

  .icon {
    margin-right: 8px;
    vertical-align: middle;
  }

  & + & {
    margin-left: 20px;
  }

  &.dark {
    color: #022639;
    border-color: #022639;

    &:hover:not(:disabled) {
      color: #fff;
      background: #022639;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.75;
      color: #022639;
      background: none;
    }
  }

  &.white {
    color: #fff;
    border-color: #fff;

    &:hover:not(:disabled) {
      color: #022639;
      background: #fff;
    }
  }
}

.coupon-label {
  font-family: 'Geometria';
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  line-height: 38px;

}

.coupon-input {
  display: inline-block;
  padding: 0 20px;
  transition: color 0.15s, background 0.15s;
  vertical-align: middle;
  border: 1px solid #dde1e5;
  border-radius: 4px;
  background: none;
  font-family: 'Geometria';
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  white-space: nowrap;

  &:hover:not(:disabled),
  &.clicked {
    color: #fff;
    background: #dde1e5;
  }

  &.clicked {
    cursor: default;
  }

  .text {
    vertical-align: middle;
  }

  .icon {
    margin-right: 8px;
    vertical-align: middle;
  }

  & + & {
    margin-left: 20px;
  }

  &.dark {
    color: #022639;
    border-color: #022639;

    &:hover:not(:disabled) {
      color: #fff;
      background: #022639;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.75;
      color: #022639;
      background: none;
    }
  }

  &.white {
    color: #fff;
    border-color: #fff;

    &:hover:not(:disabled) {
      color: #022639;
      background: #fff;
    }
  }
}

.round-button {
  display: inline-block;
  width: 160px;
  cursor: pointer;
  transition: color 0.15s, background 0.15s;
  text-align: center;
  text-transform: uppercase;
  color: #231f20;
  border: 1px solid #231f20;
  border-radius: 50%;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 154px;
  height: 160px;

  &:hover {
    color: #fff;
    background: #231f20;
  }

  & + & {
    margin-left: 35px;
  }

  &.success {
    cursor: default;
    color: #fff;
    border-color: #64b480;
    background: #64b480;
  }
}

.errors {
  position: relative;
  margin-top: 48px;
  padding-left: 85px;
  text-align: left;
  font-family: 'Georgia';
  font-size: 1rem;

  &:before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 48px;
    height: 48px;
    content: '!';
    text-align: center;
    color: #e15550;
    border: 1px solid #e15550;
    border-radius: 50%;
    font-family: 'Geometria';
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
  }

  .error {
    &:before {
      margin-right: 10px;
      margin-left: -17px;
      content: '•';
    }
  }
}

.input-group {
  margin-bottom: 20px;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  &.correct .check {
    visibility: visible;
    opacity: 1;
  }

  &.error {
    .input-wrapper::after {
      visibility: visible;
      opacity: 1;
    }

    .text-input {
      border-color: #e15550;
      box-shadow: inset 0 0 0 1px #e15550;
    }
  }
}

.double-input-group {
  margin-bottom: 20px;
  font-size: 0;

  .input-group {
    display: inline-block;
    width: calc(50% - 10px);
    margin-bottom: 0;
    vertical-align: top;

    & + .input-group {
      margin-left: 20px;
    }
  }

  .text-input {
    width: 100%;
  }
}

.input-wrapper {
  position: relative;

  .check {
    position: absolute;
    top: 18px;
    right: 15px;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s;
    opacity: 0;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 20px;
    visibility: hidden;
    content: '!';
    transition: opacity 0.15s, visibility 0.15s;
    opacity: 0;
    color: #e15550;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
  }
}

.two-columns-inputs {
  font-size: 0;

  & + .two-columns-inputs {
    margin-top: 60px;
  }

  .column {
    display: inline-block;
    width: 380px;
    vertical-align: top;

    & + .column {
      margin-left: 40px;
    }
  }

  .column-title {
    margin-bottom: 30px;
    padding-left: 10px;
    color: #808080;
    font-family: 'Georgia';
    font-size: 14px;
  }

  .checkbox-input,
  .checkbox-label {
    margin-top: 21px;
  }

  .back-link {
    line-height: 40px;
  }

  .column-bottom {
    margin-top: 80px;
  }
}

.label {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  color: #677d80;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
}

.text-input {
  width: 380px;
  height: 50px;
  padding: 0 50px 0 20px;
  border: 1px solid #9da1a5;
  border-radius: 4px;
  background: #fff;
  font-family: 'Georgia';
  font-size: 18px;
}

.textarea {
  width: 380px;
  height: 234px;
  padding: 20px;
  border: 1px solid #9da1a5;
  border-radius: 4px;
  background: #fff;
  font-family: 'Georgia';
  font-size: 18px;
}

.select-wrapper {
  width: 380px;
  border: 1px solid #9da1a5;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: solid #9da1a5;
    border-width: 0 0 1px 1px;
    position: absolute;
    right: 20px;
    top: 17px;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
  }
}

.select {
  appearance: none;
  width: calc(100% + 30px);
  height: 50px;
  border: none;
  padding: 0 80px 0 20px;
  background: #fff;
  font-family: 'Georgia';
  font-size: 18px;
  cursor: pointer;
}

.form {
  .inputs {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  .two-columns-inputs {
    width: 800px;
  }

  .buttons {
    margin-top: 70px;
    text-align: center;
  }

  .info {
    font-size: 14px;
    font-family: 'Georgia';
    color: #808080;
    padding-left: 10px;
    line-height: 1.4;

    a {
      text-decoration: underline;
    }
  }
}
