.page-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  transition: padding 0.3s, background 0.15s;
}

.header-main {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  background: #f2f2f2;

  .content-wrapper {
    position: static;
    text-align: justify;
    font-size: 0;

    &::after {
      display: inline-block;
      width: 100%;
      content: '';
    }
  }

  .menu-btn,
  .close-btn,
  .close-btn.link {
    display: none;
  }

  .site-nav {
    display: inline-block;
    width: 470px;
    margin-left: -20px;
    vertical-align: middle;
    font-size: 12px;
  }

  .site-subnav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s;
    opacity: 0;
    background: #f2f2f2;
    border-top: 1px solid #fff;

    .link {
      font-size: 12px;
      line-height: 70px;
    }
  }

  .subnav-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .link:hover + .site-subnav,
  .site-subnav:hover {
    visibility: visible;
    opacity: 1;
  }

  .logo {
    display: inline-block;
    transition: transform 0.3s, color 0.15s;
    transform-origin: 50% 50%;
    vertical-align: middle;
    color: #00263a;
  }

  .controls {
    display: inline-block;
    width: 450px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
  }

  @media only screen and (min-width: 769px) and (max-width: 1239px) {
    .content-wrapper {
      width: 1024px;
      // text-align: left;
    }

    .site-nav {
      width: 440px;
    }

    .subnav-wrapper {
      width: 1024px;
      padding: 0;
    }

    .controls {
      width: 370px;
    }
  }


  .user {
    display: inline-block;
  }

  .link {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    transition: line-height 0.3s;
    color: #677d80;
    line-height: 110px;

    &.no-action {
      cursor: default;
    }

    &:hover {
      color: #00263a;
    }

    .icon {
      vertical-align: middle;
    }

    .text {
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .switch-group {
    margin-left: 20px;
  }

  .svg-icon-user {
    position: relative;
    top: -1px;
  }

  .minimized-header & {
    .logo {
      transform: scale(0.6);
    }

    .link {
      line-height: 70px;
    }
  }

  .wholesale & {
    background: #022639;

    .site-subnav {
      background: #022639;
    }

    .logo {
      color: #fff;
    }

    .link,
    .text,
    .switch-label {
      color: #a5b2be;
    }

    .link:hover {
      color: #fff;

      .text {
        color: #fff;
      }
    }

    .switch {
      background: #a5b2be;
    }

    .switch-circle {
      background: #022639;
    }
  }
}

.header-forms {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  max-height: calc(100vh - 110px);
  padding: 90px 0;
  transition: background 0.15s, transform 0.3s;
  text-align: center;
  color: #fff;
  background: #578add;

  a {
    text-decoration: underline;
    color: inherit;
  }

  .minimized-header & {
    max-height: calc(100vh - 70px);
  }

  &.active {
    transform: translateY(100%);
  }

  .forms-header {
    display: none;
  }

  .close-button {
    position: absolute;
    top: -45px;
    right: 40px;
    transition: opacity 0.15s;
    color: #fff;
    border: none;
    background: none;
    font-size: 0;

    &:hover {
      opacity: 0.75;
    }
  }

  .label {
    color: #fff;
  }

  .text-input {
    border-color: #fff;
  }

  .wholesale & {
    border-top: 1px solid #fff;
    background: #022639;
  }

  .round-button {
    color: #fff;
    border-color: #fff;

    &:hover {
      color: #231f20;
      background: #fff;
    }
  }

  .pseudo-link {
    cursor: pointer;
    color: #fff;
    font-family: 'Georgia';
    font-size: 14px;
  }

  .form-description {
    margin-bottom: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

  .login-form {
    text-align: center;

    .inputs {
      display: inline-block;
      text-align: left;
      vertical-align: top;
    }

    .buttons {
      display: inline-block;
      margin-top: 0;
      margin-left: 40px;
      padding-top: 10px;
      vertical-align: top;
    }

    .errors {
      display: inline-block;
    }
  }

  .restore-form {
    display: none;
    text-align: center;

    .inputs {
      position: relative;
      top: 44px;
      display: inline-block;
      text-align: left;
      vertical-align: top;
    }

    .buttons {
      display: inline-block;
      margin-top: 0;
      margin-left: 40px;
      padding-top: 10px;
      vertical-align: top;
    }

    .errors {
      margin-right: -60px;
    }

    .success {
      margin-top: 40px;
      color: #64b480;
    }
  }

  .registration-form {
    .already-registered {
      display: none;
    }

    .inputs,
    .buttons {
      width: 800px;
      margin: 0 auto;
    }

    .buttons {
      position: relative;
      margin-top: 70px;
      text-align: center;

      .link-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -20px;
        text-align: left;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-height: 800px) {
  body {
    // padding-top: 70px;
  }

  .app-container {
    padding-top: 70px;
  }

  .page-header {
    .header-main {
      .link {
        line-height: 70px;
      }
    }

    .logo {
      transform: scale(0.6);
    }
  }

  .header-forms {
    max-height: calc(100vh - 70px);
  }
}

.registration-form {
  display: none;
}

.restoration {
  .login-form {
    display: none;
  }

  .restore-form {
    display: block;
  }
}

.registration {
  .login-form {
    display: none;
  }

  .registration-form {
    display: block;
  }
}
