.svg-logo {
  width: 143.429px;
  height: 50px;
}

.svg-logo-feather {
  width: 80px;
  height: 102.868px;
}

.svg-icon-user {
  width: 13.83px;
  height: 16px;
}

.svg-icon-search {
  width: 19.707px;
  height: 19.707px;
}

.svg-icon-basket {
  width: 17.947px;
  height: 15px;
}

.icon-ruble {
  width: 11px;
  height: 12px;
}

.svg-icon-basket-add {
  width: 20.5px;
  height: 20px;
}

.svg-icon-zoom {
  width: 41px;
  height: 41px;
}

.svg-icon-refresh {
  width: 16px;
  height: 20px;
}

.svg-icon-catalogue-grid,
.svg-icon-catalogue-list {
  width: 18px;
  height: 18px;
}

.svg-icon-plus {
  width: 10px;
  height: 10px;
}

.svg-icon-cross {
  width: 21px;
  height: 21px;
}

.svg-icon-hamburger {
  width: 22px;
  height: 19px;
}

.svg-icon-filter-check {
  width: 13px;
  height: 9px;
}

.svg-icon-input-check {
  width: 20px;
  height: 14px;
}

.svg-arrow-left,
.svg-arrow-right {
  width: 18.707px;
  height: 14.707px;
}

.svg-arrow-up,
.svg-arrow-down {
  width: 11px;
  height: 6px;
}

.svg-sorting-arrow-up,
.svg-sorting-arrow-down {
  width: 9px;
  height: 11px;
}

.svg-icon-order {
  width: 50px;
  height: 50px;
}

.svg-arrow-order {
  width: 111px;
  height: 13px;
}

.svg-decoration-1 {
  width: 101px;
  height: 21px;

  &.flipped {
    transform: rotateY(180deg) rotateX(180deg);
  }
}

.svg-decoration-2 {
  width: 21px;
  height: 21px;
}
