.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -ms-touch-action: pan-y;
  -webkit-tap-text-highlight-color: transparent;
  -webkit-touch-callout: none;
      touch-action: pan-y;

  .slick-track {
    transform: translate3d(0, 0, 0);
  }

  .slick-list {
    transform: translate3d(0, 0, 0);
  }
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.slick-list.dragging {
  cursor: hand;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;

  &::before {
    display: table;
    content: '';
  }

  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

.slick-loading {
  .slick-track {
    visibility: hidden;
  }

  .slick-slide {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  &.slick-active {
    z-index: 1;
  }
}

[dir='rtl'].slick-slide {
  float: right;
}

.slick-slide.slick-loading {
  img {
    display: none;
  }
}

.slick-slide.dragging {
  img {
    pointer-events: none;
  }
}

.slick-initialized {
  .slick-slide {
    display: block;
  }
}

.slick-vertical {
  .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  margin-top: -14px;
  padding: 0;
  transition: color 0.15s;
  color: #a4b1bd;
  border: none;
  background: none;
  font-size: 0;

  &:hover {
    color: #00263a;
  }

  &.slick-hidden {
    display: none;
  }

  .arrow {
    width: 36px;
    height: 28px;
  }
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-dots {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;

  li {
    display: inline-block;
    margin: 0 5px;
    padding-left: 0;
  }

  button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    transition: background 0.15s;
    transition: border-color 0.15s, background 0.15s;
    border: 2px solid #a4b1bd;
    border-radius: 50%;
    background: #a4b1bd;

    &:hover {
      border-color: #00263a;
      background: #00263a;
    }
  }

  .slick-active button {
    width: 12px;
    height: 12px;
    background: none;
  }
}
