// Base tables styles
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

// Main tables styles
.table {
  width: 100%;
  white-space: nowrap;

  .table-head {
    color: #808080;
    font-family: 'Georgia';
    font-size: 14px;
  }

  .cell {
    padding: 10px 30px 10px 0;
    vertical-align: middle;
    border-bottom: 1px solid #c4c8cc;

    &:last-child {
      padding-right: 0;
    }


    .in-basket-btn {
      display: none;
      margin-left: 20px;
      padding: 0 7px;
    }

    &.in-basket {
      .in-basket-btn {
        display: inline-block;
      }

      .not-in-basket-btn {
        display: none;
      }
    }


  }

  .image-cell,
  .button-cell {
    width: 1px;
    font-size: 0;
  }

  .image-cell {
    padding-right: 20px;
  }
}

.striped-table {
  width: 100%;

  .row:nth-child(even) {
    background: #f5f5f5;
  }

  .cell {
    padding: 5px 0 5px 40px;
    vertical-align: middle;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  .table-head .cell {
    padding-bottom: 10px;
  }

  .table-body .cell {
    border-bottom: none;
    height: 70px;
  }
}

// Tables content styles
.table {
  line-height: 1;

  .image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    transition: opacity 0.15s;
    background: #f2f2f2;

    &:hover {
      opacity: 0.8;
    }

    img {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .progressbar {
    width: 240px;
    height: 2px;
    border-radius: 1px;
    background: #c4c8cc;

    .value {
      height: 2px;
      border-radius: 1px;
      background: #687d80;
    }
  }

  .quantity {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
  }

  .quantity + .button-remove {
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 30px;

    .icon {
      width: 14px;
      height: 14px;
    }
  }

  .name,
  .order-number,
  .date,
  .price,
  .vendor-code,
  .size,
  .places {
    font-size: 18px;
    text-transform: uppercase;
  }

  .name,
  .order-number,
  .size,
  .places {
    font-weight: 700;
  }

  .name,
  .order-number {
    a {
      color: inherit;
    }
  }

  .color,
  .weight,
  .volume,
  .payment,
  .status,
  .in-stock {
    font-family: 'Georgia';
  }

  .color {
    color: #8b98a4;
  }

  .vendor-code + .color {
    margin-top: 10px;
  }


  .button-cell .main-button {
    width: 100%;
  }
}

.table,
.mobile-products {
  .button-remove {
    display: inline-block;
    padding: 0;
    color: #e15550;
    border: none;
    background: none;
    font-size: 0;
  }

  .button-basket {
    padding: 0;
    transition: color 0.15s;
    vertical-align: middle;
    color: #677d80;
    border: none;
    background: none;
    font-size: 0;

    &:hover {
      color: #00263a;
    }
  }

}

.striped-table {
  .image {
    width: 60px;
    height: 60px;
  }

  .main-button {
    background: #fff;
  }
}

.order-table {
  margin-bottom: 60px;

  .table-body .row:not(.basket-info) {
    .cell {
      height: 115px;
    }
  }

  .color {
    color: #00263a;
  }

  .cell[rowspan] {
    vertical-align: top;
    line-height: 120px;
  }

  .basket-update {
    text-align: right;

    .cell {
      padding-top: 40px;
      border-bottom: 0;
    }

    .main-button {
      width: 100%;
    }
  }

  .basket-info {
    font-size: 0;

    .cell {
      padding-top: 80px;
      vertical-align: baseline;
      border-bottom: 0;
    }

    & + .basket-info .cell {
      padding-top: 20px;
    }

    .price-label {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
    }

    .full-price {
      font-size: 24px;

      &.error {
        color: #e15550;
      }
    }


    .link {
      text-decoration: underline;
      font-family: 'Georgia';
      font-size: 14px;
    }

    .main-button {
      margin-top: 20px;
    }

    .errors {
      width: 550px;
      margin: 20px -320px 0 0;
    }
  }

  .order-number {
    text-transform: uppercase;
    color: #00263a;
    font-family: 'Geometria';
    font-size: 18px;
    font-weight: 700;
  }
}

.payment-method {
  &.radio-group{
    > li {
      padding-left: 0;
    }
    .radio-label{
      margin-left: 30px;
    }
  }
}
