.partners-list {
  position: relative;
  // width: 100%;
  margin: 120px 0;

  .title {
    font-family:'Geometria', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00263A;
    text-align: center;
    margin: 60px 0;
  }

  .arrow-bg {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.left {
      left: -24px;
    }

    &.right {
      right: -24px;
    }

    .arrow {
      width: 22px;
      height: 18px;
    }
  }

  .wrapper {
    position: relative;

    &.wrapper-quotes {
      margin: 0 -20px;

      .arrow-bg {
        margin-top: 22px;

        &.left {
          left: -4px;
        }

        &.right {
          right: -4px;
        }
      }
    }
  }

  .dots {
    display: none;
  }

  .quotes {
    font-size: 0;
    display: flex;
    flex-direction: row;

    .quote {
      position: relative;
      flex-shrink: 0;
      text-align: center;
      width: 560px;
      line-height: 28px;
      font-size: 18px;
      font-family: Georgia, sans-serif;

      .padding {
        height: 100%;
        padding: 0 20px;
      }

      .in {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 50px;
        background-color: #F2E9EE;
      }

      .text {
        font-style: italic;
        margin-bottom: 18px;
      }

      .author {
        position: relative;

        
        &::before {
          background-color: #677D80;
          width: 24px;
          height: 1px;
          content: "";
          display: block;
          margin: 0 auto 17px;
        }
      }
    }
  }

  .partners {
    font-size: 0;

    .partner-logo {
      display: inline-block;
      width: 186px;
      height: 60px;
      padding: 0 21px;

      img {
        width: 100%;
      }
    }
  }
}