@media only screen and (max-width: 768px) {
  .partners-list {
    margin: 0 -18px;

    .title {
      margin: 40px 0 24px;
    }

    .wrapper {    
      &.wrapper-quotes {
        margin: 0;
        background-color: #F2E9EE;
        padding-top: 40px;

        .title {
          margin-top: 0;
        }

        .dots {
          margin: 30px 0 0;
          padding-bottom: 15px;
        }
      }
    }

    .quotes {
      .quote {
        font-size: 16px;
        line-height: 24px;

        .padding {
          padding: 0;
        }

        .in {
          height: auto;
          align-items: top;
          padding: 0 20px;
        }
      }
    }

    .partners {
      .partner-logo {
        width: 100vw;
        height: auto;

        img {
          width: 208px;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .dots {
      margin: 47px 0 15px;
      padding: 0;
      display: flex;
      justify-content: center;
      font-size: 0;

      li {
        width: 6px;
        height: 6px;
        background-color: #e5e5e5;
        border-radius: 3px;
        margin: 0 4px;
        padding: 0px;

        &.active {
          background-color: #000;
        }
      }
    }
  }
}