@media only screen and (max-width: 768px) {
  .about-page {
    // text-align: center;

    .b-materials__header {
      margin-top: 0;

      .text {
        font: bold 14px/24px Geometria, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .b-materials__item {
      position: relative;

      .arrow {
        display: block;
        background-image: url("//media.canoe.ru/images/brand/about/arrow.svg");
        position: absolute;
        right: -20px;
        top: 30px;
        width: 40px;
        height: 10px;
        background-size: 60px 10px;
        background-repeat: no-repeat;
        background-position: right top;
      }

      &:last-child {
        .arrow {
          display: none;
        }
      }
    }
  }

  // .about-page__header {
  //   align-items: flex-end;
  //   padding-bottom: 60px;
  //   .decoration {
  //     margin: 0 auto;
  //   }
  // }

  // .about-page__header__title {
  //   margin: 39px 0;
  // }

  .about-page__history {
    height: auto;
    padding: 0;
    margin-bottom: 60px;
  }

  .about-page__history__decoration {
    display: none;
  }

  .about-page__history__icon {
    width: 80px;
    height: 80px;
    margin: 0px auto 0;
    background-size: 100%;
  }

  .about-page__history__title {
    margin-top: 16px;
    font: bold 14px/24px 'Geometria', sans-serif;
    // text-transform: uppercase;
  }

  .about-page__history__description {
    font: 16px/24px 'Georgia', serif;
    margin: 16px auto 0;

    br {
      content: '';

      &:after {
        content: ' ';
      }
    }
  }

  // .about-page__history__photo {
  //   width: 260px;
  //   height: 260px;
  //   margin: 41px auto 0;
  //   background-size: cover;
  // }

  // .about-page__history__stats {
  //   margin-top: 49px;
  //   padding: 0 61px;
  //   display: flex;
  //   justify-content: space-between;
  // }

  // .about-page__history__stat {
  //   width: 285px;
  // }

  // .about-page__history__stat__value {
  //   font: 200 96px/121px 'Geometria', sans-serif;
  //   .plus {
  //     display: inline-block;
  //     vertical-align: bottom;
  //     font-size: 60px;
  //   }
  // }

  // .about-page__history__stat__title {
  //   margin-top: 10px;
  //   font: 28px/39px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  //   &:before {
  //     content: '';
  //     display: block;
  //     width: 180px;
  //     margin: 0 auto 22px;
  //     border-bottom: 2px solid #C0C9CD;
  //   }
  //   &:after {
  //     content: '';
  //     display: block;
  //     width: 180px;
  //     margin: 20px auto 0;
  //     border-bottom: 2px solid #C0C9CD;
  //   }
  // }

  .about-page__history__house {
    &:before {
      display: none;
      // content: '';
      // display: block;
      // height: 100px;
      // width: 2px;
      // background: #C0C9CD;
      // margin: 50px auto 0;
    }
  }

  // .about-page__history__house__icon {
  //   width: 154px;
  //   height: 122px;
  //   margin: 38px auto 0;
  //   background-repeat: no-repeat;
  // }

  .about-page__history__house__title {
    margin-top: 40px;
    font: bold 14px/24px 'Geometria', sans-serif;
    // text-transform: uppercase;
    letter-spacing: 1px;
  }

  .about-page__history__house__description {
    width: auto;
    margin: 16px 0 0;
    font: 16px/24px 'Georgia', sans-serif;
  }

  // .about-page__collections {
  //   height: 610px;
  //   background-size: cover;
  //   background-position: center top;
  // }

  // .about-page__collections__content {
  //   color: white;
  //   padding: 199px 0 0;
  //   width: 1080px;
  // }

  // .about-page__collections__title {
  //   font: bold 18px/30px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  //   margin: 10px 0 18px;
  // }

  // .about-page__collections__list {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-top: 81px;
  // }

  // .about-page__collections__list__item {
  //   width: 243px;
  // }

  // .about-page__collections__list__item__title {
  //   color: white;
  //   font: bold 18px/30px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  //   &:hover {
  //     color: white;
  //   }
  // }

  // .about-page__collections__list__item__description {
  //   margin-top: 5px;
  //   font: 14px/20px 'Georgia', serif;
  // }

  // .about-page__quality {
  //   height: 810px;
  //   background-size: cover;
  //   background-position: center top;
  // }

  // .about-page__quality__content {
  //   background: white;
  //   width: 1080px;
  //   height: 790px;
  //   top: -50px;
  //   padding: 100px 0 0;
  // }

  // .about-page__quality__title {
  //   font: bold 18px/30px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  // }

  // .about-page__quality__description {
  //   width: 280px;
  //   font: 18px/30px 'Georgia', serif;
  //   margin: 9px auto 0;
  // }

  // .about-page__quality__steps {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: flex-start;
  //   margin-top: 90px;
  //   padding: 0 130px;
  // }

  // .about-page__quality__steps__step {
  //   margin: 0 10px 144px;
  //   flex: 0 0 auto;
  //   position: relative;
  // }

  // .about-page__quality__steps__step__image {
  //   width: 100px;
  //   height: 100px;
  // }

  // .about-page__quality__steps__step__title {
  //   margin-top: 24px;
  //   position: absolute;
  //   left: 50%;
  //   width: 180px;
  //   margin-left: -90px;
  //   font: bold 11px/20px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  // }

  // .about-page__quality__steps__arrow {
  //   width: 60px;
  //   height: 10px;
  //   flex: 0 0 auto;
  //   margin: 42px 25px 0;
  // }

  .about-page__partner {
    height: auto;
    // background: #CCCCDD;
    padding: 60px 0 0;
  }

  .about-page__partner__decoration {
    display: none;
  }

  .about-page__partner__title {
    margin-top: 0;
    font: bold 14px/24px 'Geometria', sans-serif;
    letter-spacing: 1px;
    // text-transform: uppercase;
  }

  .about-page__partner__description {
    margin: 16px 0 0;
    width: auto;
    font: 16px/24px 'Georgia', serif;
  }

  .about-page__partner__list {
    font: 16px/24px 'Georgia', serif;
    font-style: italic;
    padding-bottom: 112px;

    span {
      display: none;
    }

    &:before {
      // content: '';
      display: none;
      // width: 20px;
      // border-bottom: 2px solid #67798B;
      // margin: 20px auto 18px;
    }
  }

  .about-page__partner__list__item {
    &:before {
      display: block;
      content: '•';
      width: 100%;
      margin: 2px 0 1px;
    }
  }

  .about-page__malls {
    top: 0px;
    margin: -72px 8px -175px;
    // background: white;
    height: 240px;
    // position: relative;
    // z-index: 2;
  }

  .about-page__malls__decoration {
    margin-top: 40px;
  }

  .about-page__malls__description {
    width: auto;
    margin: 16px 18px 40px;
    font: 16px/24px 'Georgia', serif;
  }

  .about-page__malls__types {
    display: none;
    // justify-content: space-between;
    // padding: 0 140px;
    // margin-top: 42px;
  }

  // .about-page__malls__type {
  //   &.offline {
  //     width: 520px;
  //   }
  //   &.online {
  //     width: 240px;
  //   }
  // }

  // .about-page__malls__type__image {
  //   height: 180px;
  //   background-repeat: no-repeat;
  //   background-position: center bottom;
  // }

  // .about-page__malls__type__stores {
  //   display: flex;
  //   text-align: left;
  //   margin-top: 36px;
  // }

  // .about-page__malls__type__stores__title {
  //   font: bold 11px/20px 'Geometria';
  //   text-transform: uppercase;
  //   width: 120px;
  //   color: #00263A;
  // }

  // .about-page__malls__type__stores__list {
  //   display: flex;
  // }

  // .about-page__malls__type__stores__list__column {
  //   height: 120px;
  //   border-left: 2px solid #8E9BA6;
  //   padding-left: 20px;
  //   & + & {
  //     margin-left: 45px;
  //   }
  // }

  // .about-page__malls__type__stores__list__item {
  //   display: block;
  //   font: bold 11px/20px 'Geometria';
  //   text-transform: uppercase;
  //   color: #8E9BA7;
  // }

  .about-page__business {
    margin-top: 0px;
    padding: 214px 0 60px;
    // background: #D4E3D9;
  }

  .about-page__business__title {
    font: bold 14px/24px 'Geometria', sans-serif;
  }

  .about-page__business__decoration {
    margin-top: 16px;
  }

  .about-page__business__description {
    margin: 4px 24px 0;
    width: auto;
    font: 16px/24px 'Georgia', serif;
  }

  .about-page__business__stat {
    width: auto;

    &.right {
      margin-top: 60px;
    }
  }

  .about-page__business__stats {
    margin-top: 60px;
    padding: 0;
    display: block;
    // justify-content: space-between;
  }

  .about-page__business__stat__value {
    font: 300 80px/60px 'Geometria', sans-serif;
  }

  .about-page__business__stat__title {
    margin: 16px auto 0;
    font: 300 28px/40px 'Geometria', sans-serif;
    // text-transform: uppercase;
    width: auto;
  }

  .about-page__business__stat__subtitle {
    margin: 3px auto 0;
    width: 260px;
    font: 14px/20px 'Georgia', serif;
  }

  .about-page__contacts {
    padding: 60px 0 0;
  }

  .about-page__contacts__title {
    font: bold 14px/24px 'Geometria', sans-serif;
    letter-spacing: 1px;
    // text-transform: uppercase;
  }

  .about-page__contacts__decoration {
    margin-top: 16px;
  }

  .about-page__contacts__phone {
    margin-top: 10px;
    font: 300 28px/40px 'Geometria', sans-serif;
  }

  .about-page__contacts__phone-hint {
    margin-top: 16px;
    font: 16px/24px 'Georgia', serif;
  }

  .mobile-about-collections {
    margin-bottom: 60px;
    position: relative;

    .pagination {
      position: absolute;
      bottom: 0px;
      z-index: 1;

      span {
        opacity: 0.4;
        border: 1px solid #fff;
        background-color: #fff;
        margin: 0 3px;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }

    .collections-wrapper {
      background-size: cover;
      height: 181px;
    }

    .swiper-container {
      top: -48px;
      margin-bottom: -48px;
      padding-bottom: 32px;
    }

    .card {
      padding: 0 24px;

      div {
        background-color: #fff;
        padding: 40px 18px;
        font: 400 16px/24px Georgia, sans-serif;
        min-height: 192px;

        p {
          margin: 0;
        }
      }

      .title {
        font: 700 14px/24px Geometria, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

    }
  }

}