@media only screen and (max-width: 768px) {
  .campaign-page {
    // margin-bottom: 20px;

    // .svg-decoration-3 {
    //   width: 168px;
    //   height: 21px;
    // }

    // .hidden-until-activation {
    //   display: none;
    // }

    // .text-with-decorations {
    //   &.for-campaign {
    //     padding-top: 50px;

    //     .suptitle {
    //       margin-bottom: 35px;
    //       font-size: 30px;
    //       font-family: Georgia, sans-serif;
    //     }
    //   }
    // }

    .collection-header {
      filter: none;
      transition: none;

      &.showed {
        filter: none;

        .heading {
          display: none;
        }
      }

      .heading {
        // top: 35px;
        // color: #00263A;
        // bottom: auto;
        // text-shadow: none;
        display: none;
      }

      // .text {
      //   margin-bottom: 0;
      // }

      // .name {
      //   font-size: 22px;
      //   line-height: 30px;
      // }
    }

    .text-with-decorations {
      .text {
        font-size: 28px;
        // font-weight: 300;
        line-height: 40px;
        margin: 16px 0;
      }
    }

    .c-text {
      font-family: Georgia, sans-serif;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 36px;
      text-align: center;
      letter-spacing: 1px;

      &.small {
        font-size: 16px;
        letter-spacing: 0;
        text-transform: none;
      }
    }

    .image-blocks {
      .centered-photo {
        height: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;

        .image {
          width: 100%;
          height: 280px;
          background-size: cover;
          background-position: center top;
          // margin-bottom: 60px;

          &.square {
            width: 280px;
            margin: 0 auto;
          }
        }

        .bg {
          height: 168px;
          top: auto;
          bottom: 0;
          z-index: 0;
        }

        .bg-wide {
          height: auto;
          bottom: 100px;
          top: 0;
        }

        .c-text {
          padding: 60px 0;
          z-index: 1;
          position: relative;
        }

        &.small-margin {
          .c-text {
            padding: 40px 18px;
            margin-bottom: 0;
          }
        }

        .instagram {
          margin-bottom: 0;
        }
      }
    }



  //   .diagonal-blocks {
  //     font-size: 0;
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     align-items: flex-start;

  //     .block {
  //       width: 610px;
  //     }

  //     .image {
  //       background-size: cover;
  //       width: 100%;
  //       height: 610px;
  //     }

  //     .images {
  //       width: 610px;
  //       height: 610px;
  //       position: relative;
  //       overflow: hidden;

  //       .image {
  //         position: absolute;
  //         left: 110%;
  //         top: 0;

  //         &.prepared {
  //           transition: left 1000ms ease;
  //         }

  //         &.active {
  //           left: 0;
  //         }

  //         &.hide {
  //           left: -110%;
  //         }
  //       }
  //     }

  //     .text {
  //       text-align: center;
  //       font-size: 16px;
  //       line-height: 1.85;
  //       font-family: Georgia, sans-serif;
  //       text-transform: uppercase;
  //       letter-spacing: 1px;

  //       p {
  //         margin-bottom: 25px;
  //       }

  //       .comment {
  //         margin-bottom: 0;
  //         font-style: italic;
  //         color: #677D80;
  //         text-transform: none;
  //       }
  //     }
  //   }

  //   .no-margin {
  //     margin-bottom: 0 !important;
  //   }

  //   .two-diagonal-blocks {
  //     margin: 0 -70px 100px;

  //     .text {
  //       margin: 110px 0;

  //       &.big-text {
  //         margin: 83px 0;
  //       }
  //     }
  //   }

  //   .three-diagonal-blocks {
  //     align-items: stretch;
  //     margin-bottom: 100px;

  //     .block-left,
  //     .block-right {
  //       flex-grow: 1;
  //       width: auto;

  //       .image {
  //         background-size: auto 100%;
  //         background-position: left 0;
  //         background-repeat: no-repeat;
  //         background-color: #f1ddde;
  //       }
  //     }

  //     .block-left {
  //       align-self: flex-end;

  //       .image {
  //         background-position: right 0;
  //       }
  //     }

  //     .text {
  //       margin: 75px 0;
  //     }
  //   }

  //   .centered-photo {
  //     position: relative;
  //     margin-bottom: 140px;
  //     margin-top: 150px;

  //     &.small-margin {
  //       margin-top: 92px;
  //       margin-bottom: 72px;
  //     }

  //     .text {
  //       text-transform: uppercase;
  //       font-size: 16px;
  //       text-align: center;
  //       z-index: 1;
  //       position: relative;
  //       font-family: Georgia, sans-serif;
  //       padding: 68px 0 63px;
  //       letter-spacing: 1px;
  //       margin: 0;

  //       &.columns {
  //         font-size: 0;
  //         padding-right: 265px;
  //       }

  //       .column {
  //         font-size: 16px;
  //         width: 240px;
  //         display: inline-block;
  //         margin: 0 20px;
  //       }
  //     }

  //     .image {
  //       background-repeat: no-repeat;
  //       background-size: 100% 100%;
  //       width: 1082px;
  //       height: 610px;
  //       margin: 0 auto;
  //       position: relative;
  //       z-index: 1;
  //     }

  //     .bg {
  //       display: block;
  //       position: absolute;
  //       z-index: 0;
  //       width: 50%;
  //       height: 100%;

  //       &.bg-wide {
  //         width: 100%;
  //         left: 0;
  //         top: 0;
  //         height: 610px;
  //       }

  //       &.bg-left {
  //         right: 50%;
  //         top: 70px;
  //       }

  //       &.bg-right {
  //         left: 50%;
  //         top: -70px;
  //       }

  //       &.bg-padding {
  //         box-sizing: border-box;
  //         height: 610px;

  //         span {
  //           display: block;
  //           height: 100%;
  //           width: 100%;
  //           background-repeat: no-repeat;
  //           background-size: auto 100%;
  //         }

  //         &.bg-left {
  //           padding-right: 300px;
  //           bottom: 0px;
  //           top: auto;

  //           span {
  //             background-position: right 0;
  //           }
  //         }

  //         &.bg-right {
  //           padding-left: 300px;
  //           top: 0px;

  //           span {
  //             background-position: left 0;
  //           }
  //         }


  //       }
  //     }
  //   }

  //   .cta {
  //     margin-bottom: 50px;
  //     text-align: center;
  //     text-transform: uppercase;

  //     .text {
  //       font-family: Georgia, sans-serif;
  //       margin-bottom: 25px;
  //       letter-spacing: 1px;
  //     }

  //     .title {
  //       font-size: 60px;
  //       color: #00263A;
  //       letter-spacing: 2px;
  //       font-weight: 300;
  //     }
  //   }

    .products-block {
      margin: 0 -18px 60px -12px;
      width: 100vw !important;
      // margin-bottom: 100px;

      // .text {
      //   font-size: 16px;
      //   margin-bottom: 63px;
      //   text-align: center;
      //   font-family: Georgia, sans-serif;
      //   letter-spacing: 1px;

      //   &.uppercase {
      //     text-transform: uppercase;
      //   }

      //   &.large {
      //     font-size: 18px;
      //     margin-bottom: 72px;
      //   }
      // }

      .products {
        position: relative;
        z-index: 1;

        .product {
          display: inline-block;
          margin-left: 12px;
          width: 120px;
          height: 120px;
          position: relative;
          overflow: hidden;

          .image {
            position: relative;
            left: auto;
          }

          img {
            width: 100%;
            height: 100%;
          }

          // span.image,
          // a {
          //   display: block;
          //   width: 100%;
          //   height: 100%;
          // }

          &:first-child {
            margin-left: 12px;
          }

          // a,
          // span.image {
          //   position: absolute;
          //   top: 0;
          //   left: 110%;

          //   &.prepared {
          //     transition: left 1000ms ease;
          //   }

          //   &.active {
          //     left: 0;
          //   }

          //   &.hide {
          //     left: -110%;
          //   }
          // }
        }
      }

    }


  //   .banner {
  //     height: 610px;
  //     margin-bottom: 100px;
  //     background-size: cover;
  //     text-align: center;

  //     .text {
  //       font-size: 60px;
  //       line-height: 80px;
  //       font-weight: 300;
  //       color: #fff;
  //       text-transform: uppercase;
  //       padding-top: 202px;
  //     }

  //     .b-with-media__content__link {
  //       margin-top: 45px;
  //     }
  //   }

  }

  .collapsed-content {
    position: relative;
    overflow: hidden;
    max-height: 80px;
    margin: 0 -18px;
    transition: max-height 1s;
    padding: 0 18px;

    &.expanded {
      max-height: 3000px;
    }

  }

  .expand-btn-container {
    position: relative;
    font-size: 0;
    height: 0;
    margin-bottom: 100px;
    transition: margin-bottom 0.3s;

    .expand-btn {
      display: block;
      background: url("/assets/images/expand-btn.png") no-repeat;
      width: 56px;
      height: 56px;
      background-size: 100% 100%;
      position: absolute;
      bottom: -28px;
      left: 50%;
      margin-left: -28px;
      z-index: 2;
      opacity: 1;
      transition: opacity 0.3s;
    }

    .gradient {
      height: 80px;
      width: 100%;
      display: block;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: height 0.3s;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }

    p {
      position: absolute;
      width: 200px;
      left: 50%;
      margin-left: -100px;
      bottom: -68px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      opacity: 1;
      transition: opacity 0.3s;
    }

    &.hidden {
      margin-bottom: 0;

      .expand-btn {
        opacity: 0;
      }

      .gradient {
        height: 0;
      }

      p {
        opacity: 0;
      }
    }

  }

  .legend-page {
    .expand-btn-container {
      margin-bottom: 40px;

      .gradient {
        background: linear-gradient(to bottom, rgba(129,145,183,0) 0%, rgba(129,145,183,1) 100%);
      }
    }

    .text-1 {
      margin: -24px 0 86px;

      .decoration {
        display: none;
      }

      .text {
        margin: 0px 0 16px;
      }

      .subtext {
        width: auto;
        margin: 16px 0 0;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .b-video {
    // position: relative;
    // display: block;
    width: auto;
    height: auto;
    margin: 0 0 40px;

    video {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  // .b-shift-block {

  // }

  .b-shift-block__shifter {
    // position: relative;
    top: 0px;

    .icon-play {
      position: absolute;
      z-index: 1;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-left: -30px;
      top: 50%;
      margin-top: -30px;

      &.hidden {
        display: none;
      }
    }
  }

  .b-legend__machine {
    background: #93A7CF;
    text-align: center;
    padding-top: 36px;

    .decoration {
      display: none;
    }
  }

  .b-legend__machine__title {
    color: #fff;
    margin-bottom: 24px;
  }

  .b-legend__machine__title__text {
    margin-top: 40px;
    font: 300 44px/60px 'Geometria', sans-serif;
    // text-transform: uppercase;
  }

  .b-legend__machine__videowrapper {
    margin-top: 0px;
    padding-bottom: 136px;
  }

  .b-legend__machine__texts-header {
    // text-align: center;
    // color: white;

    .text {
      margin-top: 0px;
      // text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
      // font-weight: 700;
      margin-bottom: 16px;
    }
  }

  .b-legend__machine__texts {
    margin-top: 0px;
    display: block;
    // flex-direction: row;
    // justify-content: space-between;

    .collapsed-content {
      display: block;
    }
  }

  .b-legend__machine__text {
    // color: white;
    font: 16px/24px 'Georgia', serif;
    width: auto;
    margin-bottom: 24px;
  }

  .b-legend__house {
    // text-align: center;
    padding: 15px 0 60px;
  }

  // .b-legend__house__icon {
  // }

  .b-legend__house__content {
    width: auto;
    margin: 40px auto 0;
    font: 16px/24px 'Georgia', serif;
    color: #00263A;
  }

  .mobile-end-text {
    font: 16px/24px 'Georgia', serif;
    text-align: center;
    margin-top: 40px;
  }

  .b-legend__end {
    display: none;
    // .content {
    //   color: #00263A;
    // }
  }
}