@media only screen and (max-width: 768px) {
  .catalogue-header-banner {
    height: 180px;
  }

  .catalogue {
    overflow: visible;
  }

  .catalogue-controls {
    margin: 0;
    padding: 0;
    min-height: 60px;
    position: relative;

    &::after {
      display: none;
    }

    .filters-counter {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
      line-height: 16px;
      top: 17px;
      text-transform: uppercase;
      display: block;

      i {
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
        line-height: 23px;
      }

      span {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background: #00263A;
        text-align: center;
        line-height: 24px;
        vertical-align: middle;
        color: #fff;
        margin-left: 4px;
      }
    }

    .sorting {
      display: block;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-right: -18px;

      .svg-icon-sort {
        position: absolute;
        top: 21px;
        left: 0;

        &.flipped {
          transform: scaleY(-1);
        }
      }

      .drop-down {
        display: block;
        width: 100%;
        top: 0px;

        span:not(.arrow) {
          padding: 15px 5px 15px 0px;
          border-top: 1px solid #E8E8E8;
          position: relative;

          &:first-child {
            border-top: none;
          }
        }

        .types {
          display: block;
          position: relative;
          padding: 0 0 0 30px;
          left: 0;
          line-height: 16px;
          width: 100%;
          overflow: hidden;
          max-height: 0;
          opacity: 0;
          transition: max-height 0.4s linear, opacity 0.4s linear;
          z-index: 2;

          span:hover {
            color: inherit;
          }

          .active {
            display: block;

            .svg-icon-filter-check {
              display: block;
              position: absolute;
              left: -30px;
              top: 17px;
              width: 19px;
              height: 13px;
            }

            .arrow {
              display: block;
            }
          }

          &.showed {
            opacity: 1;
            max-height: 400px;
          }
        }

      }

      .arrow {
        display: none;
        margin-left: 0;
        position: absolute;
        top: 12px;
        right: 16px;

        .svg-sorting-arrow-up,
        .svg-sorting-arrow-down {
          width: 18px;
          height: 22px;
        }
      }
    }
  }

  .catalogue-filter {
    float: none;
    width: 100%;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 110%;
    background: #fff;
    transition: top 0.3s;
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;

    .confirm {
      width: 100%;
      background-color: #00263A;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      text-align: center;
      line-height: 60px;
      height: 60px;
      position: fixed;
      z-index: 1002;
      bottom: -160px;
      left: 0;
      display: block;
      transition: bottom 0.4s;
    }

    &.active {
      top: 0;

      .confirm {
        bottom: 0;
      }
    }


    .filter-group {
      padding: 18px 18px 15px;
      background-color: #F4F4F4;

      &:first-child {
        border-top: none;
      }
    }

    .reset-filters {
      margin-top: 0px;
      background: none;

      .svg-icon-plus {
        display: none;
      }

      .icon-mobile {
        display: block;
        width: 25px;
        height: 25px;
        margin-top: -13px;
      }

      &.hidden {
        display: none;
      }
    }

    .filter-group-title {
      font-size: 14px;
    }

    .svg-sorting-arrow-up,
    .svg-sorting-arrow-down {
      height: 18px;
      width: 14px;
    }

    .toggle-group-button {
      margin-top: -10px;

      .svg-icon-plus {
        width: 22px;
        height: 22px;
        display: none;
        position: relative;
        top: -1px;

        &.icon-mobile {
          display: inline-block;
        }
      }
    }

    .filter-item {
      padding: 8px 0 8px 30px;

      .icon {
        left: 3px;
        margin-top: -6px;
      }

      .svg-icon-filter-check {
        display: none;
      }

      .icon-mobile {
        display: inline-block;
        width: 19px;
        height: 13px;
      }
    }

    .filter-group.active {
      background: none;

      .toggle-group-button {
        margin-top: -12px;
        right: -1px;

        .svg-icon-plus {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .catalogue-view {
    float: none;
    width: 100%;
  }

  .catalogue-grid {
    margin: 0 -6px;
    text-align: left;

    .slick-slider {
      height: auto;
      margin: 0 -18px 24px;
    }

    .product-tile {
      margin-bottom: 24px;
    }
  }
}