@media only screen and (max-width: 768px) {
  .collections-2018 {
    color: #00263A;

    .full-width {
      margin-left: -18px;
      margin-right: -18px;
    }

    .collections-bg {
      width: 100vw;

      &.collections-bg-1 {
        height: 1163px;
      }

      &.collections-bg-2 {
        top: 280px;
        height: 776px;
      }

      &.collections-bg-3 {
        height: 984px;
      }

      &.collections-bg-4 {
        top: 280px;
        height: 776px;
      }
    }

    .collection-header {
      overflow: visible;
      height: 318px;
      margin-bottom: 190px;

      .heading {
        display: block;
        position: relative;
        top: auto;
        padding-top: 30px;

        .name {
          font-size: 28px;
          line-height: 40px;
          font-family: Geometria, sans-serif;
          font-weight: 200;

          br {
            display: none;
          }

          span {
            display: none;
          }
        }
      }

      .page-link {
        display: none;
      }

      .mobile-page-links {
        display: block;
        padding-top: 14px;
        position: relative;
        z-index: 1;

        ul {
          margin: 0 0 16px;
          position: relative;
          text-align: center;
        }

        li {
          font-size: 14px;
          letter-spacing: 1px;
          display: inline-block;
          text-transform: uppercase;
          text-align: center;
          color: #fff;
          line-height: 1.8;
          padding: 0 10px;
          font-family: Geometria, sans-serif;

          a {
            color: #fff;
            border-bottom: 1px solid #fff;
          }

          &::before {
            display: none;
          }
        }

        .page-img {
          width: 280px;
          height: 280px;
          margin: 0 auto;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .text-with-decorations {
      margin-bottom: 0;

      .text {
        font-size: 44px;
        line-height: 60px;

        @media only screen and (max-width: 360px) {
          font-size: 37px;
          line-height: 48px;
        }
      }

      .subtext {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
      }
    }

    .mobile-bg-container {
      position: relative;

      .banner-with-centered-content {
        position: relative;
      }

      > .text {
        position: relative;
        margin: 20px 0px 60px;
        text-align: center;
        text-transform: uppercase;
        font-family: Georgia, sans-serif;
        font-size: 14px;
      }

      .collections-bg {
        margin-left: -18px;
      }
    }

    #iscroll-nightspeed-1,
    #iscroll-nightspeed-4 {
      .gallery-texts {
        height: 118px;
      }
    }

    #iscroll-nightspeed-2,
    #iscroll-newhorizions-2 {
      .gallery-texts {
        height: 118px;
      }
    }

    #iscroll-nightspeed-3,
    #iscroll-newhorizions-3 {
      .gallery-texts {
        height: 142px;
      }
    }

    #iscroll-nightspeed-2,
    #iscroll-nightspeed-4,
    #iscroll-newhorizions-2,
    #iscroll-newhorizions-4 {
      margin-top: 50px;

      .item {
        img {
          height: calc(100vw - 71px);
          width: 100%;
          object-fit: cover;
          object-position: 0 100%;
        }

        &:first-child {
          img {
            object-position: 0 0;
          }
        }
      }
    }

    #iscroll-nightspeed-4,
    #iscroll-newhorizions-4 {
      .item {
        img {
          object-position: 0 0;
        }
      }
    }


    .image-blocks {
      margin-top: 30px;

      > .text {
        position: relative;
        font-family: Georgia, sans-serif;
        margin: 20px 0px 60px;
        text-transform: uppercase;
        text-align: center;
      }

      > .banner-with-centered-content {
        position: relative;

        &.no-height-limit {
          height: 280px;
          background-position: center bottom;
        }
      }

      .tilt-container {
        position: relative;
        overflow: hidden;
        padding-top: 60px;
        margin-top: -24px !important;
      }

      .centered-photo {
        .image {
          width: 637px;
          height: 360px;
          left: -318px;
        }

        .flying-image {
          &.left {
            width: 220px;
            height: 220px;
            left: 80px;
          }

          &.right {
            width: 280px;
            height: 280px;
            right: auto;
            left: 383px;
            bottom: -80px;
          }
        }

        .flying-images {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 700px;
        }

        .centered-small-image {
          width: 120px;
          height: 120px;
          margin: 0;
          position: absolute;
          bottom: -60px;
          left: calc(50vw - 60px);
        }

        .text {
          padding-top: 100px;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 24px;
          width: 228px;
          margin: 0 auto 60px;
          color: #00263A;
        }
      }
    }

    .vertical-scroll {
      position: relative;
      height: 744px;
      margin-bottom: 60px;

      &.no-height {
        height: auto;
      }

      .bg {
        width: 280px;
        height: 280px;
        display: block;
        background-size: cover;
        position: absolute;
      }

      .bg-top {
        right: 0;
        top: 0;
        z-index: 0;
      }

      .bg-bottom {
        top: 100%;
        margin-top: -280px;
        left: 0;
        z-index: 2;
      }

      .image {
        width: 100%;
        height: 280px;
        background-size: cover;
        background-position: center 0;
        position: absolute;
        z-index: 1;
        top: 50%;
        margin-top: -140px;
        left: 0;
      }

      &.no-height {
        .image {
          position: static;
          top: auto;
          margin-top: 0;
          left: auto;
        }
      }
    }

    .cross-link {
      margin-top: 60px;

      .image {
        background-size: cover;
        width: 280px;
        height: 280px;
        margin: 0 auto -48px;
        position: relative;
        z-index: 1;
      }

      .text {
        margin: 0 -18px;
        padding: 70px 18px 40px;
        background-size: cover;
        background-position: right 0;
        text-align: center;
        color: #fff;

        &.bg-left {
          background-position: left 0;
        }

        .title {
          font-size: 28px;
          line-height: 40px;
          text-transform: uppercase;
          font-weight: 200;
          margin-bottom: 8px;
        }

        .comment {
          font-family: Georgia, sans-serif;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 24px;
        }

        .button {
          font-family: Georgia, sans-serif;
          border-radius: 3px;
          background-color: #fff;
          letter-spacing: 1px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          display: inline-block;
          padding: 14px 30px;
          color: #00263A;
        }
      }
    }

    .instagram {
      margin-bottom: 40px;

      .instagram-link {
        background-color: #00263A;
        color: #fff;
      }
    }
  }
}
