@media only screen and (max-width: 768px) {
  .collection-header {
    // position: relative;
    height: 280px;
    margin-bottom: 40px;
    // background-position: 50% 25%;
    // background-size: cover;

    .heading {
      // position: absolute;
      // right: 0;
      // bottom: 60px;
      // left: 0;
      // text-align: center;
      // text-transform: uppercase;
      // color: #fff;
      // text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      // line-height: 1;
      // user-select: none;
      // cursor: default;
      display: none;
    }

    // .text {
    //   margin-bottom: 20px;
    //   font-size: 18px;
    // }

    // .name {
    //   font-size: 60px;
    //   font-weight: 200;
    // }

  }

  .mobile-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;

    .name {
      font-size: 44px;
      line-height: 60px;
      font-weight: 300;
    }

    .text {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
  }

  .collection-page {
    // .philosophy-photos {
    //   margin-bottom: 40px;
    // }

    // .two-photos {
    //   font-size: 0;
    //   margin-bottom: 40px;

    //   .photo {
    //     img {
    //       width: 520px;
    //       height: 520px;
    //     }

    //     & + .photo {
    //       margin-left: 40px;
    //     }
    //   }
    // }

    .remove-top-margin {
      margin-top: -60px;
    }

    .text-with-decorations {
      margin-bottom: 60px;

      .text {
        margin: 16px 0;
        letter-spacing: 1px;
        line-height: 24px;
      }

      .subtext {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .colored-background {
      height: 484px;
      margin-top: -184px;
      // margin-bottom: -325px;
    }

    .banner-with-gradient {
      width: auto;
      height: auto;
      position: relative;
      margin: -184px -18px 0;
      padding: 180px 0 40px;

      .text,
      .subtext,
      .b-with-media__content__link {
        color: #fff;
      }

      .b-with-media__content__link {
        margin-top: 40px;
      }
    }

    .banner-with-centered-content {
      margin-bottom: 60px;



      // .b-with-media__content__link {
      //   width: 180px;

      //   &:hover {
      //     color: #00263a;
      //   }
      // }


      &.mobile-bg-only {
        margin-top: 60px;
      }

      &.full-width {
        &.mobile-no-bg {
          background: none !important;
          height: auto;
        }
      }

      .content {
        color: #00263A;
        padding: 0 18px;
      }

      .decoration {
        display: none;
      }

      .text {
        font-size: 28px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 16px;
      }

      .subtext {
        font-size: 16px;
        line-height: 24px;
        font-family: Georgia, sans-serif;
        text-transform: none;
        letter-spacing: 0;
      }
    }

    // .banner-1 {
    //   margin-top: -155px;
    // }

    .banner {
      height: 280px;
      margin-top: 60px;
      // background-position: 50% 0;
      // background-size: cover;
      // margin-bottom: 65px;
    }
  }
}