@media only screen and (max-width: 768px) {
  .conditions-page {
    padding-top: 48px;

    .centered-text {
      width: auto;
      // margin: 0 auto;
    }

    h2 {
      // text-align: left;
      margin: 0px 0 12px;
      font-size: 14px;
      line-height: 16px;
    }

    h3 {
      font-size: 14px;
      line-height: 22px;
      margin: 28px 0 12px;
    }

    p {
      // font-family: 'Georgia';
      font-size: 16px;
      line-height: 24px;
      margin: 12px 0;
    }

    // a {
    //   font-weight: 700;
    //   font-style: italic;
    //   color: inherit;
    //   text-decoration: underline;
    // }

    .header-banner {
      border-top: none;
      height: auto;
      background: none;
      margin: 0 0 48px;
      width: auto;

      .text {
        font-size: 34px;
        line-height: 46px;
        font-weight: 300;

        br {
          display: none;
        }
      }

      .subtext {
        margin-top: 24px;
        // text-transform: none;
        // font-family: Georgia, sans-serif;
        font-size: 16px;
        line-height: 24px;

        .text-highlight {
          white-space: nowrap;
        }

        br {
          display: none;
        }
      }

      .content {
        color: #00263A;
      }

      .decoration {
        display: none;
      }
    }

    .form {
      margin-top: 48px;
      // margin-bottom: 0;
      padding: 0;
      background: none;

      h2 {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        font-family: Georgia, sans-serif;
        font-weight: 400;
        margin-bottom: 40px;
      }
    }

    .divider {
      // width: 40px;
      margin: 40px 0;
      // border-bottom: 1px solid;
    }

    ul {
      // margin-left: 4px;
      font-size: 16px;
      line-height: 24px;

      li {
        margin: 16px 0;
      }
    }

    ol {
      font-size: 16px;
      line-height: 24px;
      margin: 24px 0;

      ul {
        margin: 18px 0 18px -3px;
      }

      > li {
        margin: 24px 0;

        li {
          margin: 16px 0;
        }
      }
    }
  }
}