@media only screen and (max-width: 768px) {
  .contest-page {
    // display: block;
    // align-items: center;
    // background-color: #FAE1E2;
    // background-size: cover;
    // background-repeat: no-repeat;
    margin-top: -60px;

    // @media only screen and (max-width: 340px) {
    //   margin-top: -60px;
    // }

    &.filter-slide,
    &.success-slide {
      display: block;

      .content-wrapper {
        height: auto;
        // display: block;
      }
    }

    // .main-button {
    //   color: #00263A;
    //   border-color: #00263A;
    //   cursor: pointer;

    //   &:hover {
    //     background-color: #00263A;
    //     border-color: #00263A;
    //   }
    // }

    .content-wrapper {
      // display: block;
      // width: 100%;
      // padding: 0;
      // margin: 0;
      // min-height: 100vh;
    }

    .contest-info-popup {
      background-color: #FAE1E2;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .svg-icon-cross {
        position: absolute;
        right: 18px;
        top: 18px;
      }

      .in {
        .svg-icon-warning {
          width: 80px;
          height: 80px;
          margin: 0 auto 20px;
          display: block;
        }

        p {
          text-transform: uppercase;
          font-size: 16px;
          line-height: 30px;
          font-family: Georgia, sans-serif;
          text-align: center;
        }
      }
    }

    .navigation {
      // position: fixed;
      right: 10px;
      // top: 50%;
      // z-index: 1;
      // margin: -44px 0 0;

      // li {
      //   list-style: none;
      //   width: 6px;
      //   height: 6px;
      //   border-radius: 4px;
      //   border: 1px solid #00263A;
      //   margin: 0 0 38px;
      //   padding: 0;

      //   &.active {
      //     background-color: #00263A;
      //   }

      //   &:before {
      //     display: none;
      //   }
      // }
    }

    // .main-button {
    //   border-color: #00263A;
    //   cursor: pointer;

    //   &:hover {
    //     background-color: #00263A;
    //   }

    //   &.disabled {
    //     opacity: 0.4;
    //     cursor: auto;

    //     &:hover {
    //       color: #00263A;
    //       background: none;
    //     }
    //   }
    // }

    .slide {
      // display: flex;
      // align-items: center;
      // height: 100%;
      // flex-direction: column;
      // justify-content: center;
      // text-align: center;
      // position: relative;
      padding: 0 26px;

      // p {
      //   margin: 0;
      // }


      .title {
        // position: absolute;
        // z-index: 1;
        top: 70px;
        // left: 0;
        // text-align: center;
        // width: 100%;
        // font-weight: 700;
        // text-transform: uppercase;

        &.first {
          top: 70px;
        }

        @media only screen and (max-width: 340px) {
          top: 10px;
        }
      }

      .slide-num {
        // font-size: 60px;
        // font-weight: 300;
        // line-height: 80px;
        margin-bottom: 23px;

        @media only screen and (max-width: 340px) {
          font-size: 44px;
          line-height: 58px;
          margin-bottom: 10px;
        }
      }

      &.slide-first {
        .title {
          top: 70px;

          @media only screen and (max-width: 340px) {
            top: 70px;
          }
        }

        .slide-num {
          padding-top: 70px;
        }
      }


      .text {
        // text-transform: uppercase;
        // font-family: Georgia, sans-serif;
        // font-size: 16px;
        // line-height: 30px;

        @media only screen and (max-width: 340px) {
          font-size: 14px;
          line-height: 24px;

          .main-button {
            margin-top: 10px;
          }
        }

        // strong {
        //   letter-spacing: 1px;
        // }

        br {
          content: '';

          &:after {
            content: ' ';
          }
        }
      }

      .confirm {
        position: relative;
        padding-top: 30px;
        bottom: auto;
        // left: 0;
        // width: 100%;
        // text-align: center;

        @media only screen and (max-width: 340px) {
          padding-top: 20px;
        }

        label {
          // font-family: Georgia, sans-serif;
          // font-style: italic;
          margin-bottom: 15px;
          // color: #afa9b0;
          // display: inline-block;
          // position: relative;
          // line-height: 16px;
          // cursor: pointer;

          // &:before {
          //   display: block;
          //   content: '';
          //   background: url('/assets/images/contest/unchecked.png') no-repeat;
          //   width: 16px;
          //   height: 16px;
          //   background-size: 100%;
          //   position: absolute;
          //   left: -30px;
          // }

          // &.checked {
          //   cursor: auto;

          //   &:before {
          //     background-image: url('/assets/images/contest/checked.png');
          //   }
          // }
        }
      }
    }

    .contest-success {
      // text-align: center;
      // font-family: Georgia, sans-serif;
      padding-top: 70px;
      padding-bottom: 50px;

      .text {
        // font-size: 16px;
        // line-height: 30px;
        // text-transform: uppercase;
        padding: 0 18px;

        @media only screen and (max-width: 340px) {
          font-size: 14px;
          line-height: 24px;

          p {
            margin-bottom: 10px;
          }
        }

        // p {
        //   margin-bottom: 25px;
        // }

        // strong {
        //   letter-spacing: 1px;
        // }
      }

      .sharing {
        margin: 25px 0;

        // .share-title {
        //   font-style: italic;
        // }

        // ul {
        //   font-size: 0;
        //   text-align: center;
        //   margin: 0;
        //   padding-top: 10px;
        // }

        li {
          // display: inline-block;
          width: 60px;
          height: 60px;
          // opacity: 0.3;
          // transition: opacity 0.15s;
          // cursor: pointer;
          // margin: 0 11px;
          // padding: 0;

          svg {
            // color: #00263a;
            width: 60px;
            height: 60px;
          }

          // &:hover {
          //   opacity: 1;
          // }
        }
      }
    }

    .contest-main {
      min-height: 0;
      padding: 0;
      // width: 100%;
      // position: relative;
      // display: flex;
      // align-items: center;
      // justify-content: center;

      // .hidden {
      //   display: none;
      // }

      #canvas {
        width: 320px;
        height: 320px;
      }

      .title {
        // position: absolute;
        // z-index: 1;
        top: 70px;
        // left: 0;
        // text-align: center;
        // width: 100%;
        // font-weight: 700;
        // text-transform: uppercase;
      }

      .svg-arrow-left {
        // position: absolute;
        top: 12px;
        left: 18px;
        z-index: 2;
        // width: 34px;
        // height: 25px;
        // cursor: pointer;
      }

      .container {
        padding-top: 110px;
        padding-bottom: 50px;
        width: 320px;
        height: auto;
        // position: relative;

        .photo {
          width: 320px;
          height: 320px;
          // overflow: hidden;
          // background-color: #a6a6a6;
          margin-bottom: 15px;
        }

        .filters-container {
          position: relative;
          height: 90px;
          width: 100%;
          top: auto;
          right: auto;
          font-size: 0;



          // .iScrollVerticalScrollbar {
          //   width: 5px;
          //   font-size: 0;
          //   position: absolute;
          //   top: 0;
          //   right: 0;
          //   height: 100%;

          //   &:before {
          //     content: '';
          //     display: block;
          //     width: 1px;
          //     left: 3px;
          //     position: absolute;
          //     top: 5px;
          //     bottom: 5px;
          //     background-color: #fff;
          //   }

          //   .iScrollIndicator {
          //     background: #fff !important;
          //     width: 5px;
          //     border-radius: 3px;
          //     left: 0px;
          //     z-index: 1;
          //     position: absolute;
          //   }
          // }

          .filter {
            // padding: 5px;
            // width: 90px;
            // height: 90px;
            margin-top: 0px;
            // cursor: pointer;
            display: inline-block;
            vertical-align: top;

            // &:first-child {
            //   margin-top: 0;
            // }

            // img {
            //   width: 100%;
            //   height: 100%;
            // }

            // &.active {
            //   padding: 0;
            //   border: 5px solid #fff;
            //   cursor: auto;
            // }
          }
        }

        .buttons {
          // text-align: center;
          margin-top: 15px;

          .comment {
            // font-size: 10px;
            // font-style: italic;
            padding-left: 190px;
            // text-align: left;
            // line-height: 13px;
          }

          // .main-button {
          //   width: 150px;
          //   color: #00263A;

          //   &:not(.disabled):hover {
          //     color: #fff;
          //   }
          // }
        }
      }
    }

    .contest-intro {
      // text-align: center;
      padding-top: 60px;
      margin: 0 18px;

      .title {
        // text-transform: uppercase;
        font-size: 30px;
        line-height: 40px;
        // font-weight: 300;
        // color: #fff;
        margin-bottom: 40px;

        // br {
        //   content: '';

        //   &:after {
        //     content: ' ';
        //   }
        // }
      }

      .text {
        width: auto;
        margin: -35px 0 0;
        font-size: 20px;
      }

      @media only screen and (max-width: 340px) {
        // padding-top: 0;

        .title {
          font-size: 25px;
          line-height: 32px;
          margin-bottom: 20px;
        }

        .text {
          margin-top: -10px;
        }
      }

      // .main-button {
      //   color: #fff;
      //   border-color: #fff;
      //   cursor: pointer;

      //   &:hover {
      //     background-color: #00263A;
      //     border-color: #00263A;
      //   }
      // }
    }
  }
}