@media only screen and (max-width: 768px) {
  .contacts-page {
    .header-banner {
      height: 280px;
    }

    .header-banner {
      font-size: 14px;
      line-height: 24px;

      .decoration {
        margin: 16px auto;
      }
    }

    .form {
      margin-top: 0;
      margin-bottom: 0;
      padding: 48px 0;
      background: none;

      h2 {
        text-align: center;
        font-family: Georgia, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 40px;

        br {
          display: none;
        }
      }
    }

    .support {
      margin: 0 -18px 24px;
      // text-align: center;
      background-color: #3F87EF;
      padding: 48px 18px;
      color: #fff;

      .title {
        text-transform: uppercase;
        font-size: 44px;
        font-weight: 300;
        line-height: 60px;
        margin-bottom: 24px;
      }

      .decorations {
        // margin: 50px 0 40px;
        // font-size: 0;
        display: none;
      }

      // .decoration + .decoration {
      //   margin-left: -1px;
      // }

      .text {
        // font-family: 'Georgia';
        line-height: 24px;
        padding-bottom: 40px;

        br {
          display: none;
        }
      }
    }

    .mobile-contacts-switcher {
      color: #fff;

      .btns {
        text-align: center;
        font-size: 0;
        margin-bottom: 40px;

        .btn {
          display: inline-block;
          font-size: 14px;
          line-height: 48px;
          height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          width: 120px;
          border: 1px solid #fff;
          border-radius: 0 3px 3px 0;

          &:first-child {
            border-radius: 3px 0 0 3px;
          }

          &.active {
            background-color: #fff;
            color: #3F87EF;
          }
        }

      }

      .phone {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 16px;
        font-family: "Geometria", sans-serif;

        a {
          color: #fff;
        }
      }

      .info {
        display: none;
        font-family: Georgia, sans-serif;
        font-size: 16px;
        line-height: 24px;

        &.active {
          display: block;
        }
      }

    }

    .support-info {
      // font-size: 0;
      display: none;

      // .retail {
      //   background: #4382dd;
      // }

      // .wholesale {
      //   background: #1b64c8;
      // }
    }

    // .support-block {
    //   display: inline-block;
    //   width: 50%;
    //   padding: 60px 0;
    //   text-align: center;
    //   color: #fff;
    //   font-size: 18px;
    //   line-height: 1.65;

    //   .title {
    //     text-transform: uppercase;
    //     font-weight: 700;
    //   }

    //   .divider {
    //     display: inline-block;
    //     width: 20px;
    //     margin: 50px 0;
    //     border-bottom: 2px solid #fff;
    //   }

    //   .phone {
    //     margin-bottom: 60px;
    //     font-size: 48px;
    //     font-weight: 200;
    //     line-height: 1;
    //   }

    //   .info {
    //     font-family: 'Georgia';
    //   }
    // }

    .map {
      height: 220px;
    }

    .mobile-address-title {
      display: block;
      font-weight: 700;
      line-height: 20px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #A5B2BE;
    }

    // .map-frame {
    //   width: 100%;
    //   height: 100%;
    //   pointer-events: none;
    //   border: none;
    // }

    .address {
      margin: 24px 0 0;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      font-family: Georgia, sans-serif;

      .title {
        // margin-bottom: 5px;
        // text-transform: uppercase;
        // font-weight: 700;
        // line-height: 1;
        display: inline;
      }

      .subtitle {
        // text-transform: uppercase;
        // font-size: 11px;
        display: none;
      }

      .text {
        // margin: 40px 0 50px;
        // font-family: 'Georgia';
        display: inline;

        a {
          color: #00263A;
        }
      }

      .decoration {
        display: none;
      }
    }
  }

}