@media only screen and (max-width: 768px) {
  .main-page {
  //   & + .page-footer {
  //     margin-top: 0;
  //   }

  //   .main-button {
  //     font-weight: 400;
  //   }

    .header-banner {
      height: 280px;
      padding-top: 24px;
      // background-size: cover;

      .collection-look {
        // display: block;
        // position: relative;
        width: auto;
        height: 280px;
        margin: 0 24px;
        border: none;
        // background: #edcac7;
      }

      .image {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // background-size: cover;
        z-index: 1;
        background-position: 50% 50%;
      }

      .text {
        // position: absolute;
        // right: 0;
        bottom: -196px;
        // left: 0;
        // text-align: center;
        // color: #fff;
        // line-height: 1;
        color: #00263A;
      }

      .title {
        margin: 0 auto 8px;
        // text-transform: uppercase;
        font-size: 48px;
        line-height: 60px;
        // font-weight: 200;
        max-width: 400px;

      }

      .subtitle {
        // font-family: 'Georgia';
        font-size: 16px;
      }

      @media only screen and (max-width: 340px) {
        .text {
          bottom: -165px;
        }

        .title {
          font-size: 40px;
          line-height: 50px;
        }
      }
    }

    .campaign {
      margin-top: 276px;
      padding: 40px 0 56px;
      // text-align: center;
      // background: #fae4d8;

      @media only screen and (max-width: 340px) {
        margin-top: 240px;
      }

      .text-with-decorations {
        margin-bottom: 40px;
      }

      .text {
        margin: 18px 0 14px;
        color: #00263A;
      }

      .info {
        width: auto;
        margin: 0 30px;
        // font: 18px/31px 'Georgia', serif;
        font-size: 16px;
        line-height: 24px;
        // strong {
        //   font-style: italic;
        // }

        br {
          content: '';

          &:after {
            content: ' ';
          }
        }
      }

      .main-button {
        margin-top: 40px;
        font-weight: 700;
        // padding: 0 30px;
      }
    }

    .facts-container {
      background-color: #FFF7F3;
      padding: 40px 18px 0;
      margin: 0 -18px;
      width: 100vw;

      .iscroll-wrapper {
        margin-top: 0;
      }
    }

  //   .facts {
  //     padding: 103px 0 100px;
  //     background: #fff7f3;

  //     .wrapper {
  //       width: 880px;
  //       margin: 0 auto;
  //     }

  //     .row {
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: space-between;
  //       align-items: flex-start;
  //       //text-align: justify;
  //       //font-size: 0;

  //       & + .row {
  //         margin-top: -28px;
  //       }

  //       //&::after {
  //       //  display: inline-block;
  //       //  width: 100%;
  //       //  content: '';
  //       //}
  //       &.reversed {
  //         flex-direction: row-reverse;
  //       }
  //     }

  //     .photo {
  //       display: block;
  //       width: 520px;
  //       height: 520px;
  //     }

  //     .image {
  //       height: 100%;
  //       background-size: cover;
  //     }

  //     .fact {
  //       display: inline-block;
  //       width: 180px;
  //       text-align: center;
  //       vertical-align: middle;
  //       font-weight: 200;
  //       &.fact-1 {
  //         margin-top: 79px;
  //         .text-wrapper {
  //           margin-top: 24px;
  //           padding: 21px 0 18px;
  //         }
  //       }
  //       &.fact-2 {
  //         margin-top: 115px;
  //         .text-wrapper {
  //           margin-top: 24px;
  //           padding: 21px 0 18px;
  //         }
  //       }
  //       &.fact-3 {
  //         margin-top: 135px;
  //         .text-wrapper {
  //           margin-top: 24px;
  //           padding: 21px 0 18px;
  //         }
  //       }
  //     }

  //     .number {
  //       font-size: 80px;
  //       line-height: 1;
  //     }

  //     .plus {
  //       position: relative;
  //       top: -5px;
  //       font-size: 60px;
  //     }

  //     .text-wrapper {
  //       margin-top: 25px;
  //       padding: 25px 0;
  //       border-width: 1px 0;
  //       border-style: solid;
  //     }

  //     .text {
  //       margin: 0 -50px;
  //       text-transform: uppercase;
  //       font-size: 28px;
  //       line-height: 1.45;
  //     }
  //   }

  //   .technologies {
  //     padding: 102px 0 100px;
  //   }

  //   .collections {
  //     position: relative;
  //     padding-top: 70px;

  //     &::before {
  //       position: absolute;
  //       z-index: -1;
  //       top: 0;
  //       right: 0;
  //       bottom: 260px;
  //       left: 0;
  //       content: '';
  //       background: #f2e9ee;
  //     }

  //     .text-with-decorations {
  //       margin-bottom: 70px;
  //     }

  //     .main-page-carousel {
  //       position: relative;
  //       max-width: 1640px;
  //       margin: 0 auto;
  //     }
  //   }

    .catalogue-part {
      margin: 0 0px 40px;
      padding-top: 16px;

      .huge-title {
        display: none;
        // text-align: left;
        // margin: 40px 18px 12px;

        // a {
        //   font-size: 14px;
        //   line-height: 20px;
        //   margin: 0;
        // }

        // .decoration {
        //   display: none;
        // }
      }

      .subtitle {
        // margin-top: 50px;
        // font-family: 'Georgia';
        // font-size: 18px;
        // text-align: center;
        // margin-bottom: -80px;
        display: none;
      }

      .similar-products {
        margin: 0px -18px;
        // padding: 0 12px;
        position: relative;
        overflow: hidden;


        .similar-heading {
          margin: 0 18px 0;

          .back-link {
            display: block;
            font-size: 14px;
            letter-spacing: 1px;

            .text {
              margin-right: 9px;
            }

            .arrow {
              width: 7px;
              height: 11px;
              top: -1px;
            }
          }
        }

        .b-iscroll {
          padding: 0 12px;
        }

        .similar-list {
          margin-top: 12px;
          text-align: left;
        }
      }
    }

  //   .inspiration {
  //     position: relative;
  //     margin-top: 257px;
  //     text-align: center;
  //     background: #fff7f3;

  //     .intro {
  //       margin: 0 auto;
  //       position: absolute;
  //       top: -171px;
  //       left: 0;
  //       right: 0;
  //       z-index: 1;
  //       width: 520px;
  //       padding: 64px 45px 50px;
  //       background: #f4ede9;
  //     }

  //     .title {
  //       text-transform: uppercase;
  //       font-size: 18px;
  //       font-weight: 700;
  //       line-height: 1;
  //     }

  //     .text {
  //       margin-top: 25px;
  //       font: 18px/31px 'Georgia', serif;
  //     }

  //     .main-button {
  //       margin-top: 49px;
  //       padding: 0 25px;
  //     }

  //     .image {
  //       height: 619px;
  //       background-size: cover;
  //     }
  //   }

    .socialmedias {
      margin-top: 60px;
      // text-align: center;

      .hashtag {
        // margin-bottom: 24px;
        // text-transform: uppercase;
        font-size: 28px;
        line-height: 40px;
        font-weight: 300;
      }

      .text {
        font-family: Georgia, sans-serif;
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
      }

      .instagram-link {
        display: inline-block;
        margin-top: 40px;
        // text-transform: uppercase;
        // font-size: 15px;
        // font-weight: bold;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid #00263A;
        color: #00263A;
        padding: 0 32px;

        &:after {
          // content: '';
          display: none;
          // height: 70px;
          // width: 2px;
          // background: black;
          // margin: 30px auto 0;
        }
      }


      // .instagram-item {
      //   display: inline-block;
      //   background-size: cover;
      //   background-position: center top;
      // }
    }

  //   .news {
  //     .huge-title {
  //       margin-top: 95px;
  //       .text {
  //         margin-top: 0;
  //       }
  //     }
  //     .news-list {
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: space-between;
  //     }
  //     .news-list-item {
  //       position: relative;
  //       width: 330px;
  //       .date {
  //         text-align: center;
  //         width: 50px;
  //         height: 50px;
  //         border-radius: 50%;
  //         background: #022639;
  //         position: absolute;
  //         left: -25px;
  //         top: -25px;
  //         color: white;
  //         font: 16px 'Geometria', sans-serif;
  //         text-transform: uppercase;
  //         display: flex;
  //         flex-direction: column;
  //         justify-content: center;
  //         align-items: center;
  //         z-index: 1;
  //         .number {

  //         }
  //         .month {
  //           font-size: 9px;
  //         }
  //       }
  //       .photo {
  //         display: block;
  //         width: 330px;
  //         height: 220px;
  //         background-size: cover;
  //         background-position: center top;
  //         &:hover {
  //           opacity: .8;
  //         }
  //       }
  //       .title {
  //         display: block;
  //         margin-top: 34px;
  //         text-transform: uppercase;
  //         font: bold 18px 'Geometria', sans-serif;
  //       }
  //       .annotation {
  //         margin-top: 22px;
  //         font: 16px/30px 'Georgia', serif;
  //         strong {
  //           font-style: italic;
  //         }
  //       }
  //       .link {
  //         display: block;
  //         font: 14px 'Georgia', serif;
  //         margin-top: 25px;
  //       }
  //     }
  //   }
  // }

  // .main-page-carousel {
  //   .slide {
  //     margin: 0 20px;
  //     transition: transform 0.5s;
  //     transition-delay: 0.25s;

  //     transform-style: preserve-3d;
  //   }

  //   .photo {
  //     width: 520px;
  //   }

  //   .name {
  //     position: absolute;
  //     top: 100%;
  //     right: 60px;
  //     left: 60px;
  //     margin-top: 84px;
  //     text-align: center;
  //     text-transform: uppercase;
  //     font-size: 28px;
  //     font-weight: 200;
  //     line-height: 1.4;
  //     .technologies & {
  //       margin-top: 70px;
  //     }
  //     .collections & {
  //       margin-top: 59px;
  //     }
  //   }

  //   .arrow {
  //     width: 19px;
  //     height: 15px;
  //   }

  //   .slick-track {
  //     padding-top: 150px;
  //   }

  //   .slick-current {
  //     transition-delay: 0.5s;
  //     transform: translateY(-150px);
  //   }

  //   .slick-arrow {
  //     top: auto;
  //     bottom: 40px;
  //     color: #00263a;
  //     .technologies & {
  //       bottom: 54px;
  //     }
  //     .collections & {
  //       bottom: 68px;
  //     }
  //   }

  //   .slick-prev {
  //     left: 50%;
  //     margin-left: -217px;
  //   }

  //   .slick-next {
  //     right: 50%;
  //     margin-right: -217px;
  //   }
  }
}
