@media only screen and (max-width: 768px) {
  .not-found-page {
    padding-top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    display: flex;
    min-height: 100vh;
    align-items: center;

    // text-align: center;
    // line-height: 1;

    .svg-logo-feather {
      color: #8E9BA7;
      margin-bottom: 24px;
    }

    .t-404 {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .main-button {
      position: absolute;
      bottom: 20px;
      left: 18px;
      right: 18px;
      background-color: #00263A;
      color: #fff;
    }

    .container {
      width: 100%;
    }

    // .title {
    //   margin-top: 50px;
    //   margin-bottom: 20px;
    //   font-size: 96px;
    //   font-weight: 200;
    // }

    // .subtitle {
    //   margin-bottom: 50px;
    //   text-transform: uppercase;
    //   font-size: 18px;
    // }
  }

  // .empty-page {
  //   padding-top: 15px;
  //   text-align: center;
  //   line-height: 1;

  //   .title {
  //     margin: 50px 0;
  //     text-transform: uppercase;
  //     font-size: 18px;
  //   }
  // }
}