@media only screen and (max-width: 768px) {
  // .philosophy {

  // }

  .philosophy-dna {
    min-height: 0;
    // background-size: cover;
    // background-position: center top;
    background: none !important;
    padding: 0px 0 0;
    margin: -34px -18px 40px;
  }

  .philosophy-dna__content {
    margin: 0;
    width: auto;
    height: auto;
    border-radius: 0;
    background: none;
    text-align: center;
    display: block;
    // align-items: center;
    // flex-direction: column;
    padding: 0px 0 0;

    .decoration {
      display: none;
    }
  }

  .philosophy-dna__title {
    font: bold 14px/24px 'Geometria', sans-serif;
    letter-spacing: 1px;
    // text-transform: uppercase;
    margin: 0px 0 16px 0;
  }

  .philosophy-dna__text {
    font: 16px/24px 'Georgia', sans-serif;
    margin: 0 18px;

    br {
      content: '';

      &:after {
        content: ' ';
      }
    }
  }

  // .philosophy-dna__decoration2 {
  //   margin-top: 60px;
  // }

  .philosophy-times {
    min-height: 0;
    margin-top: 0px;
  }

  // .philosophy-times__section {
  //   display: flex;
  //   flex-direction: row;
  // }

  // .philosophy-times__section__side {
  //   flex: 1;
  //   height: 540px;
  //   color: white;
  //   text-align: center;
  //   &.darkblue {
  //     background: #17488B;
  //   }
  //   &.blue {
  //     background: #8BA9CE;
  //   }
  //   &.image {
  //     background-size: cover;
  //     background-position: center;
  //   }
  // }

  // .philosophy-times__title {
  //   font: bold 14px/24px 'Geometria', sans-serif;
  //   // text-transform: uppercase;
  //   width: auto;
  //   margin: 60px 18px 0;
  //   letter-spacing: 1px;
  // }

  // .philosophy-times__decoration {
  //   margin: 27px 0 0;
  // }

  // .philosophy-times__text {
  //   font: 18px/30px 'Georgia', sans-serif;
  //   margin: 28px auto 0;
  // }

  // .philosophy-times__content {
  //   text-align: center;

  // }

  .philosophy-times__content__title {
    font: bold 14px/24px 'Geometria', sans-serif;
    // text-transform: uppercase;
    margin: 16px 0px 0;
    letter-spacing: 1px;

    br {
      content: '';

      &:after {
        content: ' ';
      }
    }
  }

  .philosophy-times__content__decoration {
    margin-top: 36px;
  }

  .philosophy-times__content__text {
    font: 16px/24px 'Georgia', sans-serif;
    width: auto;
    margin: 16px 0 60px;
  }


  .philosophy-nature {
    min-height: 0;
    height: 280px;
    // background-size: cover;
    // background-position: center center;
    // color: white;
    // text-align: center;
    padding: 0px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .philosophy-nature__title {
    font: bold 14px/24px 'Geometria', sans-serif;
    letter-spacing: 1px;
    // text-transform: uppercase;
  }

  .philosophy-nature__decoration {
    margin: 16px 0 0;
  }

  .philosophy-nature__text {
    margin: 16px 18px 0;
    font: 14px/24px 'Geometria', sans-serif;
    // text-transform: uppercase;
    letter-spacing: 1px;
  }

  .philosophy-create {
    min-height: 0;
    // text-align: center;
    padding: 60px 0 0;

    .decoration {
      display: inline-block;
      margin-bottom: 16px;
      margin-top: 0;
    }
  }

  .philosophy-create__title {
    font: bold 14px/24px 'Geometria', sans-serif;
    letter-spacing: 1px;
    // text-transform: uppercase;

    br {
      content: '';

      &:after {
        content: ' ';
      }
    }
  }

  .philosophy-create__text {
    width: auto;
    margin: 16px auto 0;
    font: 16px/24px 'Georgia', sans-serif;

    br {
      content: '';

      &:after {
        content: ' ';
      }
    }
  }

  .philosophy-photos {
    display: none;
    // position: relative;
    // .swiper-container {
    //   height: 520px;
    // }
    // .swiper-button-prev, .swiper-button-next {
    //   background-image: url('//media.canoe.ru/images/brand/arrow_white.svg');
    // }
    // .swiper-button-prev {
    //   left: 45px;
    // }
    // .swiper-button-next {
    //   right: 45px;
    //   transform: rotate(180deg);
    // }
  }

  // .philosophy-photos__item {
  //   width: 530px;
  //   height: 530px;
  //   background-size: cover;
  //   background-position: center;
  // }
}