@media only screen and (max-width: 768px) {
  .product-card {
    overflow: visible;
    margin: 0px 0px 35px;

    .photos-slider {
      float: none;
      width: auto;
      margin: 0 -18px;
      height: auto;
      // background: #f2f2f2;
      position: relative;

      // .photo {
      //   max-width: 520px;
      // }

      .slick-arrow {
        display: none !important;
      }

      .slick-dots {
        display: none !important;
      }

      .slick-track {
        transition: transform 0.3s;
      }

      .slider-position {
        display: block;
        position: absolute;
        bottom: -4px;
        z-index: 2;
        left: 0;
        height: 4px;
        background-color: #00263A;
        width: 20px;
        transition: left 0.3s;
      }
    }

    .product-info {
      float: none;
      width: auto;
    }
  }

  .product-back-link {
    // position: absolute;
    top: 18px;
    left: 18px;
    // line-height: 1;
    z-index: 1;
    width: auto;

    .svg-arrow-left {
      width: 22px;
      height: 17px;
      margin-right: 0;
    }

    .text {
      display: none;
    }
  }

  .product-heading {
    // overflow: hidden; // clearfix
    margin: 28px 0 36px;
    // line-height: 1;

    .name {
      // float: left;
      // margin: 0;
      // text-transform: uppercase;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 2px;
      text-align: left;
      line-height: 37px;
    }

    .vendor-code {
      // float: right;
      margin: 12px 0 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 1px;
    }

    .prefix {
      // font-family: 'Georgia';
      font-size: 14px;
      text-transform: none;
      letter-spacing: normal;
      // font-weight: 400;
    }
  }

  .product-params {
    // font-size: 0;

    .params-row {
      margin-top: 35px;

      + .params-row {
        margin-top: 35px;
      }
    }

    .expand-btn-container {
      margin-bottom: 20px;
    }

    .price {
      .currency {
        color: #677D80;

        .icon-ruble {
          width: 13px;
          height: 16px;
        }
      }
    }

    .param-label {
      display: block;
      width: auto;
      // padding-top: 7px;
      // padding-right: 30px;
      // vertical-align: top;
      // text-transform: uppercase;
      // color: #a4b1bd;
      font-size: 14px;
      letter-spacing: 1px;
      // font-weight: 700;
    }

    .param-content {
      // display: inline-block;
      width: 100%;
      // vertical-align: top;
      // font-family: 'Georgia';
      // font-size: 1rem;
      line-height: 24px;

      .number-input {
        + .main-button {
          margin-left: 0;
          background-color: #00263A;
          color: #fff;
          height: 40px;
          line-height: 38px;
        }

        .input-arrows {
          display: none;
        }

        .input-box {
          border-radius: 4px;
          width: 69px;
        }

      }
    }

    .collapsed-title {
      font-size: 14px;
    }

    .long-text {
      &:not(.show-all) .text {
        // display: -webkit-box;
        // overflow: hidden;
        // max-height: 84px;
        // text-overflow: ellipsis;

        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;
        max-height: 72px;
      }

      // .less-link {
      //   display: none;
      // }

      // &.show-all {
      //   .more-link {
      //     display: none;
      //   }

      //   .less-link {
      //     display: inline;
      //   }
      // }
    }

    .colors-list {
      // margin: -10px;
      // padding-top: 7px;
      // font-size: 0;
      width: auto;
      // position: relative;

      .color {
        // position: relative;
        // display: inline-block;
        // overflow: hidden;
        width: 67px;
        padding: 0 6px;
        height: 84px;
        margin: 8px 0;
        // transition: opacity 0.15s;

        // &:hover {
        //   opacity: 0.8;
        // }
      }

      // .slick-prev {
      //   left: -30px;
      // }

      // .slick-next {
      //   right: -30px;
      // }

      .slick-arrow {
        // margin-top: -7px;
        display: none;

        // .arrow {
        //   width: 18px;
        //   height: 15px;
        // }
      }

    }

    .prices {
      .params-row {
        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
    }

    .price {
      &.retail-price,
      &.wholesale-price {
        padding-top: 4px;
      }


      &.not-authorized {
        text-transform: none !important;
        white-space: normal;
        font-size: 13px !important;
        line-height: 18px !important;
      }


      // &.retail-price {
      //   color: #a4b1bd;
      // }

      .sum {
        // font-size: 24px;
        letter-spacing: 1px;
      }

      // .old-sum {
      //   margin-right: 10px;
      //   text-decoration: line-through;
      //   color: #a4b1bd;
      //   font-size: 18px;
      // }

      // .currency {
      //   font-size: 16px;
      // }
    }

    .sizes {
      // padding-top: 7px;
      // font-size: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .size-selector {
      // position: relative;
      // display: inline-block;
      width: auto;
      // transition: background 0.15s, color 0.15s;
      // text-align: center;
      border: 1px solid #00263A;
      border-radius: 2px;
      // font-family: 'Geometria';
      font-size: 12px;
      line-height: 24px;
      font-weight: 700;
      color: #00263A;
      padding: 0 10px;
      vertical-align: middle;
      margin-right: 12px;

      & + .size-selector {
        margin-left: 0;
      }

      &.simple {
        background: none;
        border: none;
        font-family: Georgia, sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
        text-align: left;
        color: #677D80;
        padding: 0;
        float: right;
        margin-right: 0;
      }

      &.current {
        color: #fff;
        background: #00263A;
      }
    }

    // .controls {
    //   font-size: 0;
    // }

    // .collapsed-block {
    //   padding-top: 5px;
    // }

    .columns {
      .params-row {
        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
    }
  }

  .wholesale-order-block {
    margin: 35px 0;

    // .button-wrapper {
    //   margin-top: 25px;
    //   margin-left: 540px;
    // }

    // .basket-info {
    //   margin-left: 20px;
    //   font-family: 'Georgia';
    //   font-size: 14px;
    // }

    // .link {
    //   text-decoration: underline;
    // }

  }

  .mobile-products {
    .mobile-product {
      padding: 16px 0;
      border-bottom: 1px solid #DEE2E6;
      position: relative;

      &:first-child {
        padding-top: 0;

        .quantity,
        .btns {
          top: 0;

          &.in-basket {
            top: 50%;
            margin-top: -28px;
          }
        }
      }

      .image,
      .info,
      .quantity,
      .btns {
        display: inline-block;
        vertical-align: top;
      }

      .quantity {
        position: absolute;
        top: 16px;
        right: 65px;
        z-index: 1;
        height: 40px;
        width: 80px;

        > div {
          position: relative;
        }

        .availability {
          position: absolute;
          left: 0px;
          top: 46px;
          font-size: 11px;
          line-height: 13px;
          width: 145px;
        }

        &.in-basket {
          top: 50%;
          margin-top: -20px;

          .availability {
            display: none;
          }
        }

        .number-input .input-box {
          width: 69px;
          border-radius: 4px;
        }

        .input-arrows {
          display: none;
        }


        .button-remove {
          position: absolute;
          top: 8px;
          left: 99px;
        }

        .count {
          font-size: 18px;
          display: inline-block;
          width: 69px;
          text-align: center;
          height: 40px;
          line-height: 40px;
        }
      }

      .btns {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 16px;

        .main-button {
          .icon {
            margin-right: 0;
          }
        }

        .not-in-basket-btn {
          padding: 3px 26px 3px 23px;
          line-height: 32px;
        }

        &.in-basket {
          .not-in-basket-btn {
            display: none;
          }
        }
      }


      .image {
        width: 51px;
        margin-right: 12px;
      }

      .info {
        // margin-right: 154px;
        padding-top: 3px;
        font-family: Georgia, sans-serif;

        span {
          display: block;
          font-size: 14px;
          line-height: 20px;
        }

        .vendor-code {
          font-weight: 700;
          font-family: "Geometria", sans-serif;
        }
      }
    }
  }

  .similar-products {
    margin: 0 -18px;

    .similar-heading {
      margin: 40px 0 12px 18px;
      text-align: left;
      // font-size: 0;
      // line-height: 1;

      // &::after {
      //   display: inline-block;
      //   width: 100%;
      //   content: '';
      // }
    }

    .title {
      // display: inline-block;
      // text-transform: uppercase;
      font-size: 14px;
      // font-weight: 700;
      color: #A5B2BE;
      line-height: 20px;
    }

    .b-iscroll {
      padding: 0 12px;
    }

    .similar-list {
      margin: 0 0px 0px;
      // font-size: 0;
      text-align: left;

      .product-tile {
        margin-bottom: 0px;
        width: 130px;
      }
    }

    .back-link {
      // color: #a4b1bd;
      display: none;

      // &:hover {
      //   color: #00263a;
      // }
    }
  }

  .product-page {
    .similar-products {
      margin-bottom: 0px;

      .slick-next,
      .slick-prev {
        display: none;
      }
    }

    // .banner-with-technologies {
    //   .b-with-media__content__link {
    //     color: #00263a;
    //     border-color: #00263a;
    //     width: 150px;
    //     margin-top: 40px;

    //     &:hover {
    //       color: #677d80;
    //       border-color: #677d80;
    //     }

    //   }
    // }
  }

  .product-tile {
    // display: inline-block;
    width: 50%;
    padding: 0 6px;
    margin: 0;
    max-width: 240px;

    @media only screen and (orientation: landscape), (min-width: 768px) and (orientation: portrait){
      max-width: none;
      width: 33.3%;
    }


    .photo {
      // display: block;
      height: auto;
      transition: none;
      // background: #f2f2f2;

      &:hover {
        opacity: 1;
      }
    }

    .info {
      margin-top: 8px;
      // text-align: justify;
      // font-size: 0;
      // line-height: 1;

      // &::after {
      //   display: inline-block;
      //   width: 100%;
      //   content: '';
      // }
    }

    .name {
      display: none;
    }

    .name,
    .price {
      // display: inline-block;
      // text-transform: uppercase;
      font-size: 16px;
      // font-weight: 700;
    }

    .price {
      color: #00263A;
    }

    .currency {
      // text-transform: none;
      // font-family: 'Georgia';
      font-size: 16px;
      color: #677D80;
      // font-weight: 400;
    }
  }

  .banner-with-technologies {
    text-align: left;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    background: none;
    // font-size: 18px;

    // .columns {
    //   display: table;
    //   width: 100%;
    //   height: 710px;
    // }

    // .column {
    //   display: table-cell;
    //   width: 520px;
    //   padding: 100px 0 50px;
    //   vertical-align: top;

    //   & + .column {
    //     padding-left: 40px;
    //   }
    // }

    .heading {
      margin: 0 18px 12px;
      // text-transform: uppercase;
      color: #A5B2BE;
      font-size: 14px;
      text-align: left;
      line-height: 20px;
      letter-spacing: 1px;
    }

    // .divider {
    //   width: 20px;
    //   height: 0;
    //   margin: 40px auto;
    //   border-top: 1px solid #677d80;
    // }

    .buttons {
      text-align: left;
      // font-size: 0;

    }

    .button {
      margin: 0;
      padding: 0 6px;
      transition: none;
      opacity: 1;
      width: 130px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      color: #00263A;
      // border: none;
      // background: none;
      // font-size: 0;

      // &.active,
      // &:hover {
      //   opacity: 1;
      // }

      p {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        margin-top: 13px;

        span {
          text-overflow: ellipsis;
          max-width: 100%;
          display: inline-block;
          overflow: hidden;
          line-height: 16px;

          &.minus {
            margin-left: 5px;
          }
        }
      }
    }

    .icon {
      width: 72px;
      height: 72px;
    }

    // .technologie {
    //   display: none;

    //   &.active {
    //     display: block;
    //   }

    //   .title {
    //     margin: 40px 0 30px;
    //     text-transform: uppercase;
    //     font-weight: 700;
    //   }

    //   .text {
    //     margin: 30px 0 40px;
    //     font-family: 'Georgia', sans-serif;
    //   }
    // }

    // .image {
    //   top: 50%;
    //   left: 50%;
    //   display: none;
    //   width: 440px;
    //   height: 440px;
    //   border: 20px solid #fff;
    //   border-radius: 50%;
    //   background-position: 50% 50%;
    //   background-size: cover;

    //   &.active {
    //     display: inline-block;
    //   }
    // }
  }

// .photos-slider {
//   img {
//     width: 100%;
//   }

//   .slick-slider {
//     height: 100%;
//     background: #f2f2f2;
//   }

//   .slick-active {
//     z-index: 10;
//   }

//   .photo {
//     cursor: zoom-in;
//   }

//   .zoom-button {
//     position: absolute;
//     top: 20px;
//     right: 20px;
//     padding: 0;
//     transition: color 0.15s;
//     color: #a4b1bd;
//     border: none;
//     background: none;
//     font-size: 0;

//     &:hover {
//       color: #00263a;
//     }
//   }
// }

  .zoomed-photo {
    // position: fixed;
    z-index: 1001;
    top: 0px;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // visibility: hidden;

    .photo {
      // cursor: zoom-out;
      // transition: opacity 0.3s, visibility 0.3s;
      // opacity: 0;
      // background-color: #efefef;
      // background-repeat: no-repeat;
      // background-position: 50% 40%;
      background-size: auto 120%;
      // position: absolute;
      // left: 0;
      // top: 0;
      // width: 100%;
      // height: 100%;
    }

    .svg-icon-cross {
      position: absolute;
      left: 18px;
      bottom: 18px;
      width: 45px;
      height: 45px;
      z-index: 1;
      opacity: 0.5;
    }

    .minimized-header & {
      top: 0px;
    }

    // @media screen and (max-height: 800px) {
    //   top: 70px;
    // }

    .arrow {
      // position: absolute;
      // top: 50%;
      // margin-top: -15px;
      // padding: 0;
      // padding: 0;
      // transition: color 0.15s;
      // color: #a4b1bd;
      // border: none;
      // background: none;
      // font-size: 0;

      &:hover {
        color: #a4b1bd;
      }
    }

    // .arrow-left {
    //   left: 50px;
    // }

    // .arrow-right {
    //   right: 50px;
    // }

    // .arrow-icon {
    //   width: 40px;
    //   height: 30px;
    // }
  }

  .zoomed-photo-visible {
    // overflow: visible;

    // .zoomed-photo {
    //   visibility: visible;
    //   opacity: 1;
    // }
    }
}