@media only screen and (max-width: 768px) {
  .sizes {
    padding: 0 18px;
  }

  .sizes__header {
    // background-color: #022639;
    // color: white;
    display: none;
  }

  // .sizes__header__content-wrapper {
  //   background-position: 288px 70px;
  //   background-repeat: no-repeat;
  //   height: 430px;
  // }

  // .sizes__header__content {
  //   padding: 85px 0 0;
  // }

  // .sizes__header__title {
  //   font: bold 18px/40px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  //   padding-left: 12px;
  // }

  // .sizes__header__list {
  //   margin-top: 5px;
  // }

  // .sizes__header__list__item {
  //   font: 15px/30px 'Georgia', serif;
  // }

  .sizes__content {
    width: 100%;
    // margin: 0 auto;
    padding: 48px 0 0;
    // text-align: center;
  }

  .sizes__content__title {
    font-size: 34px;
    line-height: 46px;
    font-weight: 300;
    // font: bold 18px/40px 'Geometria', sans-serif;
    // text-transform: uppercase;
  }

  .sizes__content__decoration {
    display: none;
  }

  .sizes__content__text {
    margin-top: 24px;
    font: 16px/24px 'Georgia', serif;
    text-align: left;

    // .italic {
    //   font-style: italic;
    // }
  }

  .sizes__content__table {
    margin: 16px auto 0;

    tr {
      th {
        font: 700 16px/24px 'Georgia', serif;
        color: #00263A;
        border-bottom: 1px solid #C3C7CB;
        padding: 18px 0;
      }

      td {
        font: 700 14px/24px 'Geometria', sans-serif;
        padding-left: 0px;
        text-transform: uppercase;
        border-bottom: 1px solid #C3C7CB;
        padding: 18px 0;
        text-align: center;

        &.size-metric {
          padding-left: 0px;
        }
      }
    }
  }

  // .sizes__back {
  //   display: block;
  //   margin-top: 89px;
  //   line-height: 15px;
  //   left: -40px;
  //   position: relative;
  //   img {
  //     margin-right: 10px;
  //     vertical-align: middle;
  //   }
  //   span {
  //     letter-spacing: 0.5px;
  //     vertical-align: middle;
  //     font: bold 11px 'Geometria', sans-serif;
  //     text-transform: uppercase;
  //   }
  // }

}