@media only screen and (max-width: 768px) {
  .b-materials {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 60px;
    background: none;

    .b-iscroll-container {
      height: auto !important;
    }
  }

  .b-materials__header {
    margin-top: -24px;
    margin-bottom: 40px;

    .decoration {
      display: none;
    }

    .text {
      font-size: 16px;
      line-height: 24px;
      font-family: Georgia, sans-serif;
      text-transform: none;
      font-weight: 400;

      br {
        display: none;
      }
    }
  }

  .b-materials__list {
    width: 100vw !important;
    // height: 155px !important;
    display: block;
    // flex-wrap: wrap;
    margin-left: auto;
    font-size: 0;
    margin: 0px -18px;
  }

  .b-materials__item {
    display: inline-block;
    flex: none;
    margin: 0;
    width: 130px;
    padding: 0 6px;
    vertical-align: top;
    // flex-direction: row;
    // align-items: center;
  }

  .b-materials__item__icon {
    flex: none;
    margin-bottom: 16px;
    // height: 70px;
    // display: block;
    // background-repeat: no-repeat;
    opacity: 1;
    transition: none;
    // background-size: 100% 100%;
    // .b-materials__item:hover & {
    //   opacity: 1;
    // }
  }

  .b-materials__item__title {
    display: block;
    margin-left: auto;
    width: auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #00263A;
    font-size: 0;

    span {
      font: 14px/20px 'Geometria', serif;
      text-overflow: ellipsis;
      max-width: 100%;
      display: inline-block;
      overflow: hidden;
      margin-right: 5px;
      vertical-align: top;
    }
  }

  .about-page {
    .b-materials__item {
      width: 142px;
    }

    .b-materials__item__title {
      // display: block;
      // margin-left: auto;
      // width: auto;
      font: 14px/20px 'Georgia', serif;
      letter-spacing: 0px;
      text-transform: none;
      // text-align: center;
      // color: #00263A;
    }

  }

  .mobile-gallery-technologies,
  .mobile-gallery-technologies-3dtube {
    margin-bottom: 40px;

    .item-text {
      color: #fff;

      .title {
        font-weight: 400;
        margin-bottom: 0;
        font-size: 44px;
        line-height: 60px;

        sup {
          margin-right: -32px;
        }
      }

      .text {
        font-family: Georgia, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        letter-spacing: 0;

        p {
          margin: 0;
        }

        .subtitle {
          letter-spacing: 1px;
          text-transform: uppercase;
          font-family: Geometria, sans-serif;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 16px;
        }

        .main-button {
          margin-top: 40px;
        }
      }

    }

    .gallery-texts {
      height: 382px;
    }
  }

  .mobile-gallery-technologies-3dtube {

    .gallery-texts-technologies-3dtube {
      height: 282px;
    }

    .item-text {
      color: #00263A;

      .title {
        font-size: 28px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 16px;
      }

      .text {
        max-width: none;
        padding: 0 18px;

        .subtitle {
          font-family: Georgia, sans-serif;
          font-weight: 700;
          font-style: italic;
          text-transform: none;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0;

          br {
            content: none;
          }
        }
      }
    }
  }

  // .b-material__materials {
  //   position: relative;
  //   .swiper-container {
  //     padding: 0 100px;
  //     &:before, &:after {
  //       content: '';
  //       display: block;
  //       width: 100px;
  //       height: 100px;
  //       background: white;
  //       position: absolute;
  //       top: 0;
  //       z-index: 2;
  //     }
  //     &:before {
  //       left: 0;
  //     }
  //     &:after {
  //       right: 0;
  //     }
  //   }
  //   .swiper-button-prev,
  //   .swiper-button-next {
  //     background-size: 10px 21px;
  //     background-image: url('//media.canoe.ru/images/arrow.svg');
  //     height: 100%;
  //     top: 0;
  //     bottom: 0;
  //     margin: auto 0;
  //     width: 87px;
  //     background-color: #fff;
  //   }
  //   .swiper-button-prev {
  //     left: 0;
  //     background-position: right center;
  //   }
  //   .swiper-button-next {
  //     right: 0;
  //     transform: rotate(180deg);
  //     background-position: right center;
  //   }
  // }

  // .b-material-header-banner {
  //   align-items: initial;
  //   .subtitle {
  //     width: 450px;
  //   }
  //   .content {
  //     padding-top: 180px;
  //   }
  // }

  // .b-material__materials__item {
  //   position: relative;
  //   margin: 50px 0;
  //   &:hover,
  //   &.current {
  //     .b-material__materials__item__icon {
  //       opacity: 1;
  //     }
  //     .b-material__materials__title {
  //       display: block;
  //     }
  //   }
  // }

  // .b-material__materials__item__icon {
  //   width: 50px;
  //   height: 50px;
  //   display: block;
  //   background-repeat: no-repeat;
  //   opacity: .7;
  //   transition: opacity 0.15s;
  // }

  // .b-material__materials__title {
  //   display: none;
  //   position: absolute;
  //   white-space: nowrap;
  //   width: 200px;
  //   left: 50%;
  //   top: 62px;
  //   margin-left: -100px;
  //   text-align: center;
  //   font: bold 11px/20px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  // }


  // .b-material-header {
  //   margin-top: 70px;
  //   margin-bottom: 100px;
  //   .text-with-decorations {
  //     width: 600px;
  //     margin: 0 auto;
  //     .subtext {
  //       margin-top: 35px;
  //     }
  //   }
  // }

  // .b-twocols {

  // }

  // .b-twocols__sides {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }

  // .b-twocols__side {
  //   flex: 0 0 520px;
  //   text-align: center;
  // }

  // .b-twocols__side-2 {
  //   display: flex;
  //   flex-direction: column-reverse;
  //   padding-top: 80px;
  // }

  // .b-twocols__side__image {
  //   display: block;
  //   width: 520px;
  //   height: 520px;
  //   background-size: cover;
  //   background-position: center top;
  //   .b-twocols__side-1 & {
  //     margin-bottom: 40px;
  //   }
  //   .b-twocols__side-2 & {
  //     margin-top: 40px;
  //   }
  // }

  // .b-twocols__side__content {
  //   font-size: 18px;
  //   line-height: 30px;
  // }

  // .b-twocols__side__title {
  //   font-weight: bold;
  //   text-transform: uppercase;
  // }

  // .b-twocols__side__text {
  //   margin-top: 40px;
  //   font-family: 'Georgia', serif;
  // }

  // .b-end-banner {
  //   background-size: cover;
  //   background-position: center top;
  // }

  .b-end-banner__content {
    // background: white;
    // position: relative;
    top: -120px;
    display: block;
    // justify-content: center;
    // align-items: center;
    height: 280px;
    // flex-direction: column;
    padding: 40px 0;

    .suptitle,
    .text {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      margin: 0 18px;
      font-family: Geometria, sans-serif;

      br {
        content: '';

        &:after {
          content: ' ';
        }
      }
    }

    .suptitle {
      font-weight: 700;
    }

    .subtext {
      width: auto !important;
      margin: 16px 0px 0;
      padding: 0 18px 24px;
      font-family: Georgia, sans-serif;
      font-size: 16px;
      line-height: 24px;
      background-color: #fff;
    }

    .text {
      font-weight: 400;
      margin: 0 18px 16px;

      &:before {
        display: none;
      }
    }
  }

  // .b-with-media {
  //   .content-wrapper {
  //     height: 720px;
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     justify-content: space-between;
  //   }
  // }

  // .b-with-media__media {
  //   flex: 0 0 560px;
  //   height: 370px;
  //   background-size: cover;
  //   background-position: center top;
  //   margin-top: -30px;
  // }

  // .b-with-media__content {
  //   margin-left: 40px;
  //   min-width: 480px;
  //   text-align: center;
  //   color: white;
  //   margin-top: -50px;
  // }

  // .b-with-media__content__title {
  //   margin: 18px auto 21px;
  //   text-transform: uppercase;
  //   font-size: 18px;
  //   line-height: 30px;
  //   font-weight: 700;
  //   width: 300px;
  // }

  // .b-with-media__content__text {
  //   margin-top: 12px;
  //   font-family: Georgia, serif;
  //   font-size: 18px;
  //   line-height: 30px;
  //   width: 460px;
  // }

  // .b-with-media__content__link {
  //   margin: 67px auto 0;
  //   width: 220px;
  //   height: 40px;
  //   display: block;
  //   font: bold 14px/40px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  //   color: white;
  //   border: 1px solid white;
  //   border-radius: 5px;
  //   text-align: center;
  //   &:hover {
  //     background: white;
  //   }
  // }

  // .technologie-banner {
  //   overflow: hidden;
  //   height: 380px;
  //   font-size: 0;

  //   .image {
  //     display: inline-block;
  //     width: 50%;
  //     height: 100%;
  //     transition: transform 3s;
  //     vertical-align: top;
  //     background-position: 25% 50%;
  //     background-size: cover;
  //   }

  //   &:hover .image {
  //     transform: scale(1.15);
  //   }

  //   .description {
  //     position: relative;
  //     z-index: 1;
  //     display: inline-table;
  //     width: 50%;
  //     height: 100%;
  //   }

  //   .content {
  //     display: table-cell;
  //     padding: 30px;
  //     text-align: center;
  //     vertical-align: middle;
  //     color: #fff;
  //     font-size: 18px;
  //     line-height: 1.65;
  //   }

  //   .title {
  //     margin-bottom: 30px;
  //     text-transform: uppercase;
  //   }

  //   .text {
  //     max-width: 520px;
  //     margin: 0 auto 45px;
  //     font-family: 'Georgia';
  //   }
  // }

  // .b-shop-banner {
  //   margin-top: 133px;
  // }

  // .b-shop-banner__content {
  //   position: relative;
  //   top: -70px;
  //   height: 610px;
  //   background-size: cover;
  //   background-position: center top;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .b-shop-banner__title {
  //   font-size: 48px;
  //   line-height: 48px;
  //   font-weight: bold;
  //   color: white;
  //   border-bottom: 4px solid white;
  //   padding: 10px 25px;
  //   &:hover {
  //     color: white;
  //     border-bottom-color: transparent;
  //   }
  // }

  .tech-name {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;

    .title {
      font-size: 44px;
      line-height: 60px;
      margin: 0;
      font-weight: 300;
    }

    .subtitle {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      margin: 0;
    }

    .decoration {
      margin-top: 16px;
    }
  }

    .video {
      position: relative;
      // display: block;
      width: auto;
      height: auto;
      margin: 0 -18px 60px;
      font-size: 0;

      video {
        width: 100%;
        // height: 100%;
      }

      .icon-play {
        width: 60px;
        height: 60px;
        position: absolute;
        z-index: 2;
        left: 50%;
        margin-left: -30px;
        top: 50%;
        margin-top: -30px;

        &.hidden {
          display: none;
        }
      }

      .icons {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: auto 85%;

        &.hidden {
          visibility: hidden;
        }
      }

      &.teflon .icons {
        background-image: url('//media.canoe.ru/images/technologies/icons/teflon.svg');
        background-position: 90% 50%;
      }

      &.high-twist .icons {
        background-image: url('//media.canoe.ru/images/technologies/icons/high-twist.svg');
        background-position: 90% 50%;
        background-size: auto 58%;
      }

      &.h2dry .icons {
        background-image: url('//media.canoe.ru/images/technologies/icons/h2dry.svg');
        background-position: 10% 50%;
      }

      &.nano-silver .icons {
        // top: 40px;
        // bottom: 45px;
        background-image: url('/assets/images/technologies/icons/nano-silver.svg');
        background-position: 7% 50%;
      }
    }


  .technologie-header {
    // position: relative;
    height: 280px;
    margin-bottom: 40px;
    padding-top: 0px;
    // background-repeat: no-repeat;
    // background-position: 50% 0;
    // background-size: auto 100%;

    // .scroll-link {
    //   position: absolute;
    //   top: 600px;
    //   left: 50%;
    //   width: 62px;
    //   height: 62px;
    //   margin-left: -31px;
    //   cursor: pointer;
    //   transition: opacity 0.15s;

    //   &:hover {
    //     opacity: 0.65;
    //   }
    // }

    // .scroll-icon {
    //   width: 100%;
    //   height: 100%;
    // }

    // .video {
    //   position: relative;
    //   display: block;
    //   width: 1080px;
    //   height: 560px;
    //   margin: 0 auto;

    //   video {
    //     width: 100%;
    //     height: 100%;
    //   }

    //   .icons {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     background-repeat: no-repeat;
    //   }

    //   &.teflon .icons {
    //     background-image: url('//media.canoe.ru/images/technologies/icons/teflon.svg');
    //     background-position: 80% 50%;
    //   }

    //   &.high-twist .icons {
    //     background-image: url('//media.canoe.ru/images/technologies/icons/high-twist.svg');
    //     background-position: 80% 50%;
    //   }

    //   &.h2dry .icons {
    //     background-image: url('//media.canoe.ru/images/technologies/icons/h2dry.svg');
    //     background-position: 20% 50%;
    //   }

    //   &.nano-silver .icons {
    //     top: 40px;
    //     bottom: 45px;
    //     background-image: url('/assets/images/technologies/icons/nano-silver.svg');
    //     background-position: 11% 50%;
    //   }
    // }
  }

  .technologie-description {
    padding: 0px !important;
    margin-bottom: 60px;
    // text-align: center;
    // background-repeat: no-repeat;
    // line-height: 1.65;

    &.mobile-show-bg {
      background-size: 60% auto;
      background-position: 50% -150px !important;
      margin-top: -60px;
      padding-top: 60px !important;
    }

    &:not(.mobile-show-bg) {
      background: none !important;
    }

    &.last-description {
      // padding: 0;
      // margin-top: 130px;
      display: none;
    }

    .decoration {
      display: inline-block;
      margin-bottom: 14px;
    }

    .mobile-decoration {
      display: block;
      margin: 0 auto;
      width: 44px;

      &.mobile-decoration-top {
        margin-bottom: 16px;
      }

      &.mobile-decoration-bottom {
        margin-top: 16px;
      }
    }

    .title,
    h2 {
      margin-bottom: 16px;
      // text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1px;
      margin: 0 0 16px;

      br {
        // display: none;
        content: '';

        &:after {
          content: ' ';
        }
      }

      // strong {
      //   font-weight: 700;
      // }
    }

    .text {
      // max-width: 660px;
      // margin: 0 auto;
      // font-family: 'Georgia';
      font-size: 16px;
      line-height: 24px;

      br {
        content: '';

        &:after {
          content: ' ';
        }
      }
    }

    // &.nano-silver {
    //   .text {
    //     max-width: 750px;
    //   }
    // }
  }

  .technologie-photos-grid {
    // position: relative;
    // z-index: 1;
    width: auto;
    height: auto;
    margin: 0 -18px 50px;
    // font-size: 0;

    // .photo {
    //   display: inline-block;
    //   vertical-align: top;
    //   background-size: cover;
    // }

    // .w50 {
    //   width: 50%;
    // }

    // .w100 {
    //   width: 100%;
    // }

    .h50 {
      height: auto;
      padding-bottom: 50%;
    }

    .h100 {
      height: auto;
      padding-bottom: 100%;
    }

    .no-padding {
      padding-bottom: 0;

      .h100 {
        padding-bottom: 50%;
      }
    }
  }

  .technologie__nano-silver_bg {
    background-image: url('/assets/images/technologies/nano-silver/mobile/gradient.jpg');
    background-size: 100% auto;
    margin-top: -50px;
    // background-repeat: no-repeat;
    // background-position: 50% top;

    .technologie-diagrams {
      margin-left: 18px;
      margin-right: 18px;
    }
  }

  .technologie-trapezium {
    // position: relative;
    // margin-bottom: -60px;
    margin-top: 0;
    padding: 0px 0 60px;
    // background-color: #f3f3f3;
    background: none;
    // overflow-x: hidden;

    &.mobile-trapezium {
      display: block;

      .bg {
        &:before {
          height: 500px;
        }
      }
    }

    .bg {
      position: absolute;
      overflow: hidden;
      top: -200px;
      left: -200%;
      width: 300%;
      height: 1000px;
      background: none;

      &:before {
        position: absolute;
        bottom: auto;
        top: 0;
        left: 0;
        // top: -180px;
        // left: -200%;
        width: 100%;
        height: 450px;
        // content: '';
        transform: skewY(-20deg);
        transform-origin: 100% 0;
        // background: inherit;
      }
    }

    &.bg-3dtube .bg {
      background: none;

      &:before {
        background-color: #f4e0df;
      }
    }

    &.bg-h2dry .bg {
      background: none;

      &:before {
        background-color: #e5f6fd;
      }
    }

    &.bg-hightwist .bg {
      background: none;

      &:before {
        background-color: #f3f3f3;
      }
    }

    &.bg-teflon .bg {
      background: none;

      &:before {
        background-color: #f3f3f3;
      }
    }


    // strong {
    //   font-weight: 700;
    // }

    .content {
      // position: relative;
      // z-index: 1;
      // left: 0;
      // max-width: 800px;
      // margin: 0 auto;
      // padding: 50px 0 80px;
      // text-align: center;
      display: none;
    }

    // .title {
    //   margin-bottom: 30px;
    //   text-transform: uppercase;
    //   font-size: 24px;
    //   font-weight: 200;
    // }

    // .subtitle {
    //   padding: 0 80px;
    //   text-transform: uppercase;
    //   font-weight: 700;
    // }

    // .text {
    //   padding: 0 80px;
    //   font-family: 'Georgia';
    //   font-size: 18px;
    // }


    &.nano-silver {
      background: none;
      padding-top: 0px;
      margin-bottom: 0px;

      &::before {
        display: none;
        background: none;
      }

      .subtitle {
        margin-bottom: 30px;
      }
    }
  }

  .technologie-diagrams {
    // position: relative;
    // z-index: 1;
    width: auto;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;

    .decoration {
      display: block;
      margin: 16px auto 40px;
    }

    .row {
      // text-align: justify;
      // background-repeat: no-repeat;
      // background-position: 50% 0;
      // background-size: 500px auto;
      // font-size: 0;
      position: relative;
      z-index: 1;
      background: none !important;
      padding: 0 !important;

      // &::after {
      //   display: inline-block;
      //   width: 100%;
      //   content: '';
      // }

      .mobile-diagram {
        width: 80%;
        margin: 0 auto 40px;
        display: block;
      }
    }

    .column {
      display: block;
      width: auto;
      text-align: center;
      // vertical-align: top;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;

      .icon {
        // width: 60px;
        // height: 60px;
        // background-size: 100% 100%;
        // background-repeat: no-repeat;
        // margin-top: 25px;
        display: none;
      }
    }

    .title {
      margin-bottom: 16px;
      // text-transform: uppercase;
      font-size: 14px;
      // font-weight: 700;
      line-height: 24px;
      letter-spacing: 1px;
    }

    // .text {
    //   font-family: 'Georgia';
    // }
  }

  .technologie-style-banner {
    height: 280px;
    margin-top: 16px;
    margin-bottom: 60px;

    .text-dark {
      color: #00263A;
    }

    &.no-height {
      height: auto;
      // background-size: cover;

      img {
        width: 100%;
      }
    }
  }

  .technologie-diagram-description {
    // text-align: center;
    // background-repeat: no-repeat;
    background: none !important;
    padding: 0 !important;

    // strong {
    //   font-weight: 700;
    // }

    .title {
      margin-bottom: 16px;
      margin-left: 18px;
      margin-right: 18px;
      // text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      display: none;
      letter-spacing: 1px;

      br {
        content: '';

        &:after {
          content: ' ';
        }
      }

      &.mobile-show-title {
        display: block;
      }
    }

    .subtitle {
      padding: 0 18px;
      // text-transform: uppercase;
      // font-weight: 700;
    }

    .text {
      padding: 0 18px;
      margin-bottom: 40px;
      // font-family: 'Georgia';
      font-size: 16px;
      line-height: 24px;

      br {
        content: '';

        &:after {
          content: ' ';
        }
      }
    }

    .mobile-diagram {
      display: block;
      margin: 0 auto 40px;

      &.teflon-logo {
        width: 100px;
      }

      &.teflon-diagram {
        width: 254px;
        margin-bottom: 60px;
      }
    }

    .mobile-h2dry-logo {
      width: 180px;
    }

    .mobile-h2dry-diagram {
      width: 254px;
      margin-bottom: 60px;
    }
  }

  // .technologie-two-photos {
  //   margin-top: 260px;
  //   text-align: center;

  //   .photos {
  //     position: relative;
  //     top: -260px;
  //     font-size: 0;
  //     margin-bottom: -260px;
  //   }

  //   .photo {
  //     width: 520px;
  //     display: inline-block;
  //     font-size: 1rem;
  //     vertical-align: top;


  //     & + .photo {
  //       margin-left: 40px;
  //     }
  //   }

  //   .title {
  //     text-transform: uppercase;
  //     font-size: 18px;
  //     font-weight: 700;
  //     line-height: 1.45;
  //     margin-top: 60px;
  //   }

  //   .subtitle {
  //     font-size: 20px;
  //     margin-bottom: 20px;
  //     font-family: 'Georgia';
  //   }

  //   .text {
  //     font-size: 18px;
  //     font-family: 'Georgia';
  //   }
  // }

  // .b-legend__metaphora {
  //   .text {
  //     &:before {
  //       content: '';
  //       display: block;
  //       width: 20px;
  //       border-bottom: 2px solid black;
  //       margin: 0 auto 33px;
  //     }
  //   }
  // }
}