@media only screen and (max-width: 768px) {
  .page-content {
    // flex: 1 0 0;
    padding-top: 60px;

    &.technology,
    &.material-page {
      padding-bottom: 0px;
    }

    &.crop {
      overflow: hidden;
      height: 100vh;
    }
  }


  @media (max-width: 340px), screen and (orientation: landscape) {
    .page-content {
      padding-top: 0;
    }
  }

  h1,
  h2 {
    margin: 48px 0 28px;
    text-align: left;
  }

  .content-wrapper {
    width: auto;
    margin: 0;
    padding: 0 18px;
  }

  .mobile-align-left {
    text-align: left;
  }

  h1 {
    margin: 24px 0 24px;
  }

  // .pseudo-link {
  //   cursor: pointer;
  //   transition: border-color 0.15s;
  //   color: #677d80;
  //   border-bottom: 1px dotted;

  //   &:hover {
  //     border-bottom-color: transparent;
  //   }
  // }

  // .collapsed-block {
  //   .collapsed-title {
  //     display: inline-block;
  //     cursor: pointer;
  //     text-transform: uppercase;
  //     color: #a4b1bd;
  //     font-size: 12px;
  //     font-weight: 700;

  //     &.active {
  //       margin-bottom: 20px;

  //       .arrow {
  //         transform: rotate(180deg);
  //       }
  //     }

  //     .text {
  //       vertical-align: middle;
  //     }

  //     .arrow {
  //       position: relative;
  //       top: -1px;
  //       margin-left: 5px;
  //       vertical-align: middle;
  //     }
  //   }

  //   .collapsed-content {
  //     display: none;
  //   }

  //   .collapsed-title.active + .collapsed-content {
  //     display: block;
  //   }
  // }

  // .huge-title {
  //   margin-bottom: 84px;
  //   text-align: center;
  //   line-height: 1;

  //   .text {
  //     display: block;
  //     margin: 42px 0 46px;
  //     text-transform: uppercase;
  //     font-size: 80px;
  //     font-weight: 200;
  //   }
  // }

  .full-width {
    width: 100vw;
    min-width: 0;
    margin-right: -18px;
    margin-left: -18px;

    // @media screen and (min-width: 1160px) {
    //   margin-right: calc(-100vw / 2 + 1080px / 2);
    //   margin-left: calc(-100vw / 2 + 1080px / 2);
    // }
  }

  .banner-with-centered-content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 280px;
    // background-position: 50% top;
    // background-size: cover;

    .content {
      // text-align: center;
      // color: #fff;
      position: relative;
      z-index: 1;

      &.content-absolute {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
      }
    }

    &.darkened.mobile-no-text {
      // position: relative;
      margin-bottom: 40px;

      &:before {
        display: none;
        // content: '';
        // position: absolute;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // background: rgba(0, 0, 0, 0.15);
      }
    }

    &.mobile-no-text {
      .content {
        display: none;
      }
    }

    // &.short {
    //   height: 340px;
    // }

    // &.white {
    //   .content {
    //     color: black;
    //   }
    // }

    // .title {
    //   text-transform: uppercase;
    //   font-size: 60px;
    //   line-height: 60px;
    //   font-weight: 200;
    // }

    // .subtitle {
    //   margin-top: 19px;
    //   text-transform: uppercase;
    //   font-size: 18px;
    //   line-height: 30px;
    // }

    .decoration {
      // display: block;
      margin: 52px auto 16px;

      &:last-child {
        margin: 16px auto 52px;
      }
    }

    .text {
      // text-transform: uppercase;
      font-size: 14px;
      // font-weight: 700;
      margin: 0 18px;

      &:not(.with-br) {
        br {
          content: '';

          &:after {
            content: ' ';
          }
        }
      }
    }

    .text-promo {
      .text {
        font-size: 30px;
        font-weight: 300;
        line-height: 44px;
      }

      .b-with-media__content__link {
        margin-top: 20px;
      }
    }

    .subtext {
      // margin-top: 30px;
      // font-family: 'Georgia';
      // text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
      margin: 0 18px;
      letter-spacing: 1px;

      br {
        content: '';

        &:after {
          content: ' ';
        }
      }
    }

    // .button-wrapper {
    //   margin-bottom: -40px;
    // }

    // .main-button {
    //   color: #fff;

    //   &:hover {
    //     color: #fff;
    //     background: #022639;
    //   }
    // }

    // a {
    //   color: inherit;
    //   font-weight: 700;
    // }
  }

  .banner-with-text {
    display: none;
    padding: 0px 18px;
    // text-align: center;

    &.mobile-showed {
      display: block;
    }

    // &.grey {
    //   background: #e9e9e9;
    // }

    .title {
      margin: 0 0 14px;
      text-align: center;
      font-size: 28px;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 300;
    }

    .text {
      font-family: 'Georgia';
      font-size: 16px;
      line-height: 24px;
    }

    .decoration {
      // margin: 30px;
      display: none;
    }
  }

  .text-with-decorations {
    // margin-bottom: 50px;
    // text-align: center;
    // line-height: 1;

    // .suptitle {
    //   font: 18px/30px 'Geometria', sans-serif;
    //   text-transform: uppercase;
    // }

    .text {
      // display: block;
      // margin: 34px 0;
      // text-transform: uppercase;
      font-size: 14px;
      // font-weight: 700;
      // line-height: 1.65;
    }

    // .subtext {
    //   margin-top: 30px;
    //   font: 18px/30px 'Georgia', serif;
    // }

    &.mobile-no-decorations:not(.text-with-decorations-1) {
      .decoration {
        display: none;
      }

      .text {
        font-size: 28px;
        line-height: 40px !important;
        font-family: Geometria, sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 16px;
      }

      .subtext {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24px;
        margin-top: 0;

        br {
          content: '';

          &:after {
            content: ' ';
          }
        }
      }
    }
  }

  // .text-highlight {
  //   font-weight: 700;
  //   font-style: italic;
  // }

  .search {
    position: absolute;
    right: 0;
    top: 18px;
    display: block;
    z-index: 1;
    // width: 85px;
    // text-align: right;
    // color: #a4b1bd;

    .icon {
      // position: relative;
      // z-index: 1;
      // cursor: pointer;
      // background: #fff;
      width: 22px;
      height: 22px;
    }

    .bar {
      position: absolute;
      top: -5px;
      right: 0;
      width: 0;
      transition: width 0.4s;
      border: solid #DEE2E6;
      border-width: 0 0 1px;
      overflow: hidden;
      background: #fff;
      height: 34px;

      .svg-icon-cross {
        position: absolute;
        left: 0;
        top: 5px;
        color: #00263A;
        width: 21px;
        height: 21px;
      }
    }

    .mobile-input {
      height: 32px;
      padding: 0;
      border: none;
      background: none;
      font-family: 'Geometria';
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1px;
      width: calc(100vw - 71px);
      position: absolute;
      left: 34px;
      text-transform: uppercase;
    }

    // .icon:hover + .input,
    // .input:hover,
    // .input:focus {
    //   // width: 0;
    // }

    // .input:not(:placeholder-shown) {
    //   // width: 0;
    // }

    &.active {
      .bar {
        width: calc(100vw - 36px);
      }

      .icon {
        color: #00263A;
      }

      // .mobile-input {
      //   width: calc(100vw - 36px);
      // }

      // .mobile-input:not(:placeholder-shown) {
      //   width: calc(100vw - 36px);
      // }
    }
  }

  // .back-link {
  //   display: inline-block;
  //   width: 85px;
  //   cursor: pointer;
  //   transition: color 0.15s;
  //   white-space: nowrap;
  //   text-transform: uppercase;
  //   color: #00263a;
  //   font-size: 12px;
  //   font-weight: 700;

  //   &:hover {
  //     color: #677d80;
  //   }

  //   .arrow {
  //     position: relative;
  //     top: -2px;
  //     margin-right: 5px;
  //     vertical-align: middle;
  //   }

  //   .text {
  //     vertical-align: middle;
  //   }
  // }

  // .preloader-wrapper {
  //   position: fixed;
  //   z-index: 1000;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   text-align: center;
  //   background: rgba(0, 0, 0, 0.5);

  //   & .preloader {
  //     position: relative;
  //     top: 50%;
  //     width: 100px;
  //     height: 100px;
  //     transform: translateY(-50%);
  //   }
  // }

  // .price {
  //   font-family: 'Geometria';
  //   font-weight: 700;
  //   line-height: 1;
  //   white-space: nowrap;

  //   .currency {
  //     font-family: 'Georgia';
  //     font-size: 14px;
  //     font-weight: 400;
  //     text-transform: lowercase;
  //   }
  // }

  .main-page,
  .campaign-page,
  .collection-page {
    .instagram-feed {
      display: block;
      position: relative;
      margin-top: 40px;
      height: 120px;
      font-size: 0;
      width: 100vw;
    }

    .instagram-container {
      text-align: left;
      height: 120px;

      .instagram-item {
        width: 120px;
        height: 120px;
        display: inline-block;
        background-size: cover;
        background-position: center top;
      }
    }

    .instagram {
      margin-top: 60px;
      margin-bottom: 0;
      text-align: center;

      .instagram-feed {
        margin-left: -18px;
        margin-right: -18px;
        width: 100vw !important;
      }

      .instagram__header__title {
        font-size: 28px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 24px;

        @media only screen and (max-width: 340px) {
          font-size: 22px;
          line-height: 29px;
        }
      }

      .instagram__header__description {
        font-family: Georgia, sans-serif;
        font-size: 16px;
        line-height: 24px;
        padding: 0 18px;

        strong {
          font-weight: 700;
        }
      }
    }

    .instagram-link {
      display: inline-block;
      margin-top: 40px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      height: 48px;
      line-height: 48px;
      font-size: 14px;
      border-radius: 3px;
      border: 1px solid #00263A;
      color: #00263A;
      padding: 0 32px;
    }
  }

  // .instagram {
  //   margin-top: 150px;
  //   margin-bottom: 80px;
  // }

  // .instagram__header {
  //   text-align: center;
  //   .svg-decoration-2 {
  //     margin: 36px 0 31px;
  //   }
  // }

  // .instagram__header__title {
  //   text-transform: uppercase;
  //   font-size: 60px;
  //   line-height: 66px;
  //   margin: 0;
  //   text-align: center;
  //   font-weight: 200;
  // }

  // .instagram__header__description {
  //   font: 18px Georgia, serif;
  // }

  // .instagram__feed {
  //   margin-top: 76px;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }

  // .instagram__feed__item {

  // }

  // .instagram__feed__item__photo {
  //   display: block;
  //   width: 240px;
  //   height: 240px;
  //   background-size: cover;
  //   &:hover {
  //     opacity: .8;
  //   }
  // }

  // .instagram__feed__item__caption {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   font: 14px Georgia, serif;
  //   margin-top: 15px;
  // }

  // .instagram__feed__item__caption__name {
  //   .fa-heart {
  //     color: #D3554F;
  //     margin-right: 5px;
  //   }
  // }

  // .instagram__feed__item__caption__timeago {
  // }

  .collections-buttons {
    // margin-bottom: 80px;
    margin: 0px -18px 0;
  }

  .collections-buttons__header {
    display: none;
    // text-align: center;
    // &:before {
    //   content: '';
    //   display: block;
    //   width: 20px;
    //   border-bottom: 2px solid black;
    //   margin: 0 auto 33px;
    // }
    // &:after {
    //   content: '';
    //   display: block;
    //   width: 20px;
    //   border-top: 1px solid black;
    //   margin: 35px auto 0;
    // }
  }

  // .collections-buttons__header__title {
  //   font: bold 18px 'Geometria', sans-serif;
  //   text-transform: uppercase;
  // }

  // .collections-buttons__header__description {
  //   font: 18px Georgia, serif;
  //   margin-top: 6px;
  // }

  .collections-buttons__list {
    margin-top: 0px;
    display: block;
    // flex-direction: row;
    // justify-content: center;
  }

  .collections-buttons__list__item {
    // text-transform: uppercase;
    // font-weight: bold;
    display: block;
    width: auto;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    // color: #022639;
    height: 60px;
    line-height: 62px;
    // font-size: 14px;
    padding: 0 18px;
    position: relative;
    background-color: #F4F4F4;

    .arrow-order-mobile {
      display: block;
      position: absolute;
      right: 18px;
      top: 23px;
      width: 8.2px;
      height: 14px;
    }

    & + & {
      margin-left: 0px;
    }
    // &:hover {
    //   color: #D3554F;
    //   border-color: #D3554F;
    // }
  }
}