@media only screen and (max-width: 768px) {
  .mobile-footer {
    padding-top: 80px;
    text-align: center;

    .svg-logo-feather {
      color: #8E9BA7;
    }

    .footer-text {
      font-size: 16px;
      font-family: Georgia, sans-serif;
      margin-top: 50px;
      padding: 0px 0 8px;
      color: #677D80;
    }
  }
}