@media only screen and (max-width: 768px) {
  .page-header {
    // position: relative;
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 60px;
  }

  .header-main {
    height: 60px;
    text-transform: none;
    // background: #f2f2f2;

    // .content-wrapper {
    //   position: static;
    //   text-align: justify;
    //   font-size: 0;

    //   &::after {
    //     display: inline-block;
    //     width: 100%;
    //     content: '';
    //   }
    // }

    .switch-group {
      .mobile-text {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 23px;
        height: 22px;
        border: 1px solid #fff;
        border-radius: 12px;
        display: inline-block;
        color: #fff;
        opacity: 0.6;
        padding: 0 7px;
      }
    }


    .menu-btn {
      display: block;
      width: 22px;
      height: 19px;
      position: absolute;
      left: 19px;
      top: 20px;
      color: #677d80;
      cursor: pointer;
    }

    .site-nav {
      text-align: center;
      width: 100%;
      margin-left: 0;
      padding-bottom: 112px;
      font-size: 32px;
      position: fixed;
      transform: translateX(100%);
      top: 0px;
      font-family: Geometria, sans-serif;
      font-weight: 300;
      left: 0;
      min-height: 100vh;
      background: #f2f2f2;
      z-index: 1;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      padding-top: 40px;
      transition: transform 0.3s ease-in-out;

      &.active {
        transform: translateX(0)
      }

      &.submenu-active {
        > .link,
        .profile-links > .link {
          transform: translateX(-50%);
          opacity: 0;
        }
      }

      .switch-group {
        position: absolute;
        z-index: 1;
        right: 18px;
        top: 18px;
        height: 24px;
        font-size: 14px;
        padding-top: 0;

        .switch-label {
          color: #677D80;
          vertical-align: top;
          display: inline-block;
          height: 16px;

          .wholesale & {

          }
        }

        .mobile-text {
          line-height: 18px;
          font-size: 14px;
          color: #677D80;
          font-family: Geometria, sans-serif;
          font-weight: 700;
          letter-spacing: 1px;
          height: auto;
          vertical-align: top;
          border: none;
          padding: 0;
          opacity: 1;

          .wholesale & {

          }
        }

        .switch {
          background: #fff;
          border: 1px solid #677D80;
          vertical-align: top;
          // height: 16px;
          // border-radius: 8px;

          .switch-circle {
            left: 0;
            top: 0;
            background-color: #677D80;
          }

          .wholesale & {
            border-color: #fff;
            background-color: #2AD65B;

            .switch-circle {
              background-color: #fff;
            }
          }
        }

      }
    }

    .site-subnav {
      top: 0;
      z-index: 1;
      right: auto;
      transform: translateX(100%);
      width: 100%;
      min-height: 100%;
      padding-top: 40px;
      padding-bottom: 112px;
      visibility: visible;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // transition: opacity 0.15s, visibility 0.15s;
      transition: none;
      opacity: 0;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      background: none;
      border-top: none;

      .link {
        font-size: 32px;
        line-height: 60px;
      }

      &.active {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .subnav-wrapper {
      min-height: 360px;
      // max-width: 1160px;
      // margin: 0 auto;
      // padding-right: 20px;
      // padding-left: 20px;
    }

    // .link:hover + .site-subnav,
    // .site-subnav:hover {
    //   visibility: visible;
    //   opacity: 1;
    // }

    .logo {
      display: block;
      width: 94px;
      height: 32px;
      transition: none;
      transform: none;
      // transform-origin: 50% 50%;
      // vertical-align: middle;
      // color: #00263a;
      margin: 0 auto;
      position: relative;
      top: 12px;
    }

    .controls {
      display: block;
      width: auto;
      position: absolute;
      right: 20px;
      top: 16px;
      // text-align: right;
      // vertical-align: middle;
      // white-space: nowrap;
      // font-size: 12px;

      .link {
        line-height: 30px !important;
        display: inline-block;
        float: right;
        padding: 0;
        margin-left: 12px;
      }
    }

    .link {
      position: relative;
      display: block;
      transform: translateX(0);
      // padding: 0 20px;
      // cursor: pointer;
      // transition: line-height 0.3s;
      // color: #677d80;
      line-height: 60px !important;
      opacity: 1;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

      // &.no-action {
      //   cursor: default;
      // }

      // &:hover {
      //   color: #00263a;
      // }

      // .icon {
      //   vertical-align: middle;
      // }

      &.basket-link {
        position: relative;

        .icon {
          width: 22px;
          height: 21px;
        }

        .text {
          margin-left: 0px;
          position: absolute;
          font-size: 9px;
          display: inline-block;
          background: #E7544B;
          border-radius: 6px;
          line-height: 12px;
          color: #fff;
          padding: 1px 5px 0 4px;
          left: 14px;
          top: 2px;

          &.hidden {
            display: none;
          }
        }
      }

    }

    .close-btn {
      width: 38px;
      height: 38px;
      cursor: pointer;
      color: #677d80;
      position: relative;
      z-index: 2;
      display: block;
      margin: 0 auto;
      padding: 11px 0;
      // position: absolute;
      // left: 50%;
      // margin-left: -19px;
      // bottom: 110px;

      &.link {
        display: block;
      }

      &:hover {
        color: #00263a;
      }

      .svg-icon-cross {
        width: 38px;
        height: 38px;
      }

      .svg-icon-menu-arrow {
        width: 48px;
        height: 40px;
        position: relative;
        left: -5px;
      }
    }


    .switch-group {
      margin-left: 0px;
      padding-top: 4px;
      display: inline-block;
    }

    // .svg-icon-user {
    //   position: relative;
    //   top: -1px;
    // }

    .minimized-header & {
      .logo {
        transform: none;
      }

      // .link {
      //   line-height: 70px;
      // }
    }

    .wholesale & {
      .site-nav {
        background: #022639;
      }

      .close-btn {
        color: #a5b2be;

        &:hover {
          color: #fff;
        }
      }

      .menu-btn {
        color: #fff;
      }

      .site-subnav {
        background: none;
      }

      // .logo {
      //   color: #fff;
      // }

      // .link,
      // .text,
      // .switch-label {
      //   color: #a5b2be;
      // }

      // .link:hover {
      //   color: #fff;

      //   .text {
      //     color: #fff;
      //   }
      // }

      // .switch {
      //   background: #a5b2be;
      // }

      // .switch-circle {
      //   background: #022639;
      // }
    }
  }

  .header-forms {
    position: fixed;
    right: auto;
    bottom: auto;
    top: 0;
    line-height: 1.5;
    // overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    // max-height: none;
    padding: 0;
    transform: translateX(100%);
    min-height: 100vh;
    z-index: 2;
    width: 100%;
    // transition: background 0.15s, transform 0.3s;
    // text-align: center;
    // color: #fff;
    // background: #578add;

    // a {
    //   text-decoration: underline;
    //   color: inherit;
    // }

    // .minimized-header & {
    //   max-height: calc(100vh - 70px);
    // }

    .errors {
      padding-top: 10px;

      .error {
        background-color: rgba(255,255,255,0.1);
        color: #fff;
      }
    }

    &.active {
      transform: translateX(0);
    }

    .forms-header {
      height: 60px;
      position: relative;
      display: block;
      margin: 0 -18px 40px;
      background-color: #1261DA;
      transition: background 0.15s;
      text-transform: uppercase;
      overflow: hidden;

      .title {
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        position: absolute;
        margin-right: 48px;
        right: 0;
        top: 18px;
        width: 120px;
        transition: right 0.3s, margin-right 0.3s;
      }

      .next-btn {
        width: 150px;
        height: 20px;
        position: absolute;
        right: 18px;
        top: 19px;
        z-index: 1;
        text-align: right;
        transition: right 0.3s;

        .svg-arrow-right {
          width: 21px;
          height: 17px;
        }
      }

      .switch-group {
        position: absolute;
        right: 18px;
        top: 15px;
        transition: opacity 0.4s;
        transition-delay: 0.05s;
        opacity: 0;

        .switch-label {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          margin-left: 8px;
          color: #fff;
        }

        .switch {
          background: #1261DA;
          border: 1px solid #fff;
          height: 16px;
          border-radius: 8px;

          .switch-circle {
            left: 0;
            top: 0;
          }
        }
      }

      &.active {
        .title {
          margin-right: -60px;
          right: 50%;
        }

        .next-btn {
          right: -150px;
        }

        .switch-group {
          opacity: 1;
        }
      }
    }

    .close-button {
      // position: absolute;
      top: 18px;
      right: auto;
      left: 18px;
      // transition: opacity 0.15s;
      // color: #fff;
      // border: none;
      // background: none;
      // font-size: 0;
      z-index: 1;
      padding: 0;

      // &:hover {
      //   opacity: 0.75;
      // }

      .svg-icon-cross {
        width: 24px;
        height: 24px;
      }
    }

    // .label {
    //   color: #fff;
    // }

    // .text-input {
    //   border-color: #fff;
    // }

    // .wholesale & {
    //   border-top: 1px solid #fff;
    //   background: #022639;
    // }

    // .round-button {
    //   color: #fff;
    //   border-color: #fff;

    //   &:hover {
    //     color: #231f20;
    //     background: #fff;
    //   }
    // }

    .pseudo-link {
      // cursor: pointer;
      // color: #fff;
      // font-family: 'Georgia';
      font-size: 16px;
      line-height: 1.5;
    }

    .form-description {
      text-align: left;
      margin-bottom: 16px;
      font-family: Georgia, sans-serif;
      text-transform: none;
      font-weight: 400;
      // color: #fff;
    }

    .login-form {
      padding-bottom: 60px;
      // text-align: center;

      // .inputs {
      //   display: inline-block;
      //   text-align: left;
      //   vertical-align: top;
      // }

      .buttons {
        // display: inline-block;
        // margin-top: 0;
        margin-left: 0;
        padding-top: 48px;
        // vertical-align: top;

        .js-toggle-registration {
          display: none;
        }
      }

      // .errors {
      //   display: inline-block;
      // }
    }

    .restore-form {
      padding-bottom: 60px;
      // display: none;
      // text-align: center;

      .inputs {
        // position: relative;
        top: 0;
        // display: inline-block;
        // text-align: left;
        // vertical-align: top;
      }

      .buttons {
        // display: inline-block;
        // margin-top: 0;
        margin-left: 0px;
        padding-top: 48px;
        // vertical-align: top;

        .js-toggle-restoration {
          display: none;
        }
      }

      // .errors {
      //   margin-right: -60px;
      // }

      .success {
        background-color: rgba(100, 239, 139, 0.2);
        color: #007700;
        padding: 5px 8px;
        line-height: 20px;
        margin-bottom: 8px;
        border-radius: 3px;
        font-size: 1rem;

        &:before {
          margin-right: 0;
          margin-left: 0;
          content: '';
        }
      }
    }

    .registration-form {
      padding-bottom: 60px;

      .already-registered {
        display: block;
        text-align: left;
        margin-bottom: 28px;
        font-family: Georgia, sans-serif;

        span {
          text-decoration: underline;
        }
      }

      .inputs,
      .buttons {
        width: 100%;
        margin: 0 auto;
      }

      .buttons {
        // position: relative;
        // margin-top: 70px;
        // text-align: center;

        .link-wrapper {
          display: none;
          // position: absolute;
          // top: 50%;
          // left: 0;
          // margin-top: -20px;
          // text-align: left;
          // line-height: 20px;
        }
      }
    }

    .wholesale & {
      background-color: #677D80;
      border-top: none;

      .forms-header {
        background-color: #00263A;

        .switch-group {
          .switch {
            background: #00d969;

            .switch-circle {
              background: #00263A;
            }
          }
        }
      }
    }
  }

  @media (max-width: 340px), screen and (orientation: landscape) {
    .page-header {
      position: relative;
    }

    .header-main {
      .site-subnav,
      .site-nav {
        padding-bottom: 0;
        height: 100vh;
        overflow: auto;

        .link {
          font-size: 28px;
          line-height: 52px !important;
        }
      }

      .site-subnav {
        .subnav-wrapper {
          min-height: 312px;
        }
      }

      .close-btn {
        bottom: auto;
        top: 36px;
        left: 36px;
        position: fixed;
        margin-left: 0;

        .svg-icon-menu-arrow {
          position: relative;
          left: -10px;
        }
      }
    }
  }

}