@media only screen and (max-width: 768px) {
  .svg-logo {
    width: 94px;
    height: 32px;
  }

  .svg-icon-input-check {
    width: 13px;
    height: 10px;
  }

  .svg-decoration-2 {
    width: 24px;
    height: 24px;
  }

  .svg-icon-sort {
    width: 23px;
    height: 19px;
  }
}