body {
  overflow-x: hidden;
  width: 100%;
}

.iscroll-wrapper {
  position: relative;
  overflow: visible !important;
  // width: 100vw !important;
  height: 304px !important;
  margin-top: 40px;
  // padding-right: 71px;

  @media only screen and (max-width: 340px) {
    height: 255px !important;
  }

  @media only screen and (orientation: landscape) {
    height: calc(100vw - 71px) !important;
  }
}

.iscroll-container {
  // padding-top: 24px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .item {
    float: left;
    // width: 100vw;
    width: calc(100vw - 71px);
    padding: 24px 12px 0;
    // width: 280px;
    // position: relative;
    // top: 24px;
    // margin-right: -48px;

    img {
      // margin: 0 auto;
      position: relative;
      left: 38px;
    }

    &.active {
      padding-top: 0;
    }
  }
}

.image-blocks {
  .mobile-gallery {
    .gallery-texts {
      height: 96px;

      .title {
        display: none;
      }

      .text {
        font-family: Georgia, sans-serif;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.mobile-gallery {
  position: relative;
  margin: 0 -18px 24px;
  padding-right: 71px;
  overflow-x: hidden;
  z-index: 1;

  .text-with-decorations {
    padding: 40px 18px 0;
    margin-bottom: 16px;
    width: calc(100% + 71px);

    .text {
      margin: 16px 0;
    }
  }

  .bg {
    position: absolute;
    display: block;
    width: 100%;
    top: 140px;
    bottom: 0;
    left: 0;
    background: #ffffff;
    transition: background-color 0.2s linear;
    z-index: 0;
  }

  &.mobile-gallery-philosophy {
    .bg {
      background-color: #17488B;
    }
  }

  &.mobile-gallery-collections {
    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0px;
      left: 0;
      content: '';
      background: #f2e9ee;
    }
  }

  .gallery-texts {
    font-size: 0;
    height: 240px;
    position: relative;
    width: calc(100% + 71px);
    overflow: hidden;
    z-index: 1;
  }

  .item-text {
    width: 100%;
    padding-top: 16px;
    display: block;
    text-align: center;
    color: #00263A;
    position: absolute;
    top: 0;
    left: 80%;
    opacity: 0;

    &.active {
      left: 0;
      opacity: 1;
    }

    .title {
      width: 100%;
      font-size: 80px;
      line-height: 60px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 0 17px;
    }

    .text {
      width: 100%;
      line-height: 40px;
      font-size: 28px;
      font-weight: 300;
      max-width: 280px;
      margin: 0 auto;

      br {
        content: ' ';

        &:after {
          content: ' ';
        }
      }
    }
  }

  .gallery-texts-technologies-main {
    height: 145px;

    .title {
      font-size: 44px;
      line-height: 60px;

      sup {
        margin-right: -32px;
      }
    }

    .text {
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .gallery-texts-collections,
  .gallery-texts-philosophy {
    height: 145px;

    .title {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .gallery-texts-facts {
    .plus {
      width: 8px;
      display: inline-block;
    }

    .text {
      text-transform: uppercase;
    }
  }

  .gallery-texts-philosophy {
    height: 260px;

    .title {
      color: #fff;
    }

    .text {
      color: #fff;
      font-size: 16px;
      font-family: Georgia, sans-serif;
      line-height: 24px;
      font-weight: 400;
      text-transform: none;
      max-width: none;
      width: 100%;
      padding: 0 18px;
    }

  }

  // .about-page {
  //   .b-materials {
  //     .b-materials__item__title {
  //       text-transform: none;
  //       font-size: 14px;
  //       line-height: 20px;
  //     }
  //   }
  // }

}